[2018-09-16 21:27] galenlynch commented on #12134
My backend is GTK3Cairo. @ImportanceOfBeingErnest is right that I get the `agg` warning when calling tight from python when interactive mode is off, so given the issues that he mentioned, it seems like cairo images being upside down would explain everything that I've experienced. However, I do not get the agg warning when using interactive mode, and therefore see consistently wrong behavior. To me

[2018-09-16 21:30] galenlynch commented on #12134
Oh and @jklymak I was looking at the generated file. I get different behavior when I use interactive mode (which I guess is the equivalent of plt.show()?).

[2018-09-16 21:38] eric-wieser commented on #8877
This should probably remain open until some image-comparison tests are added to confirm it is fixed. I suspect the last issue still persists

[2018-09-16 21:42] jklymak commented on #12134
This is still confusing.  Running the code above as a script should not use gtk3cairo.   And the bug in #8798 shouldn’t have anything to do w tight_layout.  I’d also have thought that saving interactively should still have run through agg but maybe by that point the image is already incorrect.  Anyhow the problem has been fixed in master.  I don’t see any reason it couldn’t be back ported to 2.2.4

[2018-09-16 21:58] ImportanceOfBeingErnest commented on #12134
I suppose the user's `backend` rcParam is simply set to `gtk3cairo`?!
And then, it's a combination of both, I guess. Without the `tight_layout` you would probably consistently get the wrong behaviour. So appart from the flipping issue, there is also the question why `tight_layout` would switch the renderer and whether this is expected.
(There is also another warning about `tight_layout` not being

[2018-09-16 23:41] ImportanceOfBeingErnest commented on #12134
The probability to find some bug in the cairo backends is currently a little larger than for the agg backends. It seems the cairo backends do not get the same love as the agg backends when it comes to maintainance.
On the other hand the agg backends currently show some really [bad issues with marker and tick positionning](https://github.com/matplotlib/matplotlib/issues/7341), which are not present

[2018-09-17 00:08] galenlynch commented on #12134
Whoops, I meant 2.2.3 -- that's the version that I'm using.

Ok I'll keep in mind that I should try different backends when I run into issues down the road.

Thanks again for both of your help!

[2018-09-17 02:46] mmenschig commented on #12074
Thank you @jklymak

I'll be revisiting this issue when the current beta version of macOS gets released and provide an update then.

[2018-09-17 05:21] eric-wieser opened #12138 "Faces of Axes3d.bar3d are not oriented correctly"
All of the faces of the polygons created by `bar3d` are oriented (using a right-hand rule on the vertex order) in the positive axis directions. As a result, the shading used by `shade=True` is incorrect, as it shades both the front and back faces with the same brightness.

Rotating the [`hist3d`](https://matplotlib.org/examples/mplot3d/hist3d_demo.html) demo, we can see the left and right faces of

[2018-09-17 13:32] anntzer opened #12140 "plt.imshow() error on PIL-opened tiff images"
[code]
fails with
[code]
since https://github.com/matplotlib/matplotlib/pull/8966/commits/12c27f3892931f0f3113e3041bed38d195b1d40d (mpl 2.1 @tacaswell); previously it was possible to directly plot PIL-opened images (which do follow the standard buffer protocol).

It is not particularly problematic because one can just wrap explicitly the PIL-opened image using np.asarray, or use plt.imread instead

[2018-09-17 18:40] shamichatterjee commented on #9253
This is still an issue in Python 3.6.6 / Matplotlib 2.2.3. Thank you for the pointer to plt.minorticks_off() - I ran into the same problem, and I second the sentiment that user-specified x/yticks should always take precedence over default labels.

[2018-09-18 03:20] tacaswell opened #12146 "fix pdf docs"
The latexpdf docs are not building cleanly again due to names with non-latin characters and a music note in the docs:

- Андрей Парамонов
- David Trémouilles
- \$♫\$

`make latexpdf` is enough to trigger this.

We either need to sort out how to convince pdflatex to play nice with unicode or to switch sphinx to using xetex (or one of the other modern ones?)

[2018-09-18 03:28] tacaswell commented on #12146
We may also want to revert af102661c which made the html less pretty, but makes the latex build.

[2018-09-18 03:33] tacaswell commented on #12100
not sure, but they can probably be changed to.

[2018-09-18 03:42] pharshalp commented on #12056
I will take this up over the weekend and try to document this (in addition to #11586 related to the use of TeX. I did start a PR #11718 but couldn't follow through).

[2018-09-18 05:37] Hu-Hongyan commented on #9017
That is used for me.
In some Saas platforms, users are forbiden to change system environment, so fix like this will help.
Thank you very much.

[2018-09-18 06:08] dimaqq commented on #9017
It's a total bummer that matplotlib initializes the backend early, and fails hard.
Perhaps there's a good reason for that.
From what I see, a notable share of users stumbles on this when trying matplotlib for the first time, i.e. if they copy-paste an example and boom! a cryptic exception instead of pretty plots.
I sincerely hope that the maintainers take a second look at this issue.

[2018-09-18 09:04] mgeier commented on #12115
Thanks @ImportanceOfBeingErnest, the suggested config setting for the `InlineBackend` works perfectly!

I still have to look into the `ipympl` backend some day ...

[2018-09-18 09:04] #12115 closed

[2018-09-18 13:49] jklymak commented on #9017
3.0.0 will change the backend fallback behaviour.

[2018-09-18 14:17] anntzer commented on #11070
numpy 1.15 introduced a 'density' kwarg to hist2d (https://github.com/numpy/numpy/pull/11529).  Even if we don't require numpy 1.15, we can always just introduce the 'density' kwarg and pass it as 'normed' to numpy.

[2018-09-18 15:47] #11838 closed

[2018-09-18 17:00] rayosborn opened #12155 "Incorrect placement of Colorbar ticks using LogNorm"
### Bug report

**Bug summary**

After upgrading to Matplotlib v3.0.0, the tick marks on the colorbar are no longer placed correctly when using a matplotlib.colors.LogNorm normalization.

**Code for reproduction**

The code is embedded in a class defined within the NeXpy application, but uses standard Matplotlib function calls. Here are the relevant extracted lines:

[code]

**Actual outcome**

In

[2018-09-18 17:34] tacaswell commented on #12155
That looks like the 'log' scale did not get propogated to the color bar axex correctly.

If you do `self.colorbar.set_yscale('log')` does it look right?

[2018-09-18 17:38] tacaswell commented on #9017
The other option is no exceptions and no plots.  The cryptic error at least suggests that something is not behaving as expected.

[2018-09-18 17:40] dstansby commented on #11290
I'm having a look at this now, but having trouble with your example @astrofrog ; when I do
[code]
I just get a bunch of zeros; dividing `np.diff(x)` by a number seems to just zero it out. Do you know of a way to fix this? Internally `Matplotlib` has to divide the width by 2, which is why I can't get your example working.

[2018-09-18 18:57] ImportanceOfBeingErnest commented on #12155
I do have problems reproducing this. I ran the following in the current development version

[code]

and this is the result which looks expected:

![image](https://user-images.githubusercontent.com/23121882/45709681-d77a6500-bb84-11e8-8f28-7ae15bd6168a.png)

You may notice that the ticklabels look differently compared to the example which makes me think that the code shown in the original post is

[2018-09-18 19:06] rayosborn commented on #12155
I will see if I can reproduce it outside the NeXpy context. The reason I posted is that this specific code has been untouched since Matplotlib v1.5, and it has worked without problem up until v2.2.3. I was hoping someone could point to the changes in the Matplotlib API that are likely to be relevant.

[2018-09-18 19:17] jklymak commented on #12155
Coorbar handling definitely changed:

[2018-09-18 19:53] anntzer commented on #11769
(As a reference point: mplcairo does not suffer from this issue, so it "should" be fixable :))

[2018-09-18 20:47] rayosborn commented on #12155
I've managed to produce a simple example demonstrating the problem. It turns out that the issue shows up if you make a plot with a linear color scale first and then transform it to a log scale.

[code]
![matplotlib-color-bar-issue](https://user-images.githubusercontent.com/1193959/45715362-b5b7b880-bb59-11e8-8ec1-50dfca17ebd1.png)

[2018-09-18 20:48] QuLogic commented on #11290
`'M8[D]'` has a single day resolution, and your array goes up by one, so dividing by two rounds down to 0. You'd need to at least change it to hourly resolution.

[2018-09-18 21:12] ImportanceOfBeingErnest commented on #12155
An immediate solution is to use

     cbar.update_bruteforce(im)

instead.

[2018-09-18 21:29] anntzer commented on #12146
Something like
[code]
in conf.py works on a minimal sphinx example.

For some reason I need to force the use of babel, I get an error with polyglossia (the default on lualatex/xelatex), dunno why, you may not need it.
If you don't set the font to DejaVu (for example), then you get the default (lmodern) which doesn't have coverage for cyrillic and music notes, so the docs do build but the missing c

[2018-09-18 21:31] jklymak commented on #11290
@dstansby, not sure of the approach you are taking here, but I think as @timhoffm says, we should add timedelta64 to dates.py, and register it.  Then all the math can be done in floating point numbers...

[2018-09-18 21:43] rayosborn commented on #12155
Thanks for giving such quick feedback. NeXpy has a checkbox for switching between linear and log scales, which we use all the time when looking for features on different intensity scales. It looks like replacing `update_normal` with `update_bruteforce` fixes my problem in NeXpy - if I use `update_normal` and `config_axis`, then the height of my color bar changes when I change the intensity scale.

[2018-09-18 21:53] jklymak commented on #12155
What do you do to change the intensity scale?  If I do the following, it all seems to work fine, but maybe I'm misunderstanding.  You shouldn't have to play around w/ shrink after you have initially made the colorbar.

[code]

[2018-09-18 22:00] dstansby commented on #11290
Trying to take that approach, but running into the problem that `np.timedelta64` is a subclass of `numbers.Number`, so the conversion interface assumes it doesn't need converting:

[code]
prints
[code]

[2018-09-18 22:01] ImportanceOfBeingErnest commented on #12155
To reproduce the shrinking:

[code]

![image](https://user-images.githubusercontent.com/23121882/45718959-1f0dea80-bb9f-11e8-8f9c-1ebd1f781e28.png)

[2018-09-18 23:04] jklymak commented on #12155
Huh.  That’s a very strange bug.  I’ll check it out soon.

[2018-09-18 23:40] jklymak commented on #12155
[code]

[2018-09-18 23:50] tacaswell commented on #12146
:+1: just figured out half of this.

I am just going to push this fix to the docs branch.

[2018-09-19 02:39] jklymak commented on #12155
Fix in #12159 now fixes the above as well.  Needs a test I guess...

[2018-09-19 04:13] fralau opened #12160 "MacOS: Cannot import name 'format_exc'"
### Bug report

**Bug summary**

When importing matplotlib on Macos (python 3.6 or 3.7), an ImportError occurs with `Cannot import name 'format_exc`

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

Import should work

**Matplotlib version**

  * Operating system: MacOS 10.12.6
  * Matplotlib version: 3.0.0
  * Matplotlib backend (`print(matplotlib.get_backend()

[2018-09-19 05:32] dimaqq commented on #9017
Thanks @jklymak that's very good to hear!

[2018-09-19 06:42] anntzer commented on #3679
This is implemented as of 3.0 (#9795 and following PRs).

[2018-09-19 06:42] #3679 closed

[2018-09-19 06:43] anntzer commented on #6739
Closed by #9795 + following PRs.

[2018-09-19 06:43] #6739 closed

[2018-09-19 06:44] anntzer commented on #8613
Improved, but not closed, by #9795 (there's a fixed fallback list now).

[2018-09-19 06:45] billtau opened #12161 "Problems of using sharex options with lines plots and colormesh with colorbar"
### Bug report

**Bug summary**
I am trying to make a plot with sharex options.  There are two subplots, one is just a line plot, and the other is made with pcolormesh, with a colorbar.  The use of the colorbar, however, totally messed up the position of the plot from pcolormesh.

**Code for reproduction**

[code]

**Actual outcome**
![with_cb](https://user-images.githubusercontent.com/14089622/45

[2018-09-19 06:48] #12010 closed

[2018-09-19 07:59] marcelm opened #12162 "https://matplotlib.org/users/beginner.html is outdated"
There seems to be an outdated tutorial page online at https://matplotlib.org/users/beginner.html . It has the old “Matplotlib 2.0.0rc2 is available – Install the release candidate now!“ banner.

I guess it’s not reachable from the main page, but it comes up in Google results.

[2018-09-19 08:37] QuLogic commented on #12162
Duplicate of #9556 (and others.)

[2018-09-19 08:37] #12162 closed

[2018-09-19 08:38] #12107 closed

[2018-09-19 11:45] Cory-Kramer commented on #9485
Just upgraded `matplotlib` from `2.2.3` to `3.0.0` and ran into this exact same issue.

**Versions**
Operating system: Windows 10 64bit
Matplotlib version: 3.0.0
Python version: 3.5.4

**Code to reproduce**
`import matplotlib.pyplot as plt`

This will produce an identical stacktrace to the OP. We have pinned back our `matplotlib` versions to `2.x` as a workaround.

[2018-09-19 12:02] Yobmod opened #12168 "pip install v3.0.0 'failed with exit status 1181'"
### Bug report

**Bug summary**

Trying to pip install on windows 7, python 3.6.3:

"LINK: fatal error LNK1181: cannot open input file 'png.lib'
error: command 'C:\program Files(x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\link.exe'
failed with exit status 1181

**Code for reproduction**

pip install matplotlib  # fails

pip install matplotlib==2.2.3  # works

[2018-09-19 12:07] dumbledad opened #12169 "Cannot install 3.0.0 "python setup.py egg_info" failed (freetype & png)"
I cannot install matplotlib.

I am on a Dell Precision 5820 running Windows 10.0.17763

I have tried downloading the source and building locally, using their installers to install freetype and png, restarting the machine, running the command prompt as administrator, running `python -mpip install -U matplotlib` instead, updating pip, updating setuptools, installing ez_setup, ...

This is the readou

[2018-09-19 12:13] dumbledad commented on #12169
Note that `pip install matplotlib==2.2.3` works without error

[2018-09-19 13:31] ImportanceOfBeingErnest commented on #12169
First of all it's clear that matplotlib will not install correctly when `freetype` and `libpng` are missing. So the problem would be to get those installed.

I can reproduce the fact that pip seems to be unable to install those

[code]
same story for libpng. This is within an environment created via `conda create -n mpl300testing03 python=3.7 numpy`.

However, conda seems to be able to sucessfully

[2018-09-19 13:46] tacaswell commented on #12169
@dumbledad Try again now, I failed to correctly upload all of the wheels so you are getting the tarball and trying to compile from source!

[2018-09-19 13:53] ImportanceOfBeingErnest commented on #12169
Oh, that would then also be the solution for #12168 I guess?

[2018-09-19 13:56] tacaswell commented on #12169
Most likely.

[2018-09-19 13:57] tacaswell commented on #12168
@Yobmod Can you please try again?

[2018-09-19 14:05] Yobmod commented on #12168
Just retried, and it is now working for me. Thanks!

[2018-09-19 14:08] tacaswell commented on #12168
Great!

sorry about that, definitely my fault :sheep:

[2018-09-19 14:08] #12168 closed

[2018-09-19 14:09] tacaswell commented on #12169
Closing as #12168 is almost certainly the same problem and is reported fixed.

[2018-09-19 14:09] #12169 closed

[2018-09-19 14:09] dumbledad commented on #12169
@tacaswell That's fixed it, thanks.

[2018-09-19 14:11] tacaswell commented on #9485
@Cory-Kramer Can you open a new issue for this?  This was fixed in 2.1.1 so the breaking between 2.2.3 and 3.0 is a new :bug: .

[2018-09-19 14:17] dstansby commented on #12160
That looks like a python error and not a Matplotlib error; if you start python and just run
[code]
Does it give you an error? If so I would suggest re-installing python and seeing if that fixes it.

[2018-09-19 14:49] Cory-Kramer opened #12173 "Cannot import pyplot"
### Bug report

**Bug summary**
I am unable to `import matplotlib.pyplot` starting in version 3.0.0. Might be related to Issue #9485?

**Code for reproduction**

[code]

**Actual outcome**

I get the following traceback when executing the above `import`

[code]

**Matplotlib version**

  * Operating system: Windows 10 64-bit
  * Matplotlib version: 3.0.0
  * Matplotlib backend: TkAgg
  * Python ve

[2018-09-19 15:00] fralau commented on #12160
Hi, thanks for your answer

Here is why I get:
[code]
That sounds OK?

[2018-09-19 15:19] dstansby commented on #12160
No worries, glad you got it sorted!

[2018-09-19 15:19] #12160 closed

[2018-09-19 15:40] tacaswell commented on #12160
This is a problem more often than you would think!

[2018-09-19 15:54] anntzer commented on #12146
Closed by https://github.com/matplotlib/matplotlib/commit/5758fc8c7f1ca4f6eadf9744e597fc09c3700031

[2018-09-19 15:54] #12146 closed

[2018-09-19 16:59] jklymak commented on #12155
I think #12159 fixes this, but I guess I think if a GUI is going to change so much of the colorbar, it should indeed call `cbar.update_bruteforce(im)`.  I'm not thrilled with the name of this function, but it does what the OP wanted, which is to remove the old colorbar and make a new colorbar based on `im`.  The info about locators etc is lost, but presumably the user has kept track of those.

Tha

[2018-09-19 17:20] dsentinel commented on #12173
Same on a mac installed with conda if `~/.matplotlib/fontlist-v300.json` doesn't exist
[code]
hangs.... ctl-c
[code]
`~/.matplotlib/fontlist-v300.json` didn't exist until I ran the import testing other versions (py27)

[2018-09-19 20:04] eferreira commented on #12119
For my part I'm hoping that the 2.2.3 wheels can be rebuilt against numpy 1.7.1 so that using pip to install matplotlib 2.2.3 along with numpy < 1.10 works smoothly.

[2018-09-19 21:19] jklymak commented on #12161
Constrained_layout=True also takes care of this without any hoops so long as you don’t mind the other layout things it does.

[2018-09-19 21:45] jklymak commented on #11937
Just to clarify a bit.  This is a problem with the locator for contours.  The above code works with pcolor for instance.

Someone would have to dig into what the interaction is between the contour locator and locator_params, but my assumption would be that you just shouldn’t do this.

[2018-09-19 22:21] adeak opened #12175 "Example link near markevery in the "What's new in 3.0" page is malformed/broken"
The published ["What's new in 3.0" page on support for `axes.prop_cycle` property _markevery_ in `rcParams`](https://matplotlib.org/users/whats_new.html#support-for-axes-prop-cycle-property-markevery-in-rcparams) says

(sic). That is, the markdown seems broken.

The corresponding markdown source is
[code]

Note the path specification at the end that seems to be mangled in the rendered webpage. The

[2018-09-19 23:03] dsentinel opened #12176 "import pyplot on MacOS without font cache will search entire subtree of current dir"
### Bug report

**Bug summary**

On import if `/Users/lloyd/.matplotlib/fontlist-v300.json` does not exist, will scan entire tree of current dir.
Looks like this was a typo, and then a flake commit included "" which pathlib interperetes as .
https://github.com/matplotlib/matplotlib/pull/11963/files#r218979454

**Code for reproduction**

On a mac installed with conda if `~/.matplotlib/fontlist-v300

[2018-09-20 01:51] MahdiEsf commented on #12173
I have the same issue, the same error. matplotlib 3.00. Doesn't find fontlist-v300.json

[2018-09-20 02:14] tacaswell commented on #12173
Not finding that file in fine, it is a cache and automatically re-generated.

[2018-09-20 02:31] tacaswell commented on #12176
As I said elsewhere, I think my initial reaction to this was wrong and that rather than fixing a bug, adding the `,` in was a big change in behavior and the correct fix is to remove the empty string.

While including the cwd makes sense at first glance, it does not because a) the result is cached so the next time your cwd will be different but we will not find those files b) the time it takes to s

[2018-09-20 02:50] tacaswell commented on #12119
See https://github.com/MacPython/matplotlib-wheels/pull/5

I think that is enough to fix the wheels, but I am more concerned about the process of replacing the wheel on pypi....

[2018-09-20 08:04] RaphP opened #12178 "Violin plot inconsistency between list and numpy"
### Bug report

When feeding the same data to violin plot in list or in numpy array, the result is not the same.

**Code for reproduction**

[code]

**Actual outcome**

![problem](https://user-images.githubusercontent.com/10462086/45803215-4bb62500-bcb9-11e8-86ab-36d9b28f5764.png)

**Expected outcome**
Both should be the same isn't it ?

Actually the [doc](https://matplotlib.org/api/_as_gen/matplo

[2018-09-20 08:38] anntzer commented on #12178
See also https://github.com/matplotlib/matplotlib/issues/8092 for the same issue with boxplots.  (I agree that the behavior is... awkward.)

[2018-09-20 10:14] spinicist commented on #3135
A lot of the fonts I want to use on Mac (principally Gill Sans) are also TTC, so I would love to see #9787 merged.

[2018-09-20 11:08] dstansby opened #12180 "Deprecate and remove pyplot.plotfile?"
Currently the record array methods in the `mlab` module are deprecated, but `pyplot.plotfile()` still requires them and has not been deprecated. Does anyone have any objections to deprecating `pyplot.plotfile()`, and supplying users with alternative options for reading in files (e.g. numpy, pandas)?

[2018-09-20 12:13] ImportanceOfBeingErnest commented on #12180
I guess this makes sense. The key would be really to provide alternatives. I think people like the simplicity of reading the data and plotting it in one line seen from often used constructs like

     pandas.read_csv("fname").plot()

I've never seen someone using `pyplot.plotfile` though. I don't know where in the docs that would fit, but showing matplotlib options like

    plt.plot(*np.loadtxt("

[2018-09-20 13:55] WeatherGod commented on #12180
The record array methods in mlab predates the numpy days. Why not just
update plotfile() to use the numpy functions?

On Thu, Sep 20, 2018 at 8:14 AM Elan Ernest <notifications@github.com>
wrote:

[2018-09-20 14:07] jklymak commented on #12178
I personally think this difference shouldn’t have happened.  I think we should change hist and violinplot to be consistent with plot which if I recall correctly is each data set is in a row and the time increases as you move across columns.

However I suspect this change came in a long time ago so I’m not sure how easy it would be to change without breaking a lot of downstream code.   Certainly it

[2018-09-20 14:38] ImportanceOfBeingErnest commented on #12178
This feels a bit like a deja-vu, but the main point is that you usually have data in columns. However, if you use datasets of different length they cannot be stored in a matrix, hence the option to use a list of (possibly unequal-length) datasets.
 Concerning `plot`, it only ever plots columns, even if supplied as list of lists. That makes sense, because for plot you cannot have unequal-length dat

[2018-09-20 16:08] jklymak commented on #12178
Oops got it backwards in my post above.

Ok it’s fair enough to say a list will each contain a distinct data set.  That’s really different than saying one is transposed from the other.  I appreciate that if you make a matrix from the list of lists it will be transposed, but that description misses the point.  A change to all the docstring s that use these dual conventions the way you nicely explai

[2018-09-20 19:30] #12176 closed

[2018-09-20 20:02] defjaf opened #12188 "matplotlib 3 pyplot on MacOS bounces rocket icon in dock"
### Bug report

**Bug summary**

Rocket icon appears in dock (and bounces) when `matplotlib.pyplot` is imported after installing matplotlib 3.0. In previous versions, this didn't happen (and still doesn't with `python2` on the same machine)

**Code for reproduction**

[code]

**Actual outcome**
Rocket icon appears in MacOS dock and bounces for a while.

**Expected outcome**
Nothing (no dock icon f

[2018-09-20 21:20] timhoffm commented on #12180
+0.5 on deprecating `plotfile()`. It does too much. Parsing a file and plotting are separate concerns. While it may be convenient for a user, it's not reasonable from an API point of view.

`pandas.read_csv("fname").plot()` does it right by chaining the different functionalities. The other two pyplot-based code snippets are reasonable as well. We could just add an example for "Plotting data from a

[2018-09-20 22:42] tacaswell commented on #12188
Is python hung while it is bouncing?  If so I suspect that this is related to the font search issue (see https://github.com/matplotlib/matplotlib/issues/12176 / #12177 ).  We have a fix in, and there will likely be a 3.0.1 in a few weeks.   For now I suggest either going to an empty directory, doing the import there to let the font cache build.

[2018-09-20 23:03] timhoffm opened #12191 ""if 1:" blocks in examples"
### Bug report

Some examples contain code in an `if 1:` block.

e.g. https://matplotlib.org/devdocs/gallery/axisartist/demo_axisline_style.html
or https://matplotlib.org/devdocs/gallery/event_handling/pick_event_demo.html

IMO this does not make sense and is rather confusing for the reader.

The condition should simply be removed for trivial cases, or replaced by functions if appropriate.

[2018-09-21 05:42] defjaf commented on #12188
No, I don't think it's that. Python is running just fine with the icon in the dock.

(Aside: I do think I've also encountered that issue, however -- when diagnosing this, I tried to remove my `.matplotlib` directory and definitely found several issues with the system trying to set up fonts: 1. it stops whenever it finds a bad symlink anywhere in my filesystem; 2. Even after I fixed all of those, i

[2018-09-21 09:13] gansanay opened #12197 "Weird behaviour of suptitle() when horizontalalignment is not 'center'"
### Bug report

**Bug summary**

`horizontalalignment = 'left'` aligns the title on the right, `horizontalalignment = 'right'` aligns a short title on the left, `horizontalalignment = 'right'` displaces a longer title on the far left

**Code for reproduction**

[code]

**Actual outcome**

* Left alignment test, short title
![left_align](https://user-images.githubusercontent.com/3726359/45871500-f4

[2018-09-21 09:59] defjaf commented on #12188
Perhaps I should ask if anyone is or isn't seeing this behaviour?

[2018-09-21 11:30] ImportanceOfBeingErnest commented on #12197
This is all expected. The `suptitle` is in all cases positionned in the horizontal center of the figure. `horizontalalignment` aligns the text relative to this center position, i.e. if for `horizontalalignment=left`, the left end of the text is at the center position, for `horizontalalignment=right` the right end of the text is at the center.

![image](https://user-images.githubusercontent.com/231

[2018-09-21 11:36] gansanay commented on #12197
Thank you for your answer!

Do you agree this should be documented?

[2018-09-21 11:47] anntzer opened #12198 "axvline incorrectly tries to handle unitized ymin, ymax"
After
[code]
and panning the axes around, one sees that matplotlib (3.0) converted ymin and ymax to the scalar values 1 and 1.05, which is not correct: ymin and ymax are values relative to the axes bounds and thus intrinsically unitless; passing unitized data to ymin or ymax should result in an error.

The same point likely applies to axhline, axvspan, axhspan.

[2018-09-21 11:51] ImportanceOfBeingErnest commented on #12197
[`subtitle`](https://matplotlib.org/api/_as_gen/matplotlib.figure.Figure.html#matplotlib.figure.Figure.suptitle) documents

 `y` : float, default 0.98 The y location of the text in figure coordinates.
 `**kwargs`: Additional kwargs are [`matplotlib.text.Text`](https://matplotlib.org/api/text_api.html#matplotlib.text.Text) properties.

[`matplotlib.text.Text`](https://matplotlib.org/api/text_api.ht

[2018-09-21 11:55] timhoffm commented on #12197
`suptitle` could be more precise in documenting `horizontalalignment` and `verticalalignment` e.g.

`The horizontal alignment of the text relative to (*x*, *y*)`.

Feel free to open a PR.

[2018-09-21 12:13] ImportanceOfBeingErnest commented on #12197
Since `horizontalalignment` isn't really an argument of `suptitle` but part of the kwargs, which are passed on to `Text`, do you feel one should make an exception here and document this kwarg explicitely?

I would have though maybe documenting `Text`'s [horizontalalignment](https://matplotlib.org/api/text_api.html#matplotlib.text.Text.set_horizontalalignment) in a bit more than half a sentence cou

[2018-09-21 12:46] defjaf commented on #12188
See also [this post from Dr Drang](http://leancrew.com/all-this/2014/01/stopping-the-python-rocketship-icon/) regarding Python 2.7.

Note that the plist hack still works, but `matplotlib.use("Agg")` doesn't anymore. Could this be due to the fallback backend search?

But this brings up another question: I *don't* see this behaviour under Python 2.7 (and I don't remember seeing it at the time that t

[2018-09-21 13:54] DTicien opened #12201 "issues clearing rubberband on nbagg at non-default browser zoom"
### Bug report

**Bug summary**

When trying to zoom in or out while in %matplotlib notebook mode, part of the "zoom rectangle" remains at the bottom and the right part of the axis.
The result is an axis crowded with remains of this rectangle and not readable anymore.

**Code for reproduction**

import matplotlib.pyplot as plt
%matplotlib notebook

plt.figure()
plt.plot(0,0)
plt.show()

**Actual o

[2018-09-21 14:32] tacaswell commented on #12201
does re-sizing the plot force enough of a re-draw to fix it?

[2018-09-21 14:44] DTicien commented on #12201
Yes it does erase the rectangle when re-sizing.

[2018-09-21 15:29] tacaswell commented on #12201
Do you have the 'zoom' on your browser set to not 100%?

It looks like there is some confusion in the code as to how big your figure is.

The way nbagg works is we ship a png to the browser and wrap it in enough js to get the title bar and capture mouse/keyboard events.  We then pipe those events back to the python side, update the plot, and ship a png (diff) back to the browser to update what you

[2018-09-21 15:45] DTicien commented on #12201
Issue fixed!
It was indeed the browser that was set to 90% and not 100%, that's the ratio we roughly observe on the screenshot.
Thanks for you help, that wasn't an obvious one...

[2018-09-21 15:55] tacaswell commented on #12201
I'm going to re-open this (and changed the title). Although we figured out a workaround for you, this is something that should be supported!

attn @SylvainCorlay I suspect that ipympl will have the same bug.

[2018-09-21 15:57] jklymak commented on #12188
This is somewhat confusing as Matplotlib 3.0.0 does not run under python 2.7.  So did you mean Matplotlib 2.2.x doesn't bounce?

I have a Mac and I never see the rocket icon after I set my backend to Qt5Agg.  Have you tried setting this in `~/.matplotlib/matplotlibrc`?  Its possible the new renderer fallback is not working properly...

This'll be hard for me to debug - I use conda for my install,

[2018-09-21 16:00] SylvainCorlay commented on #12201
@tacaswell thanks for the ping!

[2018-09-21 16:09] defjaf commented on #12188
To be clear:

- **Python 3 + Matplotlib 3**: bounces no matter what backend
- **Python 2.7 + Matplotlib 2.2x**: gives no icon if launched without a gui backend in `matplotlibrc`, bouncing icon if launched with gui backend
- **Python 3 + Matplotlib 2.2x**: I don’t have this setup on my machine right now, but I recall that  it behaves as on Python 2.7.

[2018-09-21 16:15] jklymak commented on #12188
That is hard to understand, and my guess is that its always choosing the same backend, depsite your intentions

Can you put

[code]
at the top of your script and check that its really giving the intended backend?

[2018-09-21 16:27] defjaf commented on #12188
Yep:

[code]

bounce - bounce - bounce

[2018-09-21 16:57] gsportelli commented on #12188
I can confirm that with Python 3 and Matplotlib 2.2.2 the icon does not show up.

[2018-09-21 17:06] kbrose commented on #12120
Made a PR (referenced above) with documentation only changes. I know people can be quite opinionated on warnings so I'm going to hold off on that for a while yet. I still have hopes that there may be optimizations to be made.

[2018-09-21 18:18] jklymak commented on #12188
@defjaf   Sorry, I can't reproduce conda py3.7, mpl3.0.0.  I don't get any icons in the doc until I do plt.show().  Must be something funky w. the framework build.

[2018-09-21 18:27] defjaf commented on #12188
@jklymak So does that mean "wontfix" or do we need to dig further?

[2018-09-21 18:30] jklymak commented on #12188
Oh no absolutely not.  It means I probably won’t fix, but hopefully someone on the dev team uses non-conda on a Mac.

Do you ever get the prompt back?   Can you check backend after you get the prompt back?

[2018-09-21 18:58] defjaf commented on #12188
@jklymak Aha, I think there's a misunderstanding: the bouncing icon does *not* hang the interpreter. The prompt returns immediately and it runs just fine.

[2018-09-21 19:07] jklymak commented on #12188
@tacaswell @anntzer is it possible the new backend code is importing and checking a backend before accepting the OP's choice of "Agg"?

[2018-09-21 19:16] tacaswell commented on #12188
if you do `get_backend()` again after importing pyplot what do you get?

If you start a fresh interpreter can you do:

[code]

(which side steps the auto-fallback logic)

To check, `backend: 'agg'` is in your rcparams file?  It make be better to test with `import matplotlib; matplotlib.use('BACKEND_OF_CHOICE')` just to be sure!

One possible concern is that the osx backend is importing _just_ enou

[2018-09-21 19:17] tacaswell commented on #12120
Closed by #12203.

Thanks @kbrose !

[2018-09-21 19:17] #12120 closed

[2018-09-21 19:29] defjaf commented on #12188
`get_backend` and the `matplotlib.rcParams` dict behave as expected (note that the syntax is somewhat different than you suggested):

[code]
bounce - bounce - bounce ...

[2018-09-21 19:36] jklymak commented on #12188
OK, my appologies - I can reproduce on my anaconda set up.  I don't get a rocket, but I get an app icon that flashes for a while and a beachball if I don't change focus back to the terminal.  Qt5Agg is the backend both before and after `import matplotlib.pyplot as plt`.

This is definitely to do with the Framework build - if I use the non-framework build, and use Qt5Agg, the extra dock icon never

[2018-09-21 19:37] tacaswell commented on #12188
er, I meant ` dict.__getitem__(matplotlib.rcParams, 'backend')`  The goal is to side-step https://github.com/matplotlib/matplotlib/blob/09e9504ed4e057318e2675475d23847900078eed/lib/matplotlib/__init__.py#L876-L880

The bouncing does not start until you import `pyplot` though?

I suspect the issues are in https://github.com/matplotlib/matplotlib/blob/09e9504ed4e057318e2675475d23847900078eed/lib/mat

[2018-09-21 19:46] jklymak commented on #12188
Just commenting all that out doesn't change the behaviour for me (and the if conditional is `None`)

[2018-09-21 19:48] defjaf commented on #12188
Same (correct) behaviour as above.

Exactly.

OK, I've played with this code a bit.

The `if (rcParams["backend_fallback"]` block doesn't matter, but if I comment out `switch_backend(rcParams["backend"])` I *don't* get a bouncing with a non-GUI backend. However, if I do `matplotlib.use("MacOSX")` and then `import matplotlib.pyplot as plt`, I get the bouncing icon.

But note that this behaviour is

[2018-09-21 19:51] defjaf commented on #12188
Hmmm: As per above, the `if`... block has no effect for me, but `switch_backend` does help, at least for non-GUI backends.

[2018-09-21 19:53] jklymak commented on #12188
Not surprisingly bisects to 56acb0f691f344

[code]

[2018-09-21 20:03] jklymak commented on #12188
The culprit looks to be:

https://github.com/matplotlib/matplotlib/blob/09e9504ed4e057318e2675475d23847900078eed/lib/matplotlib/pyplot.py#L214-L215

If I run this line I get the bouncing dock - so I guess `_get_running_interactive_framework` checks for the right frame work, even if MacOSX is not the framework...

[2018-09-21 20:11] jklymak commented on #12188
#12207 removes the check that opens the framework if using a non-GUI backend.  If you use a GUI backend, I guess this icon coming up upon import is expected behaviour (?)...

[2018-09-21 20:13] defjaf commented on #12188
Digging down further, I get the bouncing icon with `from matplotlib.backends import _macosx`

Apologies if I misunderstand, but will your proposed fix still give a *bouncing* icon when the GUI is started? Is that still a bug?

[2018-09-21 20:18] jklymak commented on #12188
My proposed fix will still open the icon when `_get_running_interactive_framework` is called as far as I can tell; @anntzer or @tacaswell can clarify, but I think it moves any framework incompatibility checks earlier in the process before the first draw.  So that may not be a bug if your backend requires the GUI.

[2018-09-21 20:28] jklymak commented on #12188
Hmm, with qt5Agg as my backend running `_get_running_interactive_framework()` returns `None` and `required_framework` is `qt5`.  So somehow the checks in `_get_running_interactive_framework():` aren't catching that I have `qt5` installed.   Maybe thats OK, because the function eventually returns "None", but not before it tries
`from matplotlib.backends import _macosx` which is what pops up the win

[2018-09-21 20:35] tacaswell commented on #12188
It seems there are 2 bugs here:

 1. we are hitting something that is triggering the icon even for non OSX backend
 2. the icon bounces forever

I am concerned that we are just not understanding the OSX gui framework well enough and are starting it by asking if it is started, but in a way that leave it in a "I am turning me self on, please wait" state.

[2018-09-21 20:36] defjaf commented on #12188
To clarify: the **bouncing** is a remaining bug -- the icon shows up but doesn't _bounce_ under 2.7/2.2.x

[2018-09-21 23:44] lupien opened #12208 "parasite axis2 demo now crashes with log x-axis"
### Bug report

**Bug summary**

The code from the Parasite Axes2 demo crashes when the x-axis is turned to a logarithmic scale.
This problem is new in the 2.2 branch.

**Code for reproduction**
Execute the code from Demo Parasite Axes2
  https://matplotlib.org/gallery/axisartist/demo_parasite_axes2.html
This will work correctly.
Then set the x scale to log (before the show):
[code]
Now the progra

[2018-09-22 01:14] ImportanceOfBeingErnest commented on #12208
This means that for half a year noone has used non-linear scales on axisartist axes...

The fix to convert to a numpy array seems correct, we'd better fix the `axisartist` than mess around in the `transforms`.

@lupien Would you like to fix this yourself? This would in addition best get a test in `lib/mpl_toolkits/tests/test_axisartist_axislines.py` which could look as simple as

[code]

[2018-09-22 06:51] DrDeviprasad commented on #9485
Traceback (most recent call last):
  File "House_Prediction.py", line 9, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\drdev\AppData\Local\Programs\Python\Python35\lib\site-packages\matplotlib\pyplot.py", line 32, in <module>
    import matplotlib.colorbar
  File "C:\Users\drdev\AppData\Local\Programs\Python\Python35\lib\site-packages\matplotlib\colorbar.py", line 32, in <module

[2018-09-22 06:52] DrDeviprasad commented on #9485
Please advise

[2018-09-22 13:16] Kojoley commented on #9485
@DrDeviprasad please follow to the #12173 issue

[2018-09-22 13:28] Kojoley commented on #12173
There are more problem usages of `Path(...).suffix`.

  - Again the leading dot:
 https://github.com/matplotlib/matplotlib/blob/2891f55ba42caab8143b65761891fab6623822d4/lib/matplotlib/font_manager.py#L158

  - Will fire an exception when file has no extension/suffix https://github.com/matplotlib/matplotlib/blob/07e2d54d8c5623efef7d3f18c61d855d5c6ef16e/lib/matplotlib/font_manager.py#L245

[2018-09-22 14:04] anntzer commented on #12173
Thanks for investigating.
I don't think Path(fname).suffix[1:] will throw if there's no suffix though, as the suffix would be an empty string and [1:] on it will still be an empty string.  We do need to make sure that fontext is a list of strings and not a single string though.

[2018-09-22 14:09] Kojoley commented on #12173
Oops, that's something I had misconception, I thought `''[1:]` will fire an index exception.

[2018-09-22 14:27] anntzer commented on #12173
For lists too you can pass an "invalid" slice and it'll just give you an empty list.

[2018-09-22 14:57] Kojoley commented on #12173
#12212 will not solve the issue.

The `win32InstalledFonts` returns `None` only if regkeys are missing. Any thoughts?

[2018-09-22 15:01] anntzer commented on #12173
I think #12174 is just fine to handle this case.  Perhaps we were just lucky not to have run into that before?

[2018-09-22 15:15] Kojoley commented on #12173
#12174 is fine, but [IIUC](https://docs.microsoft.com/en-us/windows/desktop/api/wingdi/nf-wingdi-addfontresourceexa) the reg key should always exist, may be the guys deleted it by hand or with some third party program?

[2018-09-22 15:46] Kojoley commented on #12173
I am not sure what is the purpose of `win32InstalledFonts` if
https://github.com/matplotlib/matplotlib/blob/333dad1f98ad074533cea7db437ee1442ef37712/lib/matplotlib/font_manager.py#L275 will glob fonts in `win32FontDirectory()`

Is not `win32InstalledFonts` redundant in `findSystemFonts`, since it searches the fonts in `win32FontDirectory()` too? I also cannot find other usages of `win32InstalledFo

[2018-09-22 16:34] Kojoley commented on #12173
I suggest not to merge #12174 (or #12213), but remove `win32InstalledFonts` usage (the single usage is in `findSystemFonts`) for 3.0.1 and deprecate it since 3.1

[2018-09-22 20:52] heihaa opened #12217 "Python will suddenly not plot anymore"
Hi! I am experience a very strange behavior. As a student I've been using Spyder for my Python coding assignments. But some days ago I wanted to try out the Python environment in Visual Studio. So, I installed python environment in VS. But after that, none of even my simplest codes will produce any plots anymore. Even if I try the exact same code as I for sure know been showing a plot before. Init

[2018-09-22 21:18] jklymak commented on #12217
This is best followed up on the mailing list or stackoverflow.  It doesn’t sound like a matplotlib bug.  Thanks!

[2018-09-22 21:18] #12217 closed

[2018-09-22 21:45] ImportanceOfBeingErnest commented on #12217
IDEs are sometimes shockingly complicated. However for student's assignments using a simple editor should be enough. Else Spyder is a good IDE, which is not too complicated, plus it's open source such that you will usually quickly find solutions to problems of usage.
We cannot solve your particular problem here, but the general advice would be: (1) start simple (2) if something's not working, reve

[2018-09-22 21:46] anntzer commented on #12173
Well, at least *technically* win32InstalledFonts *can* return fonts that are not in win32FontDirectory(), as the registry can specify absolute paths (https://superuser.com/a/1258913/41302).

[2018-09-22 21:58] abhinuvpitale commented on #12191
I can do this, should I take it up?
It should be replaced with '''__name__ == '__main__'''', right?

[2018-09-22 21:59] Kojoley commented on #12173
Well, than I am taking back my last post...

So, may be than solve the both problems (https://github.com/matplotlib/matplotlib/pull/12174#issuecomment-423756278 and #12213) by replacing
https://github.com/matplotlib/matplotlib/blob/333dad1f98ad074533cea7db437ee1442ef37712/lib/matplotlib/font_manager.py#L209 with `return list(items)`?

[2018-09-22 22:05] anntzer commented on #12173
That'll be [] in any case, no?

[2018-09-22 22:10] Kojoley commented on #12173
No, for example if `winreg.EnumValue` raise an exception in the middle of the loop (number of fonts lowered during the loop) the `items` will not be empty.

[2018-09-22 22:13] anntzer commented on #12173
Then just change to call EnumValue until it raises OSError, as officially documented? (https://docs.python.org/3/library/winreg.html#winreg.EnumValue)
(It's also not clear how this can even happen, but sure...)

[2018-09-22 22:16] Kojoley commented on #12173
I think changing `return None` to `return list(items)` and possibly removing https://github.com/matplotlib/matplotlib/blob/333dad1f98ad074533cea7db437ee1442ef37712/lib/matplotlib/font_manager.py#L206 is enough.

[2018-09-22 22:18] timhoffm opened #12220 "Init calls subclass method pattern"
We have [a lot of places](https://lgtm.com/projects/g/matplotlib/matplotlib/alerts/?mode=list&rule=py%2Finit-calls-subclass) with the [init-calls-subclass pattern](https://lgtm.com/rules/10030085/).

This cause problems if the subclass method relies on subclass attributes that have not yet been set up.

I actually ran into the issue in #12215.

- Has anyone encountered this before?
- Do we have a

[2018-09-22 22:29] timhoffm commented on #12173
That seems actually the best solution. Thanks for spotting the details.

[2018-09-22 22:48] timhoffm commented on #12191
You are welcome to do this! :+1:

Concerning, `__name__ == '__main__'` I don't think we have a strict policy here. As a rule of thumb, I would not add that if the example is more snippet-like.

E.g. for https://matplotlib.org/devdocs/gallery/axisartist/demo_axisline_style.html I would just remove the conditional and dedent.

OTOH, more program like examples such as https://matplotlib.org/devdocs/g

[2018-09-22 23:34] Khalilsqu opened #12221 "Scaling issue with 4K panel!"
Matplotlib plots and font size looks very small on 4K monitor.

Is there  away to automatically enable high DPI?

![capture](https://user-images.githubusercontent.com/22060413/45922595-3bc06000-bec8-11e8-9698-ca963dc54f2b.PNG)

[2018-09-23 00:59] jklymak commented on #12221
We'd need a lot more information before we can tell if this is a bug or not.  Thanks!

[2018-09-23 02:41] abhinuvpitale commented on #12191
added the commits @timhoffm, please review!

[2018-09-23 02:52] tacaswell commented on #12220
I agree with @anntzer, many of the cases where we have this are using setters (you have the same problem with properties) that cause non-trivial internal state change.  We both want to override those things in sub-classes and to set up defaults in `__init__` (and to not have the state setting logic in 2x places) so I think we just have to absorb this complexity.

The advise to use composition is w

[2018-09-23 03:18] chuangy1 opened #12225 "In histogram, bars whose count is larger than 2**31 sometimes become negative"
### Bug report

**Bug summary**
When plot the histogram, some bars whose count is larger than 2**31 sometimes become negative under some unknown conditions.

**Code for reproduction**

[code]

**Actual outcome**

![bug](https://user-images.githubusercontent.com/32028513/45923786-a4442700-bf32-11e8-8a63-d856363c078c.png)

**Expected outcome**
![normal](https://user-images.githubusercontent.com/3202

[2018-09-23 05:36] jklymak commented on #4277
Doesn’t the example above do it for you?

[2018-09-23 05:45] mforbes commented on #4277
I can make it work, but it is extremely slow.  The data first seems to be scaled logarithmically since the abscissa are not evenly space, then scaled back when I set the axes to have logarithmic scaling.

[2018-09-23 08:01] timhoffm commented on #12220
For setters/properties, it would be work to define the subclass attributes before calling the super init.

Would that be a reasonable pattern?

[2018-09-23 08:13] defjaf commented on #12188
To reiterate, #12207 *doesn’t* fix the bouncing (which is an unwelcome change from 2.2.x).

[2018-09-23 09:04] defjaf commented on #12188
And to be yet more precise, the minimal working (failing) example for the bug appears to be:

    from matplotlib.backends import _macosx

* Under 2.2.x: icon in dock, *no bouncing*
* Under 3.0.0: icon in dock, *bouncing*

[2018-09-23 12:55] anntzer commented on #12225
Please provide a minimal example to reproduce the issue.

[2018-09-23 13:44] tacaswell commented on #12225
This looks like integer overflow, can your reproduce this with just `np.histogram`.

[2018-09-23 13:51] jklymak commented on #12188
#12207 fixed popping up the icon for a backend that didn’t need it.  I have no idea why if you do need a backend that will pop up the icon the bouncing happens, but I’m also  not clear why the icon is a problem.

Note this is really only a symptom of the framework build on Mac OS.  A possible workaround is to not use the framework build and avoid the macOSx backend.

[2018-09-23 13:53] tacaswell commented on #12188
@jklymak I assume because it is _super_ annoying

@defjaf which of those are framework / non-framework python?

[2018-09-23 13:54] Kojoley commented on #12173
Closed in #12213

[2018-09-23 13:54] #12173 closed

[2018-09-23 14:14] jklymak commented on #12188
It stops bouncing as soon as something is drawn. I assume what is happening is that import _macosx pops up the icon and it keeps bouncing until a plot window is created. I suspect that all that can be done is remove the macOSx framework check until draw time or somehow undo whatever application spinup import _macosx does during the check and reimport later.

[2018-09-23 20:14] adeak opened #12239 "3d axes are collapsed by tight_layout"
Calling `fig.tight_layout()` on a figure with a 3d `Axes` inside will collapse the axes into a vertical line.

Minimal example:
[code]
The following figures are produced with python 3.7, matplotlib 3.0.0 (also master):
![figure without tight_layout: all's fine](https://user-images.githubusercontent.com/17914410/45932469-be0a5c00-bf7c-11e8-9988-1bf55e10ced5.png?s=50)
![figure with tight_layout: axe

[2018-09-23 21:56] defjaf commented on #12188
Indeed, and because it's a change from 2.2.x

They are all (I think) Framework, but Apple supplies 2.7.10 with macOS 10.13 (High Sierra; I assume that's about to change as of the imminent release of 10.14 (Mojave); 2.7.15 and 3.7 are python.org framework builds.

[2018-09-23 22:49] jklymak commented on #12239
The right spines on this axis has a very large value of `x1` and is still marked as visible.  tight_layout now tries to use all artists, and this sporadic artist causes tight_layout to try to make room.

Not sure where that axis position gets set.  Hopefully someone familiar with the 3d code can help.  I'd suggest it just get marked as not visible.

[2018-09-23 23:11] unimamun commented on #11775
I have experienced this exact error while running, anaconda-navigator. More badly, my Spyder ide was becoming invisible time to time and I couldn't solve it by resetting spyder from the console. When I downgraded pyqt and qt from version 5.9 to 5.6, both of my problems were solved. Meaning, I neither got the error message and no problem with the Spyder anymore.

To downgrade run in console:
conda

[2018-09-23 23:17] jklymak commented on #12239
I think #12241 fixes this without too many side effects.

[2018-09-24 00:17] jklymak commented on #1461
My quick look at `plt.subplot` indicates to me that this is now fixed.  Feel free to reopen if I'm being too cavalier...

[2018-09-24 00:17] #1461 closed

[2018-09-24 02:40] Khalilsqu commented on #12221
I recently purchased a new pc laptop with 4K resolution touch screen.

when I run the following code while screen is at native max resolution of 4K. pyplot images and font sizes are displayed very tiny!!

[code]

![4k](https://user-images.githubusercontent.com/22060413/45936142-13f5f880-bfab-11e8-80c2-8454185f80ef.PNG)

But when I lower the screen resolution to FHD, 1920x1080. the figures and font

[2018-09-24 02:58] jklymak commented on #12221
Qt5Agg should automatically detect if the screen dpi is doubled.  It calls `window.devicePixelRatio()`.  So, maybe your setup is too old to do that (2.2.3 does this, but I guess some old Qt5 versions don't) or your device isn't reporting that its pixel doubled.

If you want to set the dpi by hand, you can set the `dpi` rcParam.

If you want to debug, you can edit backend_qt5agg and put some print

[2018-09-24 03:45] ImportanceOfBeingErnest commented on #12221
I think there is a fundamental difference between macOS and the rest of the world (or between HighDPI and high dpi). Macs may scale the dpi, effectively showing the application in a virtual dpi space. Windows does not do that. There is just one dpi; but it might instead use different profiles such that some relevant metrics are scaled by a constant factor (e.g. a 12pt font will become 24pt).

I su

[2018-09-24 03:46] Khalilsqu commented on #12221
@jklymak Thank you very much, I just updated Anaconda packages and the figure scale is perfect at 4k resolution

[2018-09-24 03:52] Khalilsqu commented on #12221
@ImportanceOfBeingErnest Thank you very much. actually `matplotlib.rcParams['figure.dpi'] = 200` is the only solution worked for me. tried tk, etc yet all cannot scale properly on 4K screen

[2018-09-24 03:59] ImportanceOfBeingErnest commented on #12221
Reopening, because this is surely a desireable feature, given that matplotlib goes through all the trouble of using different dpi values on different levels, but apparently only mac users will benefit from it.

[2018-09-24 04:15] jklymak commented on #12221
I actually thinks it’s a pain that the Mac does this rather than just stating its true dpi. The advantage of allowing it to change is dragging between screens w different dpi.  But in my opinion we should just get the dpi from the device at draw time.

[2018-09-24 04:45] Khalilsqu commented on #12221
There was a similar issue in spyder ide but recently solved in their latest releases. Spyder is basically using Qt5. I experienced scaling issue with spyder using 4K screen but resolved by enabling  `Autoscale resolution for High DPI screens` in spyder settings. probably a similar approach could be applied to Matplotlib?

https://github.com/spyder-ide/spyder/issues/4316
https://blog.qt.io/blog/201

[2018-09-24 12:42] chuangy1 commented on #12225
from matplotlib import pyplot as plt

l = [(359, 218641918), (360, 346814771), (361, 221783064), (362, 228103721), (363, 226773168), (364, 340432095),
     (365, 892706639), (366, 350615631), (367, 402126509), (368, 315962305), (369, 397399137), (370, 419634877)
     ]
l1, l2 = zip(*l)
l1 = [i + 0.1 for i in l1]
min_l1, max_l1 = min(l1) // 5 * 5, max(l1) // 5 * 5 + 5
fig = plt.figure()
ax = fig.ad

[2018-09-24 13:06] dstansby commented on #12180
For now I have just made `csv2rec` a private method (well, added an underscore to its name), which is then used in `plotfile()`. If anyone else wants to replace it then feel free to open a new PR.

[2018-09-24 13:14] ImportanceOfBeingErnest commented on #12225
`np.histogram` returns `[  218641918  1363906819 -2147483648   419634877]`, so it's definitely coming from `numpy`.

Using `weights=np.array(l2).astype(float)` solves the issue.

Not sure in how far such integer overflows should be handled, or left for the user to avoid; but in any case it's probably for numpy to decide. I don't think matplotlib should deviate from what numpy does in such cases.

[2018-09-24 13:47] #12225 closed

[2018-09-24 16:05] dstansby commented on #12188
Some more debugging: commenting out these lines stops the icon bouncing:

https://github.com/matplotlib/matplotlib/blob/09e9504ed4e057318e2675475d23847900078eed/src/_macosx.m#L2647-L2648

so there is something going on in `verify_framework` that is spawning the icon.

[2018-09-24 16:45] jklymak commented on #12221
Thanks - so far as I can see we already do "Case II" in the blog post about QT above: https://github.com/matplotlib/matplotlib/blob/2125562e0cd6ded113a1de413bb187b762fdf0ae/lib/matplotlib/backends/backend_qt5.py#L127-L130

So its odd that its not working for Qt5, unless you have an old Qt5, an environment variable set, or are somehow disabling this.  You could download master and put a print state

[2018-09-24 18:34] heihaa commented on #12217
I have now uninstalled both Anaconda and Visual Studio. Downloaded Anaconda again and installed. No fix, same issue still. The Complete error message is "mkl_blas_dgem2vu the startingpoint for the procedure was not in the library for dynamic connections c:\ProgramData\Anaconda2\Library\bin\mkl_intel_thread.dll". My problen is really, who shall I turn to for help?? I have absolutely no idea what so

[2018-09-24 18:38] WeatherGod commented on #12217
mkl is an accelaration library, primarially used by numpy, but I doubt this
is a numpy issue. This seems more like an environment issue with
VisualStudio+Anaconda.

On Mon, Sep 24, 2018 at 2:34 PM heihaa <notifications@github.com> wrote:

[2018-09-24 18:48] ImportanceOfBeingErnest commented on #12217
Related:
https://github.com/ContinuumIO/anaconda-issues/issues/8327
https://github.com/ContinuumIO/anaconda-issues/issues/8561
https://stackoverflow.com/questions/51532576/entry-point-not-found-numpy-python

It's the kind of problem where you need to use google a lot and advance step by step trying different things. Eventually asking a question at Stackoverflow isn't a bad idea as it will be seen

[2018-09-24 19:51] NHades commented on #12239
This same issue is also present in 2D plots with fig.tight_layout().  My program uses matplotlib as back-end in PyQt4.
I had to revert to 2.2.3 whihc fixed issue.

[2018-09-24 19:55] jklymak commented on #12239
@NHades  It's possible to create a plot that this is an issue, but note that most plots don't have a problem.  Can you open a new issue with a minimal example that triggers the axes collapse?   Also, please take a look at https://matplotlib.org/api/api_changes.html#matplotlib-axes-axes-get-tightbbox-now-includes-all-artists

[2018-09-24 20:09] heihaa commented on #12217
Thank you so much for your help! The 8561 issue solved the problem for me. It was a recently installed music instrument interface program, Amplitube, on my PC that caused this. Just uninstall Amplitube and then all was fine again. Again, thank you, you saved my week!

[2018-09-24 20:13] dstansby commented on #11879
I can't get the OSX backend to get past the expected error message now; closing this, but anyone feel free to re-open if I've missed something.

[2018-09-24 20:13] #11879 closed

[2018-09-24 20:30] dstansby commented on #6922
This looks fixed on master to me; feel free to re-open if it's still a problem.

[2018-09-24 20:30] #6922 closed

[2018-09-24 20:33] dstansby commented on #6789
Seems to be fixed on `master`, feel free to re-open if it turns out to still be a problem.

[2018-09-24 20:33] #6789 closed

[2018-09-24 20:46] jklymak commented on #2294
Thanks for the self-contained example.  But, seems to work for me.  Like sure, it looks bad...

![figuretex](https://user-images.githubusercontent.com/1562854/45978082-30705000-c000-11e8-9965-f182c4b51420.png)

[2018-09-24 20:53] ImportanceOfBeingErnest commented on #2294
I think the OP is aiming at the different fonts being used for the x- and y-ticklabels.

[2018-09-24 21:10] dstansby commented on #2294
Yeah, it kind of works, but those '2's don't look the same to me

[2018-09-24 21:11] dstansby commented on #6658
Going to close this since it's not really a bug; thanks for asking though @jkokorian !

[2018-09-24 21:11] #6658 closed

[2018-09-24 21:31] Khalilsqu commented on #12221
I modified the file in my current python installation folder as shown below. could not manage to build matplotlib from master! saying `vs c++`  and other headers are missing after vs++ installation..

[code]
it prints the correct resolution whenever plotting any figures `The screen resolution is (3840 X 2160):` but still image and fonts sizes are very small

[2018-09-24 21:57] timhoffm commented on #12221
To better understand what's going on, can you please also check the values of

[code]

[2018-09-24 22:35] Khalilsqu commented on #12221
[code]
output:
[code]
`qApp.desktop().phyiscalDpiX()` goes to exception block!

[2018-09-24 22:50] timhoffm commented on #12221
sorry typo phyiscal -> physical

[2018-09-24 22:52] Khalilsqu commented on #12221
output

[code]

[2018-09-24 23:48] NHades opened #12256 "tight_layout for plot with non-clipped screen-unit items causes issues on zoom"
_Originally posted by @jklymak in https://github.com/matplotlib/matplotlib/issues/12239#issuecomment-424103592_

[2018-09-24 23:56] MaryoHg commented on #8361
Dear all (participants),

I'm having a related issue. I was trying to install the same way (`$ pip install matplotlib==1.4.3`) without success.
The error showed the following:

    collect2: error: ld returned 1 exit status
    error: command 'g++' failed with exit status 1
  Rolling back uninstall of matplotlib
Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-install

[2018-09-24 23:57] NHades commented on #12256
For a figure with multiple items, clicking the zoom button causes irregular change in layout.  Hitting "Home" button does not change issues.  Using "Configure subplots>>Tight Layout" fixes plot to original.
Attached is a code to demo issue in PYQT4.  This is only present in new V3 of matplotlib.

`from PyQt4 import QtCore, QtGui
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot

[2018-09-25 00:29] WeatherGod commented on #8361
Why are you trying to install v1.4.3? It is fairly old. Quite likely, you
are running into issues trying to compile everything together. Try a newer
version of matplotlib like v2.2.3 or v3.0.0.

On Mon, Sep 24, 2018 at 7:56 PM Maryo <notifications@github.com> wrote:

[2018-09-25 00:30] abhinuvpitale commented on #12208
I could take it up if @lupien agrees!

[2018-09-25 00:36] jklymak commented on #12256
Yes that’s because the annotation is still in its old spot so the axes is made small enough to still show the annotation.  If you’d like to exclude the annotation from the layout then you can set its inlayout property to False (on a phone so cant look up exact syntax, but it’s as in the API note)

[2018-09-25 01:02] ImportanceOfBeingErnest commented on #12208
@abhinuvpitale Sure, please go ahead.

[2018-09-25 01:16] QuLogic commented on #12191
Fixed by #12222.

[2018-09-25 02:53] lupien commented on #12208
Yes, go ahead.

[2018-09-25 03:38] abhinuvpitale commented on #12191
Let me add them, might take some time!

[2018-09-25 05:15] jklymak commented on #12256
So the work around is to exclude the annotation from the layout:

[code]

I'd have thought that setting `annotation_clip=True` would have also worked (it clips the annotation to the axes), but it doesn't  seem to set the clipping bounding box to the axes, so thats a bug.

Sorry this behaviour has changed;  But then we also get bug reports the other way, that someone's annotation is off the page af

[2018-09-25 05:16] jklymak commented on #12256
[code]

[2018-09-25 08:47] anntzer commented on #12100
Hmm, any reason why there are no post-3.0 nightlies there?

[2018-09-25 10:31] kmuehlbauer opened #12265 "ParasiteAxesAuxTrans pcolor/pcolormesh and contour/contourf broken"
### Bug report

**Bug summary**

Calling `pcolormesh`/`pcolor` or `contour`/`contourf` from a parasite axes created with `ParasiteAxesAuxTrans` breaks. In the call to create the mesh using `super_pcolor` (or `super_contour`) an additional `self` is added to the *args: https://github.com/matplotlib/matplotlib/blob/9a46926afd22be8df6d18d8a2aa58cde4348800a/lib/mpl_toolkits/axes_grid1/parasite_axes.py

[2018-09-25 10:43] dstansby commented on #10160
Can anyone test on Matplotlib 2.2.3 or 3.0.0 to see if this is still a problem? I think quite a bit of work went into high dpi screens on MacOS recently.

[2018-09-25 10:58] kmuehlbauer commented on #12265
Since I do not have that much insight into the matplotlib machinery, I can't tell, if [this commit](https://github.com/kmuehlbauer/matplotlib/commit/703219a3c457c7b36c25a8caa0f8cec1db9996f8) is sufficient to fix this. At least it works as expected on my machine. Happy to create a PR.

[2018-09-25 11:10] ImportanceOfBeingErnest commented on #12265
PRs are welcome. Especially if it could also add a test for this.

Maybe @anntzer can comment on why he put `self` in there in the first place in #11678

[2018-09-25 11:17] anntzer commented on #12265
Because I was hoping that errors like this would be caught by CI? :p
Anyways it's clearly a mistake on my part, the fix looks good, thanks.

[2018-09-25 12:14] mweber-ovt commented on #10160
I am on the Anaconda distribution.  Apparently, Anaconda cannot update Matplotlib 2.2.2 although Anaconda Navigator indicates an upgrade is available.  So, unfortunately, I haven’t been able to confirm the issue is resolved.

On Sep 25, 2018, at 12:44, David Stansby <notifications@github.com<mailto:notifications@github.com>> wrote:

Can anyone test on Matplotlib 2.2.3 or 3.0.0 to see if this is st

[2018-09-25 15:00] dstansby commented on #8871
Closing as fixed; this now works with Matplotlib >= 2.2, and Astropy 2.0.6 or Astropy 3.1 (not yet released)

[2018-09-25 15:00] #8871 closed

[2018-09-25 15:13] rabernat opened #12271 "error with errorbar with datetime64"
### Bug report

**Bug summary**

Calling `plt.errorbar(date, y, yerr)` with `date` as a numpy.datetime64 array fails with `AttributeError: 'numpy.datetime64' object has no attribute 'toordinal'`. The same command works without `yerr`.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

The command should succeed, and the correct date should be shown on the x axis

[2018-09-25 15:13] tacaswell commented on #10160
I am concerned that the underlying issue is that when `plt` takes care of creating the widgets it creates a canvas, which does some initial setup (which includes the slightly brittle details of how to handle the implicit DPI doubling (which is the subtle internal details of how we implement hi-DPI support to play nice with the way the GUI frameworks support it).  You are then re-assigining the can

[2018-09-25 16:02] jklymak commented on #12271
This is a bug - I'm not sure it worked before w/ datetime64.  Something is going wrong with the converter the x array is bening sent to.  Should be easy to squash.

BTW the test should probably include:

[code]

[2018-09-25 16:07] rabernat commented on #12271
Wait Jody you are working on matplotlib now? 😂My world is turning upside down.

[2018-09-25 16:09] rabernat commented on #12271
FYI, my whole [research computing in Earth Science](https://rabernat.github.io/research_computing_2018/) class is eagerly following this issue, since it arose in their [homework assignment](https://rabernat.github.io/research_computing_2018/assignment-3-numpy-and-matplotlib.html#1.9-Now-make-a-similar-plot,-but-show-only-the-mean-T,-S-and-P-at-each-depth.-Show-error-bars-on-each-plot-using-the-sta

[2018-09-25 16:12] MaryoHg commented on #8361
Hi, @WeatherGod,

I had actually installed the last version but when I'm into QIIME it gives me an error because of matplotlib version.
Without 1.4.3 version, QIIME ([#2117](https://github.com/biocore/qiime/issues/2117)) will show that error. That's why I'm installing this specific version.

So, Will I be unable to install this specific version on the server?
A precompiled version or src code from

[2018-09-25 16:26] jklymak commented on #12271
... midlife crisis.  I could have bought a car, but...

[2018-09-25 16:34] NHades commented on #12256
Ok, so issue is understood (thanks).
However, it seems to me that old behavior should be preserved, i.e. have `ann.set_in_layout(False)` by default.  This would eliminate the need to go through all code previously developed.

[2018-09-25 16:48] rabernat commented on #12271
It works if you remove `.astype(np.datetime64)`

[2018-09-25 18:01] jklymak commented on #12271
The bug here was that errorbar makes a list of x values instead of an array and passes them to the units conversion, and I wasn't taking into account a list of numpy.datetime64 in the conversion latch.  Fixed now, sorry for the bother.

[2018-09-25 18:58] jatentaki opened #12279 "Axes.format_cursor_data lacks documentation and seems unused"
### Bug report

**Bug summary**
By default, the `imshow` plots format the bottom tooltip as `x={x}, y={y} [{z}]`. I wanted to change this behavior, so I followed [this](https://stackoverflow.com/questions/46531243/how-to-control-mouseover-text-in-matplotlib) answer. However, it seems that with newer version of mpl, `Axes.format_coord` only controls the coordinate format and not the z value, which

[2018-09-25 19:14] jatentaki opened #12282 "`Axes.imshow` tooltip does not get updated when another call to `Axes.imshow` is made"
### Bug report

**Bug summary**
When changing an `imshow` picture via `imshow` -> `draw`, the tooltip at the bottom of the figure fails to update and keeps reporting values as they were in the previous image.

**Code for reproduction**
[code]

**Actual outcome**
The image with horizontal stripes displays fine, and the tooltip behaves as it should: it changes when moving the mouse vertically and re

[2018-09-25 19:29] ImportanceOfBeingErnest commented on #12282
Once you press a key, you add another image to the axes. It will then contain two images. This naturally leads to the question: Which of those two images should the tooltip refer to? The original one? the one that was last added? Or the one with the highest z-order?
I feel like while matplotlib may currently not make the best choice here, any of the options may have a fan base and you can't satisf

[2018-09-25 19:59] ImportanceOfBeingErnest commented on #12279
You will need to use the image's `format_cursor_data` method. Not the one of the axes.

[code]

Note that `format_cursor_data` will just format the data, so in a simplified manner it will do

[code]

Not sure if that is what you're looking for?

[2018-09-25 20:59] joekiller commented on #944
This would be a good feature.

[2018-09-25 21:54] fbarbuto opened #12286 "Sample code given in Matplotlib's site does not work."
### Bug report

**Bug summary**

The sample script given in

https://matplotlib.org/gallery/text_labels_and_annotations/tex_demo.html?highlight=tex

does not work, producing a large number of error messages and an empty (blank) plotting window.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Matplotlib version**

  * Windows 10
  * Matplotlib 2.2.3
  * Matplotlib backend: TkAgg

[2018-09-25 22:34] RushikeshAgashe commented on #12286
Can be fixed by replacing -
`ax.set_ylabel('\\textit{Velocity (\N{DEGREE SIGN}/sec)}', fontsize=16)`
with
`ax.set_ylabel('\\textit{Velocity (\textdegree /sec)}', fontsize=16)`

[2018-09-25 22:35] QuLogic opened #12288 "New function signatures in pyplot break Cartopy"
This is just copied from https://github.com/matplotlib/matplotlib/pull/10918#issuecomment-424239213 to make it easier to follow. xref SciTools/cartopy#1126

### Bug report

@QuLogic:

@anntzer:

@QuLogic

**Code for reproduction**

[code]

**Matplotlib version**
  * Operating system: Fedora 28
  * Matplotlib version: 3.0.0
  * Python version: 3.6.5
  * Other libraries: Cartopy 0.16

[2018-09-25 22:43] RushikeshAgashe commented on #12286
Consider using \textdegree instead of \N{DEGREE SIGN} ?
Original -
`ax.set_ylabel('\\textit{Velocity (\N{DEGREE SIGN}/sec)}', fontsize=16)`
Suggested -
`ax.set_ylabel(r'\textit{Velocity (\textdegree /sec)}', fontsize=16)`

[2018-09-25 23:29] ImportanceOfBeingErnest commented on #12286
@RushikeshAgashe  That is indeed a totally different problem. If that line of code does not work, it's probably because the example is run with python 2. One could then refer to the matplotlib 2.2.3 version of [that example](https://matplotlib.org/2.2.3/gallery/text_labels_and_annotations/tex_demo.html#sphx-glr-gallery-text-labels-and-annotations-tex-demo-py), which looks a bit different.

I think

[2018-09-26 00:31] gpetty commented on #7808
Almost a year later, 'conda install basemap' still installs v1.0.7, which still throws an error when it tries to access ax.get_axis_bgcolor in matplotlib.  Why hasn't v1.10 propagated to Anaconda yet?

[2018-09-26 00:41] WeatherGod commented on #7808
I don't control what anaconda puts out. I tagged v1.1.0 over a year ago, I
don't know who to tell over at anaconda to update their packages. In the
meantime, the recommended way to install basemap is through conda-forge.

On Tue, Sep 25, 2018 at 8:31 PM Grant Petty <notifications@github.com>
wrote:

[2018-09-26 00:57] efiring commented on #7808
Ben, the problem is that even v1.1.0 fails on mpl 3.0, so a new release is needed.  conda-forge will automatically update their package when a release is tagged.  (ref. #424)

[2018-09-26 01:09] ImportanceOfBeingErnest commented on #12279
I labeled this with "Documentation" now, yet I'm not entirely sure what to document where. Maybe you can clarify a bit, @jatentaki.

[2018-09-26 01:27] WeatherGod commented on #7808
Ok, I just quickly pulled together a commit and tagged v1.2.0rel off of
master. Let's see what happens.

On Tue, Sep 25, 2018 at 8:57 PM Eric Firing <notifications@github.com>
wrote:

[2018-09-26 01:35] jessebett commented on #9274
Has this seen a solution? I also am experiencing problems with shared axes between imshows and plots when the imshow has an aspect change

[2018-09-26 01:52] ImportanceOfBeingErnest commented on #9274
@jessebett There isn't really any general solution; mostly because there is a logical constraint to sharing the axes in two dimensions and applying a fixed aspect at the same time.

That being said, feel free to share a code example for which you think matplotlib behaves unexpectedly.

[2018-09-26 01:53] jklymak commented on #12256
[code]

also works fine, though its clipped in the first rendering because its outside of the axes.

The annotation is part of the axes.  I think it makes sense to make room for it as part of the axes if its been attached to the axes.

I think there is an argument for making a `fig.annotation` that doesn't belong to any axes.

[2018-09-26 02:06] Sparen commented on #12176
I am experiencing this bug in a Jupyter notebook I'm using for a university course and doing the exact steps you mentioned (cd to new directory, open Python 3, `import matplotlib.pyplot as plt` to provide a verbose crash log) did not generate a fontlist-v300.json file. This crash has the unfortunate side effect of preventing large portions of the notebook from functioning.

Can you provide a detai

[2018-09-26 02:15] jklymak commented on #12176
@Sparen, This should not cause a crash; the issue above was a long hang....  If it does cause a crash, please open a new issue with full details.  Please try and take jupyter out of the equation if possible (try with a pure python shell)  Thanks

[2018-09-26 02:18] Sparen commented on #12176
Running the import directly in the Python 3 shell with the commands I ran above causes a crash. I will open a new issue.

[2018-09-26 02:25] Sparen opened #12291 "Importing pyplot crashes on macOS due to missing fontlist-v300.json and then Permission denied: '/opt/local/share/fonts'"
### Bug report

This bug was opened in response to a comment on Bug #12176

When importing pyplot on macOS High Sierra with Python 3.6.5 and matplotlib 3.0.0, fontlist-v300.json cannot be found and at the conclusion of the resulting search, permission is denied via Permission denied: '/opt/local/share/fonts'.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

Exp

[2018-09-26 02:32] ImportanceOfBeingErnest commented on #9274
@jessebett Now the important question is: How would you like this to look instead?

[2018-09-26 02:39] jessebett commented on #9274
Right, I understand that there isn't a general solution.
What I expect is that the x axis of the above subplot is scaled to be shared with the plot with specified aspect. I would also like to be able to control the height of that top subplot through something like height ratios.

I.e. I want to specify the aspect ratio of my imshow so it displays correctly. Then plot above it a subplot which share

[2018-09-26 04:04] jklymak commented on #9274
Still not quite clear what you want.  Do you want the two axes to be the same width?  If so, you can get the position of ax1, and set the xextent of ax2 with the correct values.

sharex just means that they share their x data limits.  You have to do a bit more work to make them the same size.

[code]

![boooo](https://user-images.githubusercontent.com/1562854/46056678-a068fe00-c106-11e8-9785-7e872

[2018-09-26 08:39] anntzer commented on #12291
This is due to the combination of https://github.com/matplotlib/matplotlib/pull/10871 + https://bugs.python.org/issue34807.  We didn't have this issue before because we relied on os.walk which silently ignores PermissionErrors (and other stat failures).

[2018-09-26 11:36] anntzer commented on #10350
Sounds like a reasonable feature request (I think I agree that the proposed semantics are preferable), but of course there's going to be backcompat issues.

[2018-09-26 11:50] #12208 closed

[2018-09-26 12:34] Zac-HD commented on #11955
@tacaswell looks like merging #11957 didn't automatically close this?

[2018-09-26 12:44] #11955 closed

[2018-09-26 13:22] fbarbuto commented on #12286
@RushikeshAgashe , thanks for the suggestion, but the script still doesn't work.

[2018-09-26 13:44] dstansby commented on #12286
Re-opening, because even if this is a config issue the error should be much clearer. @fbarbuto does the example from 2.2.3 give the same error you posted above?

[2018-09-26 13:45] ImportanceOfBeingErnest commented on #12286
@fbarbuto As suggested above by @jklymak you need a working tex install in order to be able to use `rcParams['text.usetex'] = True`.

I don't think we can give support on installing tex here.

[2018-09-26 14:48] anntzer commented on #12286
Something like https://github.com/matplotlib/matplotlib/pull/9639 (needs additional work, I know) would help with giving a `TeX needed, please install it` error message everywhere relevant.

[2018-09-26 15:00] fbarbuto commented on #12286
OK. MiKTeX installed and added to PATH. Still nothing but error messages and a blank Matplotlib plotting window.

The new error messages:

"""
F:\Documents\Programs\Python>python tex_demo.py
Traceback (most recent call last):
  File "C:\Program Files\Python\lib\site-packages\matplotlib\backends\backend_qt5.py", line 519, in _draw_idle
    self.draw()
  File "C:\Program Files\Python\lib\site-packag

[2018-09-26 15:00] #12286 closed

[2018-09-26 15:09] WeatherGod commented on #12286
Did you run the demo in a new terminal session after updating your PATH? If
the terminal session already existed before you updated the PATH, then the
change wouldn't take effect yet.

On Wed, Sep 26, 2018 at 11:06 AM fbarbuto <notifications@github.com> wrote:

[2018-09-26 15:16] jessebett commented on #9274
Ah! Yes you are right that it was not enough to sharex the axes. Thank you. set_position has mostly worked for me, the shared axes are just not matching up, which I think is coming from imshow. Anyway thanks!

[2018-09-26 16:05] fbarbuto commented on #12286
@WeatherGod , Yes, I did that.

[2018-09-26 16:08] jklymak commented on #12286
Does `C:\Users\Fausto\.matplotlib\tex.cache` exist?  Does `C:\Users\Fausto\.matplotlib\tex.cache\.matplotlib_lock` exist?  Suggest you simply delete the directory `C:\Users\Fausto\.matplotlib\tex.cache` and try again (make sure no other python is running).

[2018-09-26 16:23] jessebett opened #12298 "c and cmap for plot"
I want to produce a plot where the colour along the curve changes according to a colours array. I'd expect this to have the same api as `scatter` but it appears `plot` doesn't have a `cmap` attribute?

Can someone tell me what settings I need to give to `scatter` so that it behaves like default `plot` but with `cmap` provided to it?

[2018-09-26 16:33] jessebett commented on #12298
`plt.scatter(xs, ys, s=0.5, marker=None, linestyle='-', c=ys, cmap= 'viridis')` for example. Why couldn't `plot` take colormap to produce something like this?

[2018-09-26 17:58] jklymak commented on #12298
@jessebett Please run these sorts of things past stackoverflow before opening an issue.  You will get lots of community support there...

https://matplotlib.org/examples/pylab_examples/multicolored_line.html

[2018-09-26 17:58] #12298 closed

[2018-09-26 18:09] ImportanceOfBeingErnest commented on #9274
I guess this is then asking for something like `share_x_geometry` or so. It's not a bad idea at all. And I think there would even be an immediate use case for this within matplotlib itself, namely to fix the colorbar next to an image to the image height - which is also an feature often being asked for.

[2018-09-26 18:27] jklymak commented on #9274
To me there are four things that can be shared, making the idea of "share" difficult:

1. the vlim (xmin, xmax)
2. the width of the axes
3. the x0 of the axes position (i.e. you want the axes to line up their left hand sides)
4. the decorators of the axes (i.e. should they have the same ticks and labels)?

All four can change from draw to draw, particularly because of aspect ratio calls.

Colorbar

[2018-09-26 19:14] jklymak commented on #11288
I'm going to close this as covered by the merged #11010.  If those additions are not adequte we can re-open discussion....

[2018-09-26 19:14] #11288 closed

[2018-09-26 19:34] jessebett commented on #12298
@jklymak I opened the issue here because I was wondering if there's a reason the plot api doesn't handle cmap.

[2018-09-26 19:40] WeatherGod commented on #12298
Yes, there is a reason. The plot() command is intended to be used for
generate uniformly colored markers. The python objects that backs a plot()
is optimized by assuming that all the markers for a line are the same and
will "stamp" them, greatly reducing the memory and time needed to render
them. Meanwhile, the scatter() function is intended to be used as a
"ScalarMappable" where the markers can e

[2018-09-26 19:42] jklymak commented on #12298
The `plot` API is already greatly overloaded.  If someone wanted to take the example linked above and make it a new axes API that might be looked upon favourably.

[2018-09-26 20:00] WeatherGod commented on #12298
Indeed, the ability to have lines that changes color would be great! See
this example:
https://matplotlib.org/gallery/lines_bars_and_markers/multicolored_line.html

It is kludgy. Part of the problem is that with our current design, a "line"
is assumed to have a uniform property: color, width, style, etc. So the
example above gets around that by creating a LineCollection of many line
segments, whic

[2018-09-26 20:01] ImportanceOfBeingErnest commented on #9274
In my mind `share_x_geometry` is strictly limited to the combined set of *(2.)* and *(3.)* from the above list.
*(1.)* is covered by `sharex`. *(4.)* does not seem necessary (as axes of equal width using the same locator will have the same ticks automatically). I imagine *(2.)* without *(3.)* looks weird and is specialized enough for not having it in the library. *(3.)* without *(2.)* may make sen

[2018-09-26 20:05] jklymak commented on #9274
I can imagine lots of uses for (2) without (3).  i.e. you want to keep two columns of subplots all the same width.

(4), folks have definitely thought that setting the locator/formatter on a shared axis should set the locator/formatter on the other axis.  OTOH I agree its fine to tell them it won't and to loop though the axes and add isntances of the same locators/formatters to each.

[2018-09-26 20:14] Sparen commented on #12291
After some conversations it seems that this only occurs in 3.0.0 since 2.2.3 (running on Python 2.7.15) does not exhibit this issue. Does that mean that this issue is considered a regression?

[2018-09-27 04:50] QuLogic commented on #12191
Now complete with #12260.

[2018-09-27 04:50] #12191 closed

[2018-09-27 08:10] Khalilsqu commented on #12221
I solved the the problem by installing python from python.org website rather than anaconda/miniconda. matplotlib installed using pip. The backend is TkAgg and matplotlib version is 3.0.0. However, when changing the backend to Qt5Agg,  scaling issue appears again!. To me backend does not matter as long as the plotted figures are in appropriate scale!!

[2018-09-27 15:37] pharshalp opened #12308 "#12253 FIX: Handle utf-8 output by kpathsea on Windows -- possibly causing issues"
### Bug report
I like to test my code against the bleeding edge version of matplotlib (by installing it in a conda virtual environment) on my work machine (Windows PC). Since I do not have admin rights to install the necessary tools to build from source, I download the wheels from appveyor and use pip install.

The following code snippet (representing a part of my working code) started giving an e

[2018-09-27 16:41] enritoomey opened #12310 "plot fails with datetime64[ns] timezone aware objects (for example datetime64[ns, UTC+00:00] )"
### Bug report

**Bug summary**

Fail to plot timeseries with time data of type  `datetime64[ns]` when the date is timezone aware (for example: `dtype='datetime64[ns, UTC+00:00]'`)

**Code for reproduction**
[code]

**Actual outcome**

[code]

**Expected outcome**

If the date used is no timezone aware, then the plot works like charm. Also, I tried this with matplotlib 2.0.2 and it works like char

[2018-09-27 16:49] jklymak commented on #12310
You are running this through the pandas converter so I think it should be reported there.  Closing but feel free to reopen if matolotlib is doing the wrong thing

[2018-09-27 16:49] #12310 closed

[2018-09-27 17:13] Atcold opened #12311 "'off' vs. False"
I'm all about replacing `'off'` with `False`, as long as it's consistent.
[code]

[2018-09-27 17:38] jklymak commented on #12311
`axis` has a bunch of other flags that can be toggled with this argument.  I can see your point, but the counter argument is what flag does `False` refer to?

Frankly this seems like a case of over-eager API where `axis` does a bunch of stuff that would be better done by individual methods.  But for historical reasons I think we are stuck with the current API.

[2018-09-27 17:55] enritoomey commented on #12310
@jklymak Ok, I change the issue, now i'm feeding matplotlib.pyplot.plot function pandas Timestamp objects, timezone aware, and the error persist. I don't know how matplotlib interaction with pandas Tiemstamp objects change from 2.0.2 to 3.0.0, but sure that the bug appears only in this new version of matplotlib (for same pandas version). Maybe the problem is how the `converter` method is called. A

[2018-09-27 18:00] huxiaoqian commented on #10317
@svrnwnsch do you solve this problem? I have the same problem like you.

[2018-09-27 18:01] jklymak commented on #12310
As soon as you do `import pandas` it registers their converters, so I suspect their converter is still the issue.

If we changed something to break panda's converters, please do let us know, or have them let us know.

[2018-09-27 18:09] jklymak commented on #12310
Both of these work fine:

[code]

[2018-09-27 18:35] anntzer opened #12312 "colorbar(boundaries=...) doesn't work so well with nonlinear norms"
### Bug report

**Bug summary**

**Code for reproduction**

[code]

**Actual outcome**

![test](https://user-images.githubusercontent.com/1322974/46166672-12bb1900-c294-11e8-977f-930538f82072.png)

**Expected outcome**

Either properly positioned boundaries, or (better) disallow passing boundaries in such cases.

Note that the docstrings in colorbar.py say
[code]
but that still ends up part of the

[2018-09-27 18:42] ImportanceOfBeingErnest commented on #12312
You get "properly" positionned ticks when in addition specfiying `spacing="proportional"`.

[code]

![image](https://user-images.githubusercontent.com/23121882/46167316-c244bb00-c295-11e8-87e3-48f370bf620f.png)

[2018-09-27 18:45] anntzer commented on #12312
Thanks for pointing this out.  I don't think this should be an option, though... (it sound be the default and only behavior... no?)

[2018-09-27 18:49] jklymak commented on #12312
When overhauling colorbar I didn’t really look at boundary colorbars.  Maybe they need a similar overhaul

[2018-09-27 18:50] jklymak commented on #12312
Oops.  Didn’t see the above.  I’d be in favour of proportional=true as a default.

[2018-09-27 19:00] Atcold commented on #12311
@WeatherGod, I'm referring to the warning message:

Hence, I did pass `False` instead of `'off'` to `pyplot.axis()` and I got the error message.

@jklymak, I think the answer to your question is straightforward. If `'off'` has to be replaced by `False`, then `False` refers to what `'off'` was referring to. That's it, no?

[2018-09-27 19:02] svrnwnsch commented on #10317
I think it worked for me to switch the commands.

[2018-09-27 19:17] dstansby commented on #12311
It looks like the docstring of `plt.axis` doesn't say that it can take a `bool`, but I can see where the confusion comes from. We should either let `plt.axis` take a bool, or make the warning a bit clearer that it only applies to the specific method that has been called.

[2018-09-27 20:04] ImportanceOfBeingErnest commented on #12311
Can't we just add

    if isinstance(v, bool):
        if v:
            self.set_axis_on()
        else:
            self.set_axis_off()

after line https://github.com/matplotlib/matplotlib/blob/1c55a25b97f62aaaeae0154654d930924af1a54a/lib/matplotlib/axes/_base.py#L1703

[2018-09-27 20:16] huxiaoqian commented on #10317
@svrnwnsch  do you mean to change usetex=False or the Formatter of ticker ?

[2018-09-27 22:35] Atcold commented on #12311
Anyhow, thanks for this amazing project!
I'll be releasing soon mathy animations... made with `matplotlib`!

[2018-09-27 22:42] ImportanceOfBeingErnest commented on #12312
I would have though the "usual" (if you can speak of "usual" for something that declared "unusual") use case would be something like

[code]

![image](https://user-images.githubusercontent.com/23121882/46178467-43f91080-c2b7-11e8-84e5-bc7fe09f201b.png)

Here the use of `"proportional"` is clearly undesired.

The consequence of such change is then the usual "My plot looks different, what can I do?"

[2018-09-27 23:29] jklymak commented on #12134
I tried to auto-backport #11724, but is says there is a conflict.  If someone wants to take up the backport I don't see any problem w/ that, but I don't have the bandwidth...

[2018-09-27 23:29] jklymak commented on #12134
Note that 3.0 is released and should fix this bug, so I'll close..

[2018-09-27 23:29] #12134 closed

[2018-09-28 01:56] jklymak commented on #11725
I'm going to close for lack of response, but feel free to recomment if there is a clear proposal...

[2018-09-28 01:56] #11725 closed

[2018-09-28 01:57] jklymak commented on #11693
This is probably a jupyter issue...  Feel free to ask to reopen if you think we can help...

[2018-09-28 01:57] #11693 closed

[2018-09-28 01:58] jklymak commented on #11673
I'm going to close as won't fix.  The current behaviour is the simplest, and controlling font properties can be done when making the labels..

[2018-09-28 01:58] #11673 closed

[2018-09-28 05:48] anntzer commented on #12312
As the docstring quote above says:
[code]
I guess we can add BoundaryNorm to the list of reasonable use cases.  But it would be nice if NoNorm and BoundaryNorm could somehow signal that they need this behavior to the colorbar machinery, rather than the user having to specify it.

[2018-09-28 08:35] ulfaslak opened #12318 "set_xticks() needs argument for 'fontsize'"
### Bug report

**Bug summary**

Unlike `plt.xticks` or `plt.yticks`, `ax.set_xticks` and `ax.set_yticks` has no argument `fontsize`.
To change the fontsize of ticklabels in a subplot, the shortest workaround (to my knowledge) is:
[code]
This feels too convoluted. It should not be more complicated than `ax.set_xticks(fontsize=12)`

**Code for reproduction**

[code]

**Actual outcome**

[code]

**E

[2018-09-28 14:46] dstraus opened #12323 "indicate_inset_zoom sometimes draws incorrect connector lines"
### Bug report

**Bug summary**

Depending on location of subplot, the connector lines are not drawn to the nearest two corners.

**Code for reproduction**

[code]

**Actual outcome**

![image](https://user-images.githubusercontent.com/11050477/46215409-49804600-c30b-11e8-9690-9b7bd07d3d8e.png)

**Expected outcome**
[code]

![image](https://user-images.githubusercontent.com/11050477/46215439-5d2ba

[2018-09-28 14:51] dstraus commented on #12323
Actually, I think my "expected outcome" is not the proper solution, but looks the best without modifying the source. My ideal output would have the connecting lines drawn from the two corners of the rectangle closest to the inset to the closest two inset corners.

[2018-09-28 15:22] jklymak commented on #12323
The algorithm tries to draw the best opposing corners.  Your inset axes is basically centered on the indicator on the main axes so it chooses something that looks a little funny.  Thats why we put the manual visibility toggles in there, for cases where the naive algorithm returns something that doesn't look nice.

That would be easy, but unexpected.  The lines connect corners in the indicator with

[2018-09-28 15:36] jklymak commented on #10160
As @tacaswell notes above:

[code]

works as expected. Sorry, I should have noticed you were doing this before.  Not sure if this really needs to stay open.

[2018-09-28 15:37] jklymak opened #12324 "DOC: Write a unified backend doc"
removed wx mocking in #12322 to unbreak the doc builc.  A todo would be to get this back in the docs in a more rational manner.

@dstansby

@anntzer

_Originally posted by @anntzer in https://github.com/matplotlib/matplotlib/pull/12322#issuecomment-425471865_

[2018-09-28 16:03] ImportanceOfBeingErnest commented on #12323
There is `mpl_toolkits.axes_grid1.inset_locator.inset_axes` and `mark_inset`. You may get the "desired outcome" with those as

[code]

![image](https://user-images.githubusercontent.com/23121882/46219574-009ab280-c348-11e8-9e33-62a603eb26c8.png)

You may get the "ideal" outcome with a bit of customization.

[code]

![image](https://user-images.githubusercontent.com/23121882/46219828-a1896d80-c348-

[2018-09-28 17:09] abhinuvpitale commented on #12311
I can take this up, if @Atcold  is okay with it!

[2018-09-28 17:45] jason-neal opened #12325 "Annotation change from "s" to "text" in 3.0- documentation"
### Bug report

**Bug summary**
Annotation argument has changed from 2.2.3 to 3.0 but I do not think it has been fully documented.

The documentation here is not to date with `s` still the keyword shown in parameter list (although it has `text` in the definition)  https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.annotate.html#matplotlib.axes.Axes.annotate

**Code for reproduction**

[code]

[2018-09-28 17:46] jklymak commented on #12323
OK, but fair warning that the goal is to deprecate `axes_grid1`.  If you want to make your own connection lines, you can use `patches.ConnectionPatch`:

[code]
will add a line from the lower right of the inset to the lower left of the inset indicator.

[2018-09-28 17:54] jklymak commented on #12325
This was https://github.com/matplotlib/matplotlib/pull/10830 @timhoffm is there a way to make text and s both work, or should we just use s.  The docs indeed say s...

[2018-09-28 19:05] jklymak commented on #12323
[code]

[2018-09-28 20:15] ImportanceOfBeingErnest commented on #12323
Some people's goal it is to deprecate `axes_grid1`. I would be careful to make that a self-fulfilling prophecy. People's bandwidth is much better used with solving real-world problems than with deconstructing parts of the library.

I think `indicate_inset_zoom` (or `indicate_inset`) could well take 4 location parameters as input, similar to the hand-written function above, or as part of a single l

[2018-09-28 20:29] jklymak commented on #12323
Maintaining and documenting  `axes_grid1` was also taking up a lot of bandwidth.  😉

In this case the new API has the same coverage as the old.

We could discuss a more flexible connector line API, but again, there is a cost/benefit to doing so.

[2018-09-29 00:33] ImportanceOfBeingErnest commented on #12323
I don't feel like what's called "ideal" here should be the default. The "expected" is probably what people would expect indeed.
But giving users the option to easily obtain their custom desired look is very desireable in my eyes.

[2018-09-29 00:43] jklymak commented on #12323
Changing the defaults is fine w me.  It’s just an aesthetic decision and for most placements I thought what was implemented was the best without doing anything too complicated.  But if something can be done that’s reasonable that’s be great.

Expanding the API could also be nice, but a bit of thought should go into the best form.

Thanks for the interest in improving this!

[2018-09-29 07:51] totyped opened #12335 "Matplotlib plt.Rectangle Incoherent Results"
### Bug report

**Bug summary**

Matplotlib plt.Rectangle does not produce coherent pdf results: Overlap where there should be none !
Maybe other shapes have the same issue.

**Code for reproduction**
[code]

**Actual outcome**

![image](https://user-images.githubusercontent.com/32427425/46242729-6cbefa00-c3cc-11e8-99b9-bdcd05d4aea5.png)

This seems okay, but when I increase the length of the top

[2018-09-29 08:52] geatpy-dev opened #12337 "AttributeError: module 'matplotlib.pyplot' has no attribute 'hold'"
### Bug report

**Bug summary**

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

**Matplotlib version**

  * Operating system:
  * Matplotlib version:
  * Matplotlib backend (`print(matplotlib.get_backend())`):
  * Python version:
  * Jupyter version (if applicable):
  * Other libraries:

After updating matplotlib3.0.0, it occurs "AttributeError: module 'matplo

[2018-09-29 08:56] QuLogic commented on #12337
The hold functionality was deprecated in 2.1, and [intentionally removed in 3.0](https://matplotlib.org/api/api_changes.html#hold-machinery).

[2018-09-29 08:56] #12337 closed

[2018-09-29 09:00] #12265 closed

[2018-09-29 13:54] jklymak commented on #12335
Set the linewidth property of all your Rectangles to 0 (`linewidth=0`).  I'm going to close, but feel free to comment if you think that doesn't fix your problem.

[2018-09-29 13:54] #12335 closed

[2018-09-29 14:06] totyped commented on #12335
Yes ! This fixes the problem ! Thanks a lot !!
However, why would it not work "out of the box" ? I don't understand if I made something wrong, or if it is really a bug in matplotlib.

[2018-09-29 14:15] jklymak commented on #12335
The line is 1 pt wide and 0.5 pt overlaps your rectangle edge.  You were making plots so small this was visible.

[2018-09-29 14:18] totyped commented on #12335
I understand ! Thank you so much !! 👍

[2018-09-29 14:38] tacaswell commented on #12335
I don't think you did anything wrong nor do I think this is a bug, just that the default behavior is not what you needed.

By default patches (of which `Rectangle` is a subclass) are drawn with a 1 pt think border which defaults to the same color as the patch with the edge of the patch going through the center of the border line.  You could argue that the default line width of the border should be

[2018-09-29 15:52] mattroos opened #12341 "Figures not rendering in docker"
**Issue summary**
When using matplotlib in docker, the figures are never rendered. This issue may be related to #8929 and #11745. Other x11 apps work okay, e.g., xeyes.

**Code for reproduction**

[code]

**Actual outcome**
No figure is rendered.

**Matplotlib version**

  * Operating system: Ubuntu 14.04
  * Matplotlib version: 2.0.0
  * Matplotlib backend: agg
  * Python version: 2.7.6

python a

[2018-09-29 16:54] jklymak commented on #12341
`matplotlib.use('agg')` means you are rendering to a non-GUI backend.
https://matplotlib.org/tutorials/introductory/usage.html#backends

[2018-09-29 16:54] #12341 closed

[2018-09-29 17:58] totyped commented on #12335
@tacaswell Thanks a lot for your comment !!

[2018-09-29 23:11] jklymak opened #12345 "Need more tests for units and errorbar"
Making xywhere results an ndarray didn't fail any tests on master, so we aren't testing passing units that are fragile to that transform into `errorbar`.

_Originally posted by @tacaswell in https://github.com/matplotlib/matplotlib/pull/12283#issuecomment-425677895_

[2018-09-30 00:33] dstraus commented on #12323
You should leave it closed. I think the "expected outcome" is correct and my "ideal outcome" was not, after reading the comments.

[2018-09-30 00:47] jklymak commented on #12323
Thanks for the report @dstraus - that lead to a nice improvement by @QuLogic !

[2018-09-30 06:47] derelearnro commented on #12123
I already solved it by install uninstall matplotlab: `pip uninstall matplotlab ` then install jupyter  `pip install jupyter` and reinstall matplotlib:  `pip install matplotlab` and it works well to me now. Thank you.

[2018-09-30 12:56] ImportanceOfBeingErnest commented on #12208
@lupien This is now backported to the v2.2.x branch (#12346). I don't know for when the next release of this is planned, but of course you can install the branch from github.

[2018-09-30 14:09] Timothy-Pulliam commented on #11337
Is there a work around for this?

[2018-09-30 18:09] mattroos commented on #12341
Thanks!  It doesn't seem clear from that guide what the 'agg' backend really is, but in any case, the guide still helped me resolve the problem. Even without the matplotlib.use('agg'), it was defaulting to agg.  Creating a matplotlibrc file and setting the backend to TkAgg fixed the problem. Much appreciated!

[2018-09-30 21:31] ImportanceOfBeingErnest opened #12352 "TeX rendering broken on master with windows"
### Bug report

**Bug summary**

Using tex (`rcParams["text.usetex"] = True`) results in an error because of a font name not being valid in current master. Works fine with matplotlib 2.2.3.

**Code for reproduction**

[code]

**Actual outcome**

[code]

I would suspect the `\r` simply does not belong at the end of the string.

<details>
 <summary>Complete Traceback</summary>

[code]

</details>

-

[2018-09-30 22:20] Kushalkr opened #12354 "Too many levels of symbolic links"
### Bug report

**Bug summary**

I get ```OSError: Too many levels of Symbolic links``` exception when I run the lorenz_attractor mplot3d example from the matplotlib gallery using ```matplotlib``` version ```3.0.0``` but the error disappears when I use version ```2.2.3```

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

![](https://matplotlib.org/_images/lorenz

[2018-09-30 22:40] ImportanceOfBeingErnest commented on #12354
The first error is `FileNotFoundError: [Errno 2] No such file or directory: '/Users/kkeshava/.matplotlib/fontlist-v300.json'`. I would assume for the moment that the second one is a consequence of that. For the first error, this looks the same as #12291.

[2018-09-30 22:41] QuLogic commented on #12354
You have an invalid (or at least recursive) symbolic link at `Downloads/Analysis_tools/bin/grib2/jasper-1.900.1/` that points to itself.

This error is caused by #12176 and will be fixed in 3.0.1

[2018-09-30 22:41] #12354 closed

[2018-09-30 22:42] QuLogic commented on #12354
As a workaround, you can import matplotlib while running python in an empty directory, and it should work fine after that.

[2018-10-01 03:01] jiaozhh opened #12355 "Error for bbox_inches='tight' in savefig with make_axes_locatable"
### Bug report

**Bug summary**

When setting bbox_inches='tight' in savefig function, the colorbar is plotted in the wrong way.

**Code for reproduction**

[code]

**Actual outcome**

The wrong one:
![default](https://user-images.githubusercontent.com/6754276/46267605-74b3a100-c568-11e8-8f52-72a38318b7ee.png)

[code]

**Expected outcome**

The correct figure:
![default](https://user-images.github

[2018-10-01 04:28] jklymak commented on #12355
This should probably be reported in the base map subgroup.  Can you make this self contained?

Things changed for drawing colorbars in MPL 3.0 and it’s possible we broke something for basemap, but it’s hard to know what.

[2018-10-01 06:03] timhoffm commented on #12311
@abhinuvpitale go forward if you like.

[2018-10-01 09:42] anntzer commented on #12308
Sorry about that.  I think the following patch should suffice, can you confirm it?
[code]

We should really reenable tex testing on appveyor...

[2018-10-01 09:43] anntzer commented on #12352
I think that's a duplicate of https://github.com/matplotlib/matplotlib/issues/12308, I posted a proposed fix there, can you confirm it works?

[2018-10-01 09:43] #12352 closed

[2018-10-01 09:45] anntzer commented on #12325
Actually I would propose to revert the specific change to annotate in #10830 to switch back to `s` only; it doesn't make sense to have different kwarg names to annotate() and to text().

[2018-10-01 10:18] ImportanceOfBeingErnest commented on #12352
@anntzer Yes, your proposed fix works.

[2018-10-01 11:44] jiaozhh commented on #12355
OK, I will report it in the basemap subgroup.

[2018-10-01 12:22] AJJLagerweij opened #12357 "Unclear error when saving Animation using FFMpeg"
### Bug report

**Bug summary**

Something goes wrong when I try to use the FFMpeg writer to write an animation. It used to work for me a couple of weeks ago and the error does not help to much either.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

I expect to obtain an .mp4 file which shows all the plots at 30fps. It does not do anything except giving the ``

[2018-10-01 13:40] anntzer commented on #12357
FWIW I cannot reproduce the failure locally (the example runs fine).

[2018-10-01 14:06] anntzer opened #12358 "Dropping support for Py3.5 and numpy 1.10"
Our dependencies policy (https://matplotlib.org/devel/min_dep_policy.html) states that we'll only

Python 3.5 was released on Sept. 13, 2015 (https://www.python.org/dev/peps/pep-0478/) and numpy 1.10 was released on Oct. 6th, 2015; we should thus be able to drop support for them in Matplotlib 3.1.  Python 3.6 brings in quite a few nice features (f-strings, `__fspath__`, ordered kwargs); the last o

[2018-10-01 14:41] ImportanceOfBeingErnest commented on #12357
I cannot reproduce either. Creating a new environement via `conda create -n testenv3 matplotlib=3.0` (which will use python 3.6.6), the code runs fine.

[2018-10-01 14:57] jklymak commented on #12357
Can you run outside of spyder, just to keep the interactions minimal?

[2018-10-01 16:13] jklymak commented on #12355
OK I can reproduce in Matplotlib:

[code]
  - Note that its something wrong w/ the `bbox_inches='tight'` interaction - `plt.show()` and `plt.tight_layout()` work as expected.
 - it doesn't matter if the colorbar is on the right or bottom of the page...

[2018-10-01 16:16] jklymak commented on #12355
Crossref https://github.com/matplotlib/basemap/issues/426

[2018-10-01 16:47] Kushalkr commented on #12354
Thank you very much for this quick response.

Regards,

Kushal

On Sun, Sep 30, 2018 at 6:42 PM Elliott Sales de Andrade <
notifications@github.com> wrote:

[2018-10-01 16:49] jklymak commented on #12355
Bisect says it was my PR: https://github.com/matplotlib/matplotlib/pull/9855

[2018-10-01 16:49] AJJLagerweij commented on #12357
I'll have a look at it tonight, I'm not sure how to run in conda environment outside spyder. How do I call it from the terminal?

[2018-10-01 16:55] ImportanceOfBeingErnest commented on #12357
Activate your conda environment `source activate base` where base could be a different environment if that applies. Then run the python script `python script.py`.

[2018-10-01 17:17] abhinuvpitale commented on #12311
@ImportanceOfBeingErnest  I dont think there is a else needed there, right?

[2018-10-01 18:45] pharshalp commented on #12308
Thanks! the proposed fix works.

[2018-10-01 18:49] ImportanceOfBeingErnest commented on #12308
Reopening. While it may be enough of a fix for you @pharshalp we would like to let the rest of the world also be able to use tex within matplotlib on windows, won't we? ;-)
This should then be automatically closed once #12356 (or any other fix) is merged.

[2018-10-01 18:51] AJJLagerweij commented on #12357
Thanks for helping me, I do get a slightly different error,
[code]
It might very well be that there is something wring with my environment, I'll try to make a new one and report on it, but the error given does not really help. I have no clue where to look at specificity.

[2018-10-01 18:53] pharshalp commented on #12308
sure. I didn't take a look at the PR and thought it was already merged. Just wanted to bring down the count of the "open issues" :D and didn't know that the issue automatically gets closed once the PR is merged.

[2018-10-01 18:59] jklymak commented on #12355
This is quite a wild goose chase: #10682 also made this not work even if I roll back #9855 changes.

[2018-10-01 19:13] AJJLagerweij commented on #12357
Even a new enviroment with only:
[code]
Returns the error for me:
[code]

[2018-10-01 19:28] jklymak opened #12361 "Create Arbitrary scale transforms"
So I was wondering if one could not provide the `_ArbitraryTransform` and the `ArbitraryScale` as a public object within `matplotlib.transforms` and `matplotlib.scale` respectively, possibly with an enhanced API for `.set_scale` to also allow for a single scale to be defined as a functional relation.

_Originally posted by @ImportanceOfBeingErnest in https://github.com/matplotlib/matplotlib/pull/1

[2018-10-01 20:14] moonshoes87 opened #12362 "In 3.0.0 backend cannot be set if 'get_backend()' is run first"
### Bug report

**Bug summary**

In my code, I need to check whether the matplotlib backend has already been set.  If it has not been set, I need to then set it to 'WXAgg'.  In matplotlib 2.*, I was able to do this, but in matplotlib 3.0.0 it fails.

**Code for reproduction**

[code]

**Actual outcome**

With matplotlib 3.0.0:
[code]

**Expected outcome**

With matplotlib 2.2.3:
[code]

**Matplotl

[2018-10-01 20:33] jklymak commented on #12362
I can't reproduce.  Are you doing this from inside an interactive shell?  Just running the above as a script I get the expected outcome on both master and v3.0.0

[2018-10-01 21:08] timhoffm commented on #12325
Will care for this tomorrow.

[2018-10-01 21:18] moonshoes87 commented on #12362
The same result occurs when I run the code within the Python interpreter or as a script.

One difference is that if I run it as an executable:   `./test.py`  the backend is MacOSX, whereas if I run it as a python program: `python test.py`, the backend is Qt5Agg.  But in either case, I get the same user warning.

Here is the full matplotlib version info:

    matplotlib                3.0.0

[2018-10-01 22:48] ImportanceOfBeingErnest commented on #12362
I can reproduce this with matplotlib 3.0.0

![image](https://user-images.githubusercontent.com/23121882/46319851-eaa52000-c5db-11e8-805d-4387e2b6c13c.png)

It's pretty strange that the warning complains about pyplot being imported without it being imported anywhere.

If using master, the problem does not occur.

![image](https://user-images.githubusercontent.com/23121882/46319920-42438b80-c5dc-11e

[2018-10-02 00:20] Yefee opened #12364 "pdf image generated by matplotlib with semi transparent lines missing in Word on Windows."
### Bug report

**Bug summary**

The basic problem is I generated some pdf images with some semi-transparent patches (i.e. alpha=0.5) by Matplotlib on a Mac, then inserted it into Microsoft Word (still on Mac). The image in Word is identical as in pdf. However, when I open the Word file on a Windows machine, the semi-transparent patches are missing.

I searched a lot online, didn't find any releva

[2018-10-02 00:49] jklymak commented on #12364
Sorry, but I don't think we can help you with PDF conversion problems in Microsoft Word going between Mac and Windows.  Suggest looking at the original PDF on both machines and/or converting to a non-vector image format.

[2018-10-02 00:49] #12364 closed

[2018-10-02 01:40] ImportanceOfBeingErnest commented on #12357
What happens if you use `anim.FFMpegFileWriter` instead?

What is strange is that you get the error from line 31, but the example you show only has 20 lines.

[2018-10-02 06:10] AJJLagerweij commented on #12357
Dear Importance,

I made a mistake with the example code that I uploaded. The difference is in the documentation and the white space, causing errors at the ```writer.grab_frame()``` command. Below the full code that I'm working with:

[code]

Using the FFmpegFileWriter, replacing line 16 by  ```writer = anim.FFMpegFileWriter(fps=30, codec='libx264')``` causes a different error to appear:
[code]

[2018-10-02 08:46] ftesser opened #12367 "hatch_demo.py does not save pdf"
### Bug report

**Bug summary**

**Code for reproduction**
The same code available in

https://matplotlib.org/2.0.2/examples/pylab_examples/hatch_demo.html

with just two addition: `matplotlib.use('Agg')` and `plt.savefig` in different formats.

[code]

**Actual outcome**

[code]

**Expected outcome**

The same shown in

https://matplotlib.org/2.0.2/mpl_examples/pylab_examples/hatch_demo.pdf

**Ma

[2018-10-02 09:01] anntzer commented on #12357
I still cannot reproduce the failure...

[2018-10-02 09:03] QuLogic commented on #12367
This is strange because `ax.bar` produces `Rectangle`s in a `BarContainer`, and `Rectangle` hatching for PDF is definitely tested here: https://github.com/matplotlib/matplotlib/blob/7bcf6186e9420608ab60ea36b76f9a295aa4ea8a/lib/matplotlib/tests/test_simplification.py#L221
The only difference is the example sets hatching after the object is created. But modifying the test to do the same still passes

[2018-10-02 09:04] AJJLagerweij commented on #12357
That most likely means that there is something wrong with my (new) environment, I just do not know what.

Besides it surprises me that the FFmpegFileWriter returns a RuntimeError while the FFmpegWriter shows a ValueError even though they fail at the same line.

[2018-10-02 09:11] anntzer commented on #12357
Likely you're also running into https://github.com/matplotlib/matplotlib/issues/9205n which doesn't help with error reporting...

[2018-10-02 09:18] ftesser commented on #12367
Hi, I have just realized that my web browser embedded pdf visualizer show me the pdf correctly.
So I have to reformulate my issue:
- I can correctly view the generated pdf with chromium pdf viewer
- I can not correctly view the pdf with evince (GNOME Document Viewer 3.28.2)

I have done another test, I noticed that the generated pdf file is a "PDF-1.4" file.
I tried to to convert the same file as

[2018-10-02 12:14] ImportanceOfBeingErnest commented on #12367
pdfSam: Blured hatching
![image](https://user-images.githubusercontent.com/23121882/46347228-1a3f4100-c64b-11e8-985b-95c82ef2f4d6.png)

Adobe Acrobat: No hatching at all
![image](https://user-images.githubusercontent.com/23121882/46347264-422ea480-c64b-11e8-9d09-0a9c6b999d79.png)

SumatraPDF: No hatching + some white lines

![image](https://user-images.githubusercontent.com/23121882/46347337-786c2

[2018-10-02 14:02] ftesser commented on #12367
@ImportanceOfBeingErnest I did the conversion like this:
I imported the file with (inkscape https://inkscape.org) and saved back inkcape allow to "restrict to PDF version" 1.5.

[2018-10-02 14:18] ezatterin opened #12370 "ImageGrid bug when using inline backend"
### Bug report

**Bug summary**

The `ImageGrid` class seems to not behave correctly since the upgrade to matplotlib `3.0.0` when the `inline` backend is used in a Jupyter notebook: the resulting subplots fail to arrange in a grid and are placed on top of eachother. The correct behaviour is reproduced if using the `notebook` or `ipympl` backends. Thanks!

**Code for reproduction**

[code]

**Actua

[2018-10-02 14:47] jklymak commented on #12370
Yeah this seems to be a duplicate of #12355; `inline` uses `bbox_inches='tight'`, and there was a bad interaction with `axes_grid1` subclasses and that saving option.  #12363 should fix this as well....

[2018-10-02 14:49] jklymak commented on #12370
Just add `fig.savefig('Boo.png', bbox_inches='tight')` to the above to make it reproducible w/o a notebook.  #12363 indeed fixes this...

[2018-10-02 14:57] jklymak commented on #12370
Thanks for the bug report - closing as a duplicate, but I used your example as a new test...

[2018-10-02 14:57] #12370 closed

[2018-10-02 17:09] arameskandari commented on #12173
Hey, I tried removing `return list(items)` and changed `return None` to `return list(items)`, just as you said, but I still get the same error. Is there anything else I can try doing?

[2018-10-02 17:16] Kojoley commented on #12173
You can try downloading snapshot wheels from the PR:
 - Python 3.5: https://ci.appveyor.com/project/matplotlib/matplotlib/build/1.0.11323/job/w5ntl0ccfi4ye8t4/artifacts
  - Python 3.6: https://ci.appveyor.com/project/matplotlib/matplotlib/build/1.0.11323/job/e9or7jbgyeawfjxk/artifacts

[2018-10-02 17:39] kmuehlbauer commented on #10748
@ImportanceOfBeingErnest Regarding your [comment](https://github.com/matplotlib/matplotlib/pull/12268#issuecomment-424386231) I'm trying to fix some things in `mpl_toolkit`.

I have found the source of this issue here, at least why the tickmarks etc are gone. The twin()-method makes the ["top" and "right" axes invisible](https://github.com/matplotlib/matplotlib/blob/7bcf6186e9420608ab60ea36b76f9a2

[2018-10-02 17:58] strpeter opened #12373 "The code"
### Bug report

**The entire 3d plot after latex compilation has the same color, i.e. a bug similar to #7243 also applies also to the command `matplotlib.pyplot.pcolor()`.**

**Code for reproduction**

[code]

**Actual outcome**

The pdf generated with latex containing the 3d plot is supposed to be of variable color but the entire 3d plot has the same color.

# Versions
[code]

[2018-10-02 18:02] kmuehlbauer commented on #10748
@smheidrich Sorry for disturbing, I'm trying to understand which axes need to be visible and which not. And for sure, the most logical solution. Looking at the commented code fragments before your changes in d268abf8fd9c41fdc37b9bfeb8b1d576b4b288d3 there has been quite some testing to probably find a nice solution. Do you remember why you've prefered this solution?

[2018-10-02 18:03] WeatherGod commented on #12373
This might be a bug in matplotlib2tikz. In the code you provided, I can
only presume that rendering is somehow performed by tikz_save(). If that
function is merely iterating through the artist tree and saving out the
results without resolving colors and other features, which normally happens
during draw-time, then it wouldn't get these things right.

This package doesn't seem to follow the proper

[2018-10-02 19:04] smheidrich commented on #10748
@kmuehlbauer The point behind my changes is summarized in the difference between the two images in [this comment](https://github.com/matplotlib/matplotlib/pull/4898#issuecomment-131194493): previously, there was an (in my opinion, anyway) inconsistency between ``twinx``/``twiny`` and just ``twin``, as seen in rows 3-5 of the first picture. My changes were only meant to make it consistent, but if t

[2018-10-02 19:45] jklymak opened #12374 "Examples in docs should be redirected to latest version number"
_Originally posted by @anntzer in https://github.com/matplotlib/matplotlib/pull/12244#issuecomment-426337602_

There's no redirection right now.  I think we should redirect matplotlib.org/gallery/... to matplotlib.org/$version/gallery/... (which is what cpython does) so that people don't bookmark links that will be broken in the future, but that's a wholly separate issue...

[2018-10-02 20:06] ImportanceOfBeingErnest commented on #10748
I have to say I don't know what the expected outcome of the code here should be. I think the images in the comment in #4898 by @smheidrich are pretty convincing. So in this case I would think that due to the use of the `twin` method all axes visible is indeed expected? I suppose one can still set them invisible manually in case they are undesired? (If in doubt, I'd say removing something that is p

[2018-10-02 20:12] ImportanceOfBeingErnest commented on #12370
@ezatterin While waiting for the new release which hopefully has this fixed you may always decide to not crop the images when using `%matplotlib inline` via

    %config InlineBackend.print_figure_kwargs = {'bbox_inches':None}

in IPython or Jupyter.

[2018-10-02 20:43] kmuehlbauer commented on #10748
@smheidrich Thanks for coming back to this, and for the pointers.

I'll have another look into this the next days adding some of my use cases here.

@ImportanceOfBeingErnest I adapted my use case from a matplotlib example. I'm not sure, if I used the API correctly but we will find out.

Thanks for responding, all.

[2018-10-02 20:44] ImportanceOfBeingErnest commented on #12374
The problem with that is what you can currently observe already when searching on google: It'll find old pages for you, because those are the ones most links direct to. (e.g. google "[matplotlib+imshow+example](www.google.de/search?q=matplotlib+imshow+example)"). Relevant: https://github.com/matplotlib/matplotlib/issues/10016  and https://github.com/matplotlib/matplotlib/issues/10854

[2018-10-02 21:14] #11641 closed

[2018-10-03 02:02] ImportanceOfBeingErnest commented on #10748
The documentation is tested in the sense that it generates successfully. If an example from the gallery was to error out, the test would fail. However there is no image comparisson. If an example simply produces some wrong image this is not caught. Of course one could simply copy the code from any example and create a test from it. In general, the number of image comparissons should not grow too l

[2018-10-03 04:39] anntzer commented on #12362
Perhaps conda still ships a matplotlibrc with a backend: set?  dunno.

[2018-10-03 06:11] AJJLagerweij commented on #12357
I do agree, I see the similarities between their and my problems.

[2018-10-03 06:28] anntzer commented on #12357
Hopefully https://github.com/matplotlib/matplotlib/pull/12368 and https://github.com/matplotlib/matplotlib/pull/12369 (once merged) will help, if you can try master...

[2018-10-03 07:15] AJJLagerweij commented on #12357
I have found that on my old enviroment in windows matplotlib 2.2.2 is used, which works without any issue. I'll try that version to on linux, and keep you posted.

[2018-10-03 07:38] arameskandari commented on #12173
Big thanks, is there a link for Python 3.7 aswell? That's the version I'm using atm.

[2018-10-03 07:47] geatpy-dev opened #12376 "The output figure file is strange: there is a lot of blank area on the output figure."
### Bug report

**Bug summary**

**Code for reproduction**

[code]

**Actual outcome**

![image](https://user-images.githubusercontent.com/42562919/46396899-43cb9b80-c723-11e8-8945-b20be5c52014.png)
[code]

**Expected outcome**

**Matplotlib version**

  * Operating system: windows10 x64
  * Matplotlib version: 3.0.0
  * Matplotlib backend (`print(matplotlib.get_backend())`):
  * Python version: 3

[2018-10-03 07:49] geatpy-dev commented on #12376
The output figure is normal if I used matplotlib v2.2.3, but having problem in v3.0.0, please help me, thanks!

[2018-10-03 07:49] QuLogic commented on #12376
You will need to provide more code than just a single final line for us to be able to say anything.

[2018-10-03 08:02] geatpy-dev commented on #12376
Thank you very much. I found a solution just now: just change the code from "plt.savefig('Photo.png', dpi=600, bbox_inches='tight')" to "plt.savefig('Photo.png', dpi=600)", and now the output figure is normal.
![image](https://user-images.githubusercontent.com/42562919/46397623-3dd6ba00-c725-11e8-9c17-b6500193a9cf.png)

But I have no idea why aftering deleting the code "bbox_inches='tight'" and th

[2018-10-03 08:11] AJJLagerweij commented on #12357
On windows both version 2.2.2 and 3.0.0 of matplotlib do work. On ubuntu they both fail. I'll try to reinstall python completly to see if that solves the problem.

[2018-10-03 08:14] anntzer commented on #12357
Are you able to compile matplotlib yourself?  If so the easiest would be to wait for #12369 to be merged (hopefully soon) (or just grab it from my fork, if you know how to do this) and try that (https://matplotlib.org/devel/contributing.html#retrieving-and-installing-the-latest-version-of-the-code).

[2018-10-03 08:14] QuLogic commented on #12357
I think you can enable logging `import logging; logging.basicConfig(level=logging.INFO)` which _might_ run before the exceptions in the related issues.

[2018-10-03 08:55] anntzer commented on #12357
I don't think there's a timeline for 3.1 yet.

[2018-10-03 10:58] Kojoley commented on #12173
Unfortunately, no.

[2018-10-03 11:02] smheidrich commented on #10748
I see, thanks!

[2018-10-03 11:04] AJJLagerweij commented on #12357
When using logging as proposed by QuLogic, some extra information appears just before the error:
[code]

[2018-10-03 11:54] AJJLagerweij commented on #12357
With all your advice and [StackOverflow](https://stackoverflow.com/questions/23074484/cannot-save-matplotlib-animation-with-ffmpeg) I managed to find a good workaround.

The real error happens somewhere in ffmpeg, which was derived from the errors when using ```import logging; logging.basicConfig(level=logging.INFO)``` and the discussion at #9205, and matplotlib is just unable to present this erro

[2018-10-03 12:02] dstansby commented on #12376
Is there any chance you could provide a complete, minimal, self contained example that we can run to try and reproduce the issue? Otherwise it is hard to see what is going on to cause the issue.

[2018-10-03 13:06] ImportanceOfBeingErnest commented on #12357
Just to make sure, are there any default arguments to `FFMpegWriter` that would make this fail on linux? In other words, does matplotlib have to change anything here?

[2018-10-03 13:09] AJJLagerweij commented on #12357
For me the keyword that does not work is `codec`. But I cannot say for certain that is an matplotlib or ffmpeg issue but assume the problem is with ffmpeg.
I would like matplotlib to improve the error handling. But you seem to be aware of that already.

[2018-10-03 13:50] ImportanceOfBeingErnest commented on #12362
Ok let appart conda, how can it be that if you `import matplotlib` you get a warning about `pyplot` being imported? That should never happen, should it?

So what's the purpose of this line?

https://github.com/matplotlib/matplotlib/blob/d5a4eda9cff9d6f9d8061f1f22598e0434d2d6eb/lib/matplotlib/__init__.py#L876-L880

[2018-10-03 13:50] kmuehlbauer commented on #10748
This is a stripped down version of my use case:

[code]

[2018-10-03 13:51] kmuehlbauer commented on #10748
Status Quo:
'
![status_quo](https://user-images.githubusercontent.com/5821660/46414765-1f23f380-c724-11e8-8d42-e850d355dd52.png)

[2018-10-03 13:51] kmuehlbauer commented on #10748
Wanted:
![wanted](https://user-images.githubusercontent.com/5821660/46414778-2945f200-c724-11e8-88a5-12bbf474fc8e.png)

[2018-10-03 13:53] kmuehlbauer commented on #10748
Just remove the comments below `# make everything look right` to get the wanted output.

[2018-10-03 14:14] kmuehlbauer commented on #10748
The current behaviour makes `top` and `right` of `cgax` invisible, remaining `left` and `bottom`. But `cgax.twin()` is adding to `left` and `bottom` too, which leads to this *overplotting*. To make everything look nice, I had to make `top` and `right` of `cgax` visible again as well as the ticklabels. To repair the overplotting `left` and `bottom` of `cgax` had to be made invisible.

This is all t

[2018-10-03 14:40] jklymak commented on #12376
This is almost certainly a duplicate of #12239 and closed by #12241.

Please feel free to recommend if this is not the case.

[2018-10-03 14:40] #12376 closed

[2018-10-03 15:30] ebauch opened #12386 "Suggesting new feature: autolabel option for bar plots"
Whenever I plot some form of bar plot I find myself thinking that it would be nice to have the bars labelled with the actual value counts (or a percentage value). Examples are given in the [barplot gallery](https://github.com/rasbt/matplotlib-gallery#boxplots-and-violinplots):

![image](https://user-images.githubusercontent.com/3758223/46420899-f6d5ce00-c6fe-11e8-83a1-1b89c6815569.png)

![image](h

[2018-10-03 15:37] dstansby commented on #12386
I like this idea! It could also just be a standalone function that takes whatever `plt.bar()` outputs, and adds the labels, if we want to avoid adding another keyword argument to `plt.bar()`.

[2018-10-03 15:42] jklymak commented on #12386
:+1: on an added function versus kwarg, analgous to `clabel` for contours.  Then the function can get its own kwargs specifying label things (rotation, fontsize, offset from bar, clipping, etc).  I'd be :-1: on adding this functionality directly to `bar`.

[2018-10-03 15:44] kmuehlbauer commented on #10748
Should it be that easy now? OK, in `twin()`-method the following is done:

[code]
So the `top` and `right` of the twin-axes are set `visible`. But this does not activate the ticks etc.
So if I take my example from above and just do:

[code]
then I get an image with all wanted axes (see below, created with d5a4eda9cff9d6f9d8061f1f22598e0434d2d6eb). We see that the placement of the `bottom` axes is

[2018-10-03 15:49] kmuehlbauer commented on #10748
In the light of these examples, it seems that the only problem with the current code is, that the ticks etc are not visible. My question is: Is this intended behaviour?

[2018-10-03 17:05] kmuehlbauer commented on #10748
@smheidrich @ImportanceOfBeingErnest  Can someone please sanity check?

The problem of the original poster @Sup3rGeo is that his angular (?) axis spans over three axes (`top`, `left`, `bottom`). `left` and `bottom` of the original axis remain untouched, but `top` and `right` are made unvisible within twin().

To solve this just one line has to be added restoring the original `top` axis. (tested wi

[2018-10-03 17:22] Marriaga opened #12388 "Legend Title Left Alignment"
I'm trying to align my legend title on the left of the legend box. I assumed this would work:

    leg = ax.get_legend()
    title_inst = leg.get_title()
    title_inst.set_horizontalalignment('left')

However only this worked:

    leg = ax.get_legend()
    leg._legend_box.align = "left"

Seems like something is not working as expected, especially since I'm accessing something hidden.

[2018-10-03 17:25] abbazs opened #12389 "Setting row edge color of matplotlib table"
I've a pandas DataFrame plotted as a table using matplotlib: [(from this answer)](https://stackoverflow.com/a/39358752/1437877)

Now I want to set the bottom edge color of a given row and I've this code:

**Code for reproduction**

[code]

I'm unable to set only the color of row bottom and it gets set like this:
![yxkdd 1](https://user-images.githubusercontent.com/758268/46427503-3a602480-c75f-11e

[2018-10-03 17:49] timhoffm commented on #12389
The table cells are not that sophisticated that they support different edge colors on different edges.

For drawing a line, you can use the following workaround

[code]

Note that you have to call `plt.draw()` before calling `set_row_edge_color()`. Otherwise, the cells are not yet laid out in the figure and `cell.xy` is not yet the correct position.

[2018-10-03 18:03] jklymak commented on #12388
`horizontalalignment` is relative to the x, y of the title, which in this case is the center of the legend box.

I agree that it would make sense for `legend` to accept a `loc` kwarg, just like the axes title does.  Looks like a `self._legend_box.align=loc` in `set_title` would do the trick.  Did you want to try a PR?  (Yes I know `loc` is a bit goofy, but its what `title` does now, so for consist

[2018-10-03 18:07] abbazs commented on #12389
I'm sorry - it doesn't solve the issue. As the cell.xy[1] returns the y of the last row and not the row required!
For all the rows cell.xy[1] always returns 0!

[2018-10-03 18:17] ImportanceOfBeingErnest commented on #12389
Note that the issue tracker is meant to be used for issues with the library. There does not seem to be any bug involved here. Closing again.

You did the right thing by asking [your question](https://stackoverflow.com/questions/52632356/setting-row-edge-color-of-matplotlib-table) on stackoverflow. Just wait a bit for an answer to come up. I just answered [your question](https://stackoverflow.com/q

[2018-10-03 18:17] #12389 closed

[2018-10-03 18:39] timhoffm commented on #12388
Actually, `legend()` has already a `loc` kwarg, which defines the position of the legend. We would need `title_loc` or preferably `title_align`. Also, `self._legend_box` is a `VPacker`. Setting `align` there affects the title and box containing the handles. This is not necessarily equivalent to aligning the title. For example, if the title is wider than the handles the alignment is effectively vis

[2018-10-03 18:47] jklymak commented on #12388
Oops.   Maybe remove good first issue.  I thought it strange that modifying the legend box got the desired effect.

[2018-10-03 18:52] timhoffm commented on #12388
This would actually need more substantial changes in the layouting of the legend. Not sure we have enough layout control mechanisms in place to do this.

[2018-10-03 18:56] ImportanceOfBeingErnest commented on #12388
Instead of building up a rather complex API here I would be very much in favour of making the vpackers and hpackers in legend public, such that users may easily manipulate them the way they like. They do that anyways, (in this case probably due to [my bad influence](https://stackoverflow.com/a/44620643/4124317)) but then with a clear concience :wink:.

[2018-10-03 20:14] jklymak commented on #12388
@Marriaga Unfortunately its not that easy.  The two objects in the VPacker don't really know anything about each other's widths the way its written now, so they can either be centre aligned or left/right aligned.  Both have issues though depending on the relative size of the legend title and the legend entries.

I'm -0.5 on making the packers public.  That API is pretty mysterious, and you might a

[2018-10-03 21:09] logdog commented on #11337
I just checked that the array was not completely masked with an if
statement before I plotted the data. If it was fully masked, it just didn't
plot the data and displayed a small graphic saying the data was fully
masked for that particular graph.

On Sun, Sep 30, 2018 at 7:10 AM Timothy Pulliam <notifications@github.com>
wrote:

[2018-10-03 21:18] Sup3rGeo commented on #10748
I am actually quite beginner with matplotlib and it has been a while since I opened this one, so I am not totally sharp.

But I think I agree with @ImportanceOfBeingErnest:

(...) One main problem is the documentation in my eyes, since it currently does not allow to easily grasp the concepts.

In general I would not expect anything on the host axis to be hidden when adding a twin, it was a bit con

[2018-10-03 21:36] jklymak opened #12391 "Constrained Layout tutorial needs some cleanup...."
_Originally posted by @ImportanceOfBeingErnest in https://github.com/matplotlib/matplotlib/pull/12377#issuecomment-426807732_

The code does not seem to be runnable and does not give a sensible result. I used this code

[code]

i.e. the code from the [matplotlib 3.0 documentation](https://matplotlib.org/tutorials/intermediate/constrainedlayout_guide.html#legends) with `wanttoprint = True` but it g

[2018-10-03 21:53] pingyeh opened #12392 "urls are ignored when rendering a QuadMesh to SVG"
### Bug report

**Bug summary**

I've called set_urls() to set URLs to a QuadMesh, but when I save it to SVG the URLs are missing.

I traced it to the `RendererBase.draw_quad_mesh()` method which passes `[None]` as the urls argument to `self.draw_path_collection()`.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

The URLs are inserted into the quadmesh <g> ele

[2018-10-03 22:38] tacaswell commented on #12392
Could you open a pull request to fix that?

It looks like this will require adding an extra argument to `draw_quad_mesh` and propagating that change out to all of the backends?

[2018-10-03 22:59] timhoffm commented on #12388
I'm also -0.5 on making the Packers public. The API seems not mature enough to be released. A possible workaround to support title positioning could be to support a list of values for VPacker(align=...).

So that we could do
[code]

[2018-10-03 23:02] timhoffm commented on #12388
#### Side remark:
Actually, the current choice for `align=center` (top row) is not optimal.

![grafik](https://user-images.githubusercontent.com/2836374/46443688-ebba8680-c76e-11e8-9047-b4520e191942.png)

While it looks good with short titles (top left), long titles result in awkwardly centered entires (top left). OTOH, with `align=left` both versions would look ok (bottom).

***Would we be willin

[2018-10-03 23:46] pingyeh commented on #12392
Yes, that's probably the smallest change to make it work. I can make a pull request.

[2018-10-04 00:15] msy22 opened #12395 "Rendering issue occurs when plotting 3D surfaces at a discontinuity"
### Bug report

**Bug summary**

When running the code below to plot the surface for the equation 1 - y/x, the plot works but I get an error and the rendering of the surface breaks when viewed from some angles.

**Code for reproduction**

[code]

**Actual outcome**

[code]

Odd rendering issues appear:

![rendering_angle1](https://user-images.githubusercontent.com/17462459/46446053-a0d45980-c7d6-1

[2018-10-04 00:43] darioflute opened #12396 "Defining arrowprops in draggable annotation disables the pick_event"
### Bug report

**Bug summary**

In this interactive code, the "pick_event" is used to connect clicks on the x-label, legend's items,
and to react when the annotation is dragged. This was working up to matplotlib 2.2.3.
Since matplotlib 3.0, these behaviors are disrupted.
The problem is in the definition of the arrowprops. When I comment the line with arrowprops,
the code works again. Unfortunatel

[2018-10-04 01:08] ImportanceOfBeingErnest commented on #12396
This problem does not seem to occur in the current development version ("master" branch). I would guess this has been fixed by https://github.com/matplotlib/matplotlib/pull/12012 and should hence be included in the next bugfix release 3.0.1.

[2018-10-04 02:46] beatbox13 opened #12397 "plt.show( ) not working (can't get figures to display in external window) when using jupyter QTconsole"
### Bug report

**Bug summary**

I am trying to have my figures open up in external windows using the plt.show() function. However, It gives me no output other than something such as:
```<Figure size 640x480 with 1 Axes>```

I am running linux ubuntu latest release and matplotlib 2.2.2,
qtconsole 4.3.1,
anaconda client 1.6.14
anaconda navigator 1.8.7
anaconda project 0.8.2,
jupyter 1.0.0
jupyter-c

[2018-10-04 02:57] ImportanceOfBeingErnest commented on #12397
Qt console, as many other interactive interpreters based on IPython, will require a backend being set. You will find ways to do that [all over the internet](https://www.google.de/search?q=qtconsole+matplotlib+show+figure+site:stackoverflow.com). In this case I suppose you want to add `%matplotlib qt` before starting to plot.
If you need further help with that, asking a question on stackoverflow, o

[2018-10-04 02:57] #12397 closed

[2018-10-04 03:20] #12325 closed

[2018-10-04 06:02] kmuehlbauer commented on #10748
@Sup3rGeo Thanks for responding. I would also agree, that it's a bit confusing if parts of the original host axis are silently hidden. I searched the current examples/demos but couldn't find anything related to this specific behaviour. Why not add nice example showing how to handle this specific use case?

Also the twin()-function docstring needs an update, it is the same as twinx() currently.

Ot

[2018-10-04 07:04] AJJLagerweij commented on #12357
For some reason the (python) integrated ffmpeg version, downloaded through conda works for some cases. After enabling `h264_nvec` (Nvidia hardware acceleration) it works fine. I expect something, don't know what to be wrong with the command given to ffmpeg when running the normal software based encoders. I'm not sure if that is somehow helpful your the matplotlib developers but at least now you kn

[2018-10-04 10:34] mattfack commented on #4880
Hi there,
I am having the same problem with matplolib 2.2.3 and python 2.15.7, while with matplotlib 1.5.1 and python 2.15.7 I am not experiencing the slow down.

[2018-10-04 10:46] jkseppan commented on #4880
Have you tried with matplotlib 3.0? I think some improvements went in. Other than that, I have some PRs waiting for review (#10236, #10238, #10268) that should help with usetex performance, but nothing has happened on those for a while.

[2018-10-04 11:47] dstansby commented on #12395
I can reproduce this on the latest code (master branch).

[2018-10-04 11:49] ImportanceOfBeingErnest commented on #9051
#11688 fixes this, but it hasn't been backported to the 2.2 branch. Is this desired?

[2018-10-04 11:49] #9051 closed

[2018-10-04 11:57] kmuehlbauer commented on #9051
@ImportanceOfBeingErnest I have no idea how much effort is needed to backport to 2.2 branch. For those who depend on 2.2 branch (eg. using py27) backporting seems the only solution.

[2018-10-04 12:08] mattfack commented on #4880
Just tried it before you replied :) anyway yes: it is way faster. I just decided to move from python 2.7.15 to python 3.7.
I also decided to uninstall both python versions I have on my mac and install anaconda.

[2018-10-04 13:09] WeatherGod commented on #12395
IIRC, plot_surface() does not claim to support NaNs.

On Thu, Oct 4, 2018 at 7:47 AM David Stansby <notifications@github.com>
wrote:

[2018-10-04 14:16] terrah27 commented on #12188
Yes! I just set up a new MacBook Pro and for every open jupyter notebook with matplotlib imported I get the bouncing spaceship.  I don't have this problem on my old MacBook at all or on my Ubuntu Desktop.

[2018-10-04 14:53] sirjetpackbob opened #12401 "RuntimeError: dictionary changed size during iteration"
### Bug report

**Bug summary**

I got a seemingly random crash with the following traceback:

[code]

This seems to be an issue with defining name, obj while looping over globals; see, e.g.:
https://gist.github.com/leto/4660274
https://stackoverflow.com/questions/14144043/strange-runtime-error-while-iterating-a-dictionary

It's unclear why this randomly popped up in a piece of code that has run d

[2018-10-04 15:00] jklymak commented on #12401
Really hard to tell what the issue is with your "piece of code" that would trigger this.

[2018-10-04 15:02] wavexx opened #12402 "Figure.set_size_cm and Figure(figsize_cm=) as an alternative to figsize/set_size_inches"
I grew tired of having to convert my units just for the sake of specifying the figure size. I'd like to specify the figure size directly in a metric unit, nominally centimeters (or millimeters, no difference). In most EU countries metric is the norm. I only have to deal with inches when looking at monitor sizes, printing, and matplotlib :(

I've found at least two issues about this: #1369 and the

[2018-10-04 15:31] jklymak commented on #12402
pads and margins are often specified in points and ems, as well as cms and ins,  so the motivation for something more general was not AU or picometers.

[2018-10-04 16:09] tacaswell commented on #12188
@terrah27 what are the OSX versions and matplotlib versions are on the two machines?

We are pretty sure that this is related to interactions with the OSX window manager so it should not affect anyone on linux.

[2018-10-04 16:16] sirjetpackbob commented on #12401
It's proprietary code for a work project, hence the vagueness. From the traceback, this happened during import, so it doesn't seem like it could be a problem with the rest of the code (though I could be wrong of course).

[2018-10-04 16:38] wavexx commented on #12402
It's a fair point, and I agree that generalizing the units in the various points would be nice. There are many places where I feel the required units are basically arbitrary. Like in annotations, you can choose between 'offset points' or 'offset pixels'. I often eyeball numbers because I cannot use consistent unit throughout.

I just fear such a task will require a lot of changes to be done, and d

[2018-10-04 16:44] jklymak commented on #12402
I'm -1 on a new kwarg.

I *personally* think we should allow `figsize=(5, 6)` and `figsize=('10cm', '12cm')`  So strings are parsed as having units, non-strings are the default inches.  We could start with just doing this w/ figsize kwarg and see if expands.  Others are against a string parser, but I disagree - its the simplest and doesnt' require someone importing another library.

[2018-10-04 17:01] terrah27 commented on #12188
I'm running macOS High Sierra 10.13.6 matplotlib 3.0.0 on the macbook with the issue.  I don't have the older machine with me to check the versions right now.

[2018-10-04 17:03] jklymak commented on #12188
How did you install matplotlib and jupyter?

[2018-10-04 17:09] terrah27 commented on #12188
I used anaconda

[2018-10-04 18:29] wavexx commented on #12402
I would be ok with that. A string parser is not great, but not any worse than what we do we colors.
In this case, for set_size_inches, I'd add a set_size() that works in the way you describe. Similarly for kwargs that say "inches". Using set_size_inches('2mm', '2mm') would be weird/bad.

[2018-10-04 18:39] soerendip opened #12405 "plt.stackplot() does not work with 3.0.0"
### Bug report
Something now breaks this code that used to work. Now, I have to call plt.subplots first and use stackplot on an axis object.

TypeError: stackplot() got multiple values for argument 'x'

[code]

Should be equivalent to
[code]

**Matplotlib version**

  * Operating system:
  * Matplotlib version: 3.0.0
  * Matplotlib backend (`print(matplotlib.get_backend())`): 'module://ipykernel.p

[2018-10-04 18:49] jklymak commented on #12402
That sounds reasonable to me.  But I'd give the folks who didnt like the idea of a string parser a day or so to register their concerns before I spent a lot of time making a PR ;-)

[2018-10-04 20:14] jklymak commented on #12405
This is present in master as well.

[2018-10-04 20:20] jklymak commented on #12405
Bisects to 86fe16bfe7 https://github.com/matplotlib/matplotlib/pull/10918

[2018-10-04 20:28] jklymak commented on #12386
@ebauch, any interest in a PR submitting a new method to axes: `bar_label`?  You'd need to think through the options you'd like for the actual labels, but they could simply be passed through to the text objects.  Also, please don't use the `plt` interface directly in the code base.  This would go in `lib/matplotlib/axes/_axes.py`

[2018-10-04 23:29] andrewcooke commented on #7115
it would be nice if the comment that appeared in the stack trace said this instead of (as currently) "# If this fails your Python may not be configured for Tk"

[2018-10-05 00:34] ImportanceOfBeingErnest commented on #12405
But only when run in a notebook, not when run as script.

[2018-10-05 02:06] ebauch commented on #12386
@jklymak happy to do it but I only understood half of the words you said (sorry, I am new to this :)
Whats PR?
What does it mean to submit a new method to axes? I understand, we want to define a new method of axes called `bar_label` that does something like `def autolabel` above.

What do you mean with not using the plt interface directly in the code?

[2018-10-05 03:19] ImportanceOfBeingErnest commented on #12386
@ebauch This is mainly explained in the [Contributing code](https://matplotlib.org/devel/contributing.html#contributing-code) and the [Development workflow](https://matplotlib.org/devel/gitwash/development_workflow.html#development-workflow) sections of the [developper's guide](https://matplotlib.org/devel/index.html).
Creating your first pull request ("PR") will be a little bit of work; if you're

[2018-10-05 09:46] anntzer commented on #12386
Actually, you can check the sticky_edges attribute of the rectangles: you'll have y=0 for vertical bars and x=0 for horizontal ones.  (mplcursors uses that info, for example.)  While it is true that one could fiddle with this attribute too, people should just place text themselves if they do that... (IOW, I'd suggest not including the orientation argument, and throw an exception in the case of non

[2018-10-05 10:04] PGTBoos opened #12406 "Bug with font finding, and here is my fix as well."
### Bug report
font_manager crashes with font not found errors,
**Bug summary**
there is an Issue allready for this, but after i fixed it i couldnt find that issue back as when i fixed it my errors where gone .

Some error about font not found
**Code for reproduction**
from matplotlib.font_manager import win32InstalledFonts
print(win32InstalledFonts())

**Matplotlib version**

  * Operating system

[2018-10-05 11:32] anntzer commented on #12406
Calling `Path("non/existent/path").resolve()` doesn't crash for me; can you show an example of failing case that this fixes?

[2018-10-05 11:34] PGTBoos commented on #12406
notice that in case of the first try: in above code, that the code also didnt provide fonts cause a non existing fontdir wa passed trough (didnt exist in regsitry at all) and that would erase the entire item list.
By doing sub level try catch just before it is checked this is resolved.

[2018-10-05 11:35] PGTBoos commented on #12406
some how a wrong registry path is givven suposendly having fonts, well not on my win 10 system the regkey didnt exist.

[2018-10-05 11:42] anntzer commented on #12406
Ah, I see, this changed in Py3.6:

in 3.5 this was

So the fix seems fine but the except clause should specifically just catch FileNotFoundError and RuntimeError.

[2018-10-05 12:31] PGTBoos commented on #12406
i'm not coding that long in python just a few days days or so
but i think the code is ok like this, essentially it tries to check a font, on whatever cause it fails will result in not adding it to the list.

English is not my first language, so i hope my bug cause explanation was clear.
And i dont know who puts the fix on git, i dont plan for joining this matplotlib project, could you do that ?
I

[2018-10-05 12:36] anntzer commented on #12406
Sure, I'll do it.

[2018-10-05 13:45] PGTBoos commented on #12406
maybe a small side note, that it seamed strange to me that only lowercase  font extensions where added in the old code. It doesnt violate windows if WINDINGS2.TTF was used besides windings.ttf

[2018-10-05 13:45] RichardHuenermann opened #12409 "Calling savefig() multiple times causes crash of Spyder IDE / IPython Kernel dying."
### Bug report

**Bug summary**

Calling savefig() multiple times causes crash of Spyder IDE / IPython Kernel dying. The first time, the image is usually saved and sometimes even a couple more times, but eventually it causes a crash.
Yesterday everything still worked fine, today after a Windows update savefig started making these problems. The issue is independent of the target directory.

**Code

[2018-10-05 13:48] jklymak commented on #12402
There was a big discussion about this in #9226.  I didn’t come away from that with many compelling arguments for anything other than allowing simple strings.  I think the only issue is that we want to be consistent across the library in what strings are chosen

I’m not convinced there is any need to worry about the return type units.  If folks are going to do math with the return type they can loo

[2018-10-05 13:48] PGTBoos commented on #12291
well on windows 10 i had this same error as well, (couldnt find this bugID back) i wrote a fix that worked on Windows see #12406

[2018-10-05 13:50] anntzer commented on #12406
That was already reported and fixed elsewhere.

[2018-10-05 13:55] jklymak commented on #12409
If you need spyder and/or ipython to trigger this bug I’d suggest the bug is elsewhere.  If you can trigger from bare python please comment here and we can reopen.  My guess is something is wrong w your install.

[2018-10-05 14:18] #12406 closed

[2018-10-05 16:09] sebastianjungels commented on #12173
Hi, I just downloaded and am still getting the same error:

[code]
Any other ideas?

[2018-10-05 16:18] smheidrich commented on #10748
Just so I understand: Does the issue of "angle" ticklabels being drawn on top of each other in the bottom left corner of https://github.com/matplotlib/matplotlib/issues/10748#issuecomment-426686764 have anything to do with this ``twin`` issue? At least in my testing, this happens even if I remove the ``twin`` call altogether, but I don't really get what's going on there anyway.

If it is a separat

[2018-10-05 16:18] Kojoley commented on #12173
@sebastianjungels can you check if #12408 solved the problem?
 - Python 3.5: https://ci.appveyor.com/api/buildjobs/jscy0x23a57kjnwp/artifacts/dist%2Fmatplotlib-3.0.0rc1%2B511.g030cb07f.dirty-cp35-cp35m-win_amd64.whl
  - Python 3.6: https://ci.appveyor.com/api/buildjobs/grna4e8ko079n6q5/artifacts/dist%2Fmatplotlib-3.0.0rc1%2B511.g030cb07f.dirty-cp36-cp36m-win_amd64.whl
  - Python 3.7: https://ci.ap

[2018-10-05 17:31] ImportanceOfBeingErnest commented on #12367
Good to know that it doesn't depend on the pdf version. It means that this is purely a problem of the pdf backend.

For a workaround one can indeed use inkscape as

[code]

which requires inkscape to live in the *Path*.

[2018-10-05 18:08] #12391 closed

[2018-10-05 18:34] anntzer commented on #12405
#12293 also closes this.

[2018-10-05 18:38] daniel-s-ingram opened #12414 "Function to draw angle between two lines"
Would anyone be interested in having a function to draw an angle? I made a function for this that you can see here:

https://github.com/AtsushiSakai/PythonRobotics/blob/master/ArmNavigation/two_joint_arm_to_point_control/Planar_Two_Link_IK.ipynb

If this is something enough people are interested in, I can clean the code up and submit a PR for it.

[2018-10-05 19:07] ImportanceOfBeingErnest commented on #12414
Thanks for reaching out. I think this is probably a bit too specialized to get its own function in the library; on the other hand, I suppose a lot of people might make use of something like that. So to strike a balance, one could opt for providing this as an example in [the gallery](https://matplotlib.org/gallery/index.html).
Let's see what others think.

From the code perspective I'm wondering if

[2018-10-05 19:46] WeatherGod commented on #12414
I have wondered if it would make sense to update join-style a bit to allow
for drawing arcs like this. Gotta watch out though, because usually such
arcs are drawn as a different color or linewidth than the original line.

On Fri, Oct 5, 2018 at 3:07 PM Elan Ernest <notifications@github.com> wrote:

[2018-10-05 19:59] sebastianjungels commented on #12173
it did not, unfortunately. I simply added the missing file though.

________________________________
From: Nikita Kniazev <notifications@github.com>
Sent: Friday, October 5, 2018 11:19:10 AM
To: matplotlib/matplotlib
Cc: Sebastian Jungels; Mention
Subject: Re: [matplotlib/matplotlib] Cannot import pyplot (#12173)

@sebastianjungels<https://github.com/sebastianjungels> can you check if #12408<https

[2018-10-05 21:57] sebastianjungels commented on #12173
Hi, I got the file from a colleague who didn't face the problem.

Let me know if you need it.

Thanks,
Sebastian

________________________________
From: Thomas A Caswell <notifications@github.com>
Sent: Friday, October 5, 2018 4:23:05 PM
To: matplotlib/matplotlib
Cc: Sebastian Jungels; Mention
Subject: Re: [matplotlib/matplotlib] Cannot import pyplot (#12173)

@sebastianjungels<https://github.com/

[2018-10-05 22:07] daniel-s-ingram commented on #12414
@ImportanceOfBeingErnest

I agree about having the arc appear circular for any aspect ratio; that's something I can look into. I disagree about the fixed radius, however, as I found it useful to be able to increase or decrease the radius for my diagrams, so why not have that as an optional argument?

[2018-10-05 23:14] ImportanceOfBeingErnest commented on #12414
Of course the radius should be a parameter to be set programmatically. By "fixed" I mean if you zoom in and out, the radius on screen should be the same. I.e the radius is fixed in screen coordinates, not fixed in data coordinates.

<details>
 <summary>Detailed description</summary>

### Original View
![image](https://user-images.githubusercontent.com/23121882/46563394-759a5900-c901-11e8-8ced-6b3c

[2018-10-06 01:11] tacaswell commented on #12173
I would not have thought to try that....

Given that the cache encodes some local paths I am a bit surprised that this works....

[2018-10-06 02:01] jklymak opened #12417 "Change the size of legend markers..."
Closed a PR that did this, which was probably over engineered.  But the main idea is probably still useful.

#11127 is a bit different, it would create many legend entries for a single scatterplot. The idea here was to unify the size of different scatter plot's handles. Many options are shown in [the stackoverflow question "setting a fixed size for points in legend"](https://stackoverflow.com/ques

[2018-10-06 02:02] jklymak opened #12418 "replace ttconv for ps/pdf"
_Originally posted by @anntzer in https://github.com/matplotlib/matplotlib/pull/5414#issuecomment-371353438_

Actually there's (at least) still one thing that this PR does which #9763 doesn't, which is to replace ttconv (the font subsetter for pdf/ps output).  That's actually a task fairly independent from wrapping freetype (which is what #9763 focuses on).

[2018-10-06 02:28] ImportanceOfBeingErnest commented on #12388
Because someone [just asked on gitter](https://gitter.im/matplotlib/matplotlib?at=5bb7e7461e23486b9394a585) about the legend text alignment, I'm mentionning it here, as it seems related and equally not easily adjustable. A workaround could be

[code]

![image](https://user-images.githubusercontent.com/23121882/46566498-d6388e80-c91f-11e8-8b2b-d94144099461.png)

So this could be taken into account

[2018-10-06 06:59] daniel-s-ingram commented on #12414
Ah, my mistake, I misunderstood. I'll see if I can put together something more robust over the next few weeks. I think you're right that this may work better as a submission to the example gallery, so should I update here or is there a better place for this exchange?

[2018-10-06 07:48] Shekhrozx opened #12420 "How to remove Rectangle Selector from figure?"
I'm using matplotlib in GUI with PyQt5. My Canvas class is like that:

[code]
And GUI is here:

[code]
when clicked `rm_btn` , how can I remove the RectangleSelector from figure?

***the important thing is figure has a background image**

[2018-10-06 08:12] jkseppan commented on #4880
We're going to need someone who experiences this issue to help with debugging.

@anntzer asked on one of the PRs: "Calling `kpsewhich --debug=-1 ...` gives a bit more output on what it does, can someone report what this looks like on (a slow) OSX?"

I'm going to guess that the caching improvements that went into the Matplotlib 3.0 release helped for at least some cases. Does someone still observe

[2018-10-06 11:14] Kojoley commented on #12173
@sebastianjungels Can you please install a snapshot build from #12416 (wheels [3.5](https://ci.appveyor.com/api/buildjobs/hw43dg46c8hlr0x7/artifacts/dist%2Fmatplotlib-3.0.0rc1%2B568.g259de905.dirty-cp35-cp35m-win_amd64.whl) [3.6](https://ci.appveyor.com/api/buildjobs/kgg94aq0lvckqqnl/artifacts/dist%2Fmatplotlib-3.0.0rc1%2B568.g259de905.dirty-cp36-cp36m-win_amd64.whl) [3.7](https://ci.appveyor.com/

[2018-10-06 11:16] ImportanceOfBeingErnest commented on #12420
Thanks for your interest in matplotlib. This does not seem to be a bug or general problem with the library, which should be tracked here.
For help with matplotlib usage see the [Need help?](https://matplotlib.org/#need-help) section on the homepage and links therein.

[2018-10-06 11:16] #12420 closed

[2018-10-06 13:37] ImportanceOfBeingErnest commented on #12414
Yes, we can discuss here. Or, once you have something ready, you can submit a pull request with the example (examples are in [matplotlib/examples/](https://github.com/matplotlib/matplotlib/tree/master/examples), though I don't currently know which category this would best fit into).

[2018-10-06 17:43] jatentaki commented on #12279
@ImportanceOfBeingErnest sorry for not replying for so long. What you've just explained is sound, but it's difficult to find it by oneself in the documentation.

First, I think the comments in the `interactive` section of `Axes` docs could use more explanation. "Return _cursor data_ string formatted" is not very telling, unless the term _cursor data_ is explained. In other words, I know there is s

[2018-10-06 17:46] jatentaki commented on #12282
I would argue that it should reflect the highest z-order one, which also happens to be the latest, unless the user consciously changed the z-order (in which case he probably knows what he's doing).

That being said, I now understand that this is a feature and not a bug and close the issue.

[2018-10-06 17:46] #12282 closed

[2018-10-06 19:29] ImportanceOfBeingErnest commented on #12282
That's what it currently does, right? The problem here is that both images have equal z-order.

    for im in ax.images:
        print(im.get_zorder())

prints `0 0`. You can set the zorder to something different. E.g. like this:

[code]

[2018-10-06 19:37] ImportanceOfBeingErnest commented on #12282
If you update to matplotlib 3.0.0 it'll work as you expect it even with the code from the question.

[2018-10-06 20:17] ImportanceOfBeingErnest commented on #12279
I think essentially [this example](https://matplotlib.org/gallery/images_contours_and_fields/image_zcoord.html) is what is meant to be discoverable for users.

I also think `get_cursor_data` is rarely called by any user. The `Axes.get_cursor_data()` method is not used at all as far as I can see. It's just there because `Axes` inherits from `Artist` and each `Artist` has this method. Therefore the

[2018-10-06 22:37] jklymak opened #12424 "ColorbarNorm Tutorial needs some work...."
_Originally posted by @ImportanceOfBeingErnest in https://github.com/matplotlib/matplotlib/pull/12419#issuecomment-427610481_

In [the current version](https://matplotlib.org/gallery/userdemo/colormap_normalizations.html#colormap-normalizations) that example has somehow become useless, as it suddenly uses data that is symmetric about 0 anyways. It also lost the warning. There is also an error in t

[2018-10-06 22:38] jklymak opened #12425 "pyplot signatures need more tests"
_Originally posted by @jklymak in https://github.com/matplotlib/matplotlib/pull/12293/comment#issuecomment-427611217_

[2018-10-07 01:13] ImportanceOfBeingErnest commented on #12424
Actually, there is a [tutorial](https://matplotlib.org/tutorials/colors/colormapnorms.html) and an [example](https://matplotlib.org/gallery/userdemo/colormap_normalizations.html#colormap-normalizations) which are *almost* identical. This issue mostly applies to both of them.

[2018-10-07 01:57] jklymak commented on #12424
#12419 will update those examples.  The last statement should have been `Z1 - 0.4 * Z2`

[2018-10-07 02:04] ImportanceOfBeingErnest commented on #11908
In https://github.com/matplotlib/matplotlib/issues/11797 I compared the different ways to set linestyle and there seem to be a couple of inconsistencies and missing options. So getting clear about which option/syntax can be used where would also help (re)writing the examples.

[2018-10-07 02:09] ImportanceOfBeingErnest commented on #12121
There are two options:

1. Update the documentation with what the code does. (easy)
2. Update the code such that it'll indeed also allow for `FontProperties` objects as input. Then update the documentation.

@galenlynch Any interest in making that change an submitting a pull request?

[2018-10-07 03:01] mrivers99 commented on #12188
Same issue here running macOS Mojave 10.14 and Matplotlib 3.0.0.

[2018-10-07 08:44] timhoffm commented on #12405
Closed via #12293.

[2018-10-07 08:44] #12405 closed

[2018-10-07 08:58] timhoffm commented on #12425
Not sure how to do this. Do you have anything particular in mind?

I don't think it's reasonable to test the whole API again. It should already be tested in the underlying Axes or Figure functions.

Essentially, #12293 was about the mapping of parameters. The boilerplate code should just pass everything through. That used to be simple with `*args, **kwargs` signatures. However, since we switch to

[2018-10-07 10:52] timhoffm commented on #12401
Not sure how this can happen anyway. The relevant code seems rather self-contained and should not modify globals(). Additionally, the dict should be converted to a list and thus should not be relevant for the iteration itself.

[code]

Without a reproducible example, I don't think there is anything we can do.

[2018-10-07 11:38] #12271 closed

[2018-10-07 16:10] Volker-Weissmann opened #12428 "Simple plot spacing bug: ylabel gets wrongfully removed from plot"
### Bug report

**Bug summary**

Matplotlib removes part of the plot

**Code for reproduction**

[code]

**Actual outcome**

![-4](https://user-images.githubusercontent.com/39418860/46583726-62030580-ca5b-11e8-8fe8-67477c6520be.png)

As you can see: The ylabel is partly missing

**Expected outcome**

There should be a "yLabel" written on the y-Axis.

**Matplotlib version**

  * Operating system: L

[2018-10-07 16:35] timhoffm commented on #11190
Not sure if all the cases have been fixed by now, or if the gallery got smarter, but I don't observe the behavior anymore.

[2018-10-07 16:35] #11190 closed

[2018-10-07 16:46] gioelelm opened #12429 "scatter() does not accept gray strings anymore"
### Bug report

**Bug summary**

Passing a particula gray intensity as a string seems to be broken in matplotlib 3.0, at least for the scatter() function.
This kind of argument format should (and was) possible according to documentation.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**
 same as:
[code]

**Matplotlib version**
  * Operating system: Linux
  * Matp

[2018-10-07 16:55] jklymak commented on #12429
Confirmed in master and also for
[code]

bisects to  b1cd0a3d57d8

[2018-10-07 16:56] jklymak commented on #12429
ping @afvincent looks like #11383 missed a case?

[2018-10-07 17:17] jklymak commented on #12428
Thats why things like `constrained_layout` and `tight_layout` are necessary.  By default, the axes only makes enough room for "normal" labels, but yours have a lot of decimal places, so the label is off the plot.

`plt.figure(constrained_layout=True)`

`plt.figure(tight_layout=True)`

or
`plt.savefig(bbox_inches='tight')`

are the ways to handle this sort of problem.

Closing because there is noth

[2018-10-07 17:17] #12428 closed

[2018-10-07 17:59] Volker-Weissmann commented on #12428
Sorry, I did not know that these options exist. Thank you for your help.

[2018-10-07 18:08] galenlynch commented on #12121
Sure, glad to make a PR with option 1.

[2018-10-07 18:29] jklymak opened #12433 "Travis error is MacOS image tolerance of 0.005 for `test_constrained_layout.py::test_colorbar_location`"
_Originally posted by @jklymak in https://github.com/matplotlib/matplotlib/pull/12431/comment#issuecomment-427675481_

Travis error is MacOS image tolerance of 0.005 changing for `test_constrained_layout.py::test_colorbar_location`.  Not sure what changed on macOS to cause this, but it doesn't affect this PR.

[2018-10-07 18:33] tacaswell commented on #12401
Are you by any chance using threads and more than one thread is trying to import pyplot at the same time?

The import is happening inside of the call to `list` so we are likely not hitting the issue in that stackoverflow link.

[2018-10-07 18:41] #12279 closed

[2018-10-07 18:51] sirjetpackbob commented on #12401
I'll admit this is a hard one to debug given the lack of repeatability. This code has probably run over 100 times and its only happened once. This report was more of a "in case someone immediately sees what's wrong," or if it's an issue others have ran into in different contexts. I'm ok with it being closed it there's no obvious route forward.

I did move around and clean up some unneeded imports

[2018-10-07 18:54] tacaswell commented on #12401
The thing outside of your routine might also be doing some threading (ex if it's a web server).  A possible fix on your side is to put put an rlock around the pyplot import.  Bit heavy-handed, but might work.

[2018-10-07 19:56] msy22 commented on #12395
@WeatherGod so if the `plot_surface` does not support NaNs, then I guess this is a user error. Is there an alternative way to achieve this plot without using `surface_plot`?

[2018-10-07 19:57] #12121 closed

[2018-10-07 20:01] timhoffm commented on #12395
Side remark: If `plot_surface` does not support NaNs, we should probably check the inputs and issue a warning.

[2018-10-07 21:03] thoo commented on #11070
Hi All,
I just submitted the pull request for this issue [here](https://github.com/matplotlib/matplotlib/pull/12436). This is my first request and please let me know if something is missing.

[2018-10-07 22:22] musdfakoc opened #12437 "matplotlib-mac"
### Bug report

**Bug summary**

The matplotlib does not work properly in python with climt. Normally the graphics should be like changing with time yet first it did not show the graphs and when it finally opens it is only the initial time's graphics.
**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

**Matplotlib version**

  * Operating system: MacOSX Mojave
  *

[2018-10-07 22:39] Kojoley commented on #12173
I have included links to wheels in my last post. You should be able to install one with `pip install path/to.whl`. I thought you have done it already in https://github.com/matplotlib/matplotlib/issues/12173#issuecomment-427482252.

[2018-10-07 23:06] ImportanceOfBeingErnest commented on #12437
This is a bit vague. If you can enable people reproduce the issue, e.g. by providing a runnable code, it would be possible to look into this. But as it stands, it doesn't look like a matplotlib issue.
I would hence close this. However if there is any evidence for a bug in matpotlib feel free to provide more insight into the problem and reopen this issue.

[2018-10-07 23:06] #12437 closed

[2018-10-08 01:17] mweber-ovt commented on #10160
Using pyplot is much easier than not using it.  @tacaswell, if pyplot does indeed create a canvas, how do I get it to plot  inside a Qt widget?

[2018-10-08 01:42] Kaushalya commented on #12362
This line throws me the following error if I import matplotlib inside PyCharm.
`AttributeError: module 'matplotlib.pyplot' has no attribute 'switch_backend'`
Works fine on the interpreter.

[2018-10-08 03:22] jklymak opened #12438 "Scatter doesn't accept a list of strings as color spec."
_Originally posted by @ImportanceOfBeingErnest in https://github.com/matplotlib/matplotlib/pull/12431#issuecomment-427697109_

I wonder if this is the correct fix. The documentation also states

The marker color. Possible values:

So for

    plt.scatter([0,1],[2,3],c=("0.5", "0.7"))

one would expect two points with different shades of grey. But this is converted to an array of values and shown w

[2018-10-08 05:22] high242 opened #12439 "FileNotFoundError for font_manager"
### Bug report

**Bug summary**

I can find font_manager.py in my folder, but it cannot recognise that
**Code for reproduction**
`import matplotlib`

**Actual outcome**

[code]

**Expected outcome**

**Matplotlib version**

  * Operating system: Win10
  * Matplotlib version: 3.0.0
  * Matplotlib backend (`print(matplotlib.get_backend())`):
  * Python version: 3.5
  * Jupyter version (if applicable

[2018-10-08 05:42] QuLogic commented on #12439
Duplicate of #12173; should be fixed when 3.0.1 is out.

[2018-10-08 05:42] #12439 closed

[2018-10-08 05:56] timhoffm commented on #10160
See [Embedding in Qt](https://matplotlib.org/gallery/user_interfaces/embedding_in_qt_sgskip.html)

[2018-10-08 07:34] high242 commented on #12439
Thank you, it has solved my problem.

To conclude and for easy reference, the solution is just opening up your 'font_manager.py' from 'Python35\lib\site_packages\matplotlib' --> Go to line 210 and change 'return None' to 'return []'

[2018-10-08 07:37] anntzer commented on #12438
Given that `plt.scatter([0,1],[2,3],c=("r", "b"))` works as expected and that "0.5", "0.7" are well-documented as strings meaning levels of gray, I'd argue it's a code bug, not a documentation one.

[2018-10-08 11:10] RichardHuenermann commented on #12409
Hi again, I just ran into similar problems when executing the script via the windows command prompt. I used
`>C:\ProgramData\Anaconda3\python.exe "C:\Users\RHu\Documents\test_savefig.py"`
 That should qualify as triggering from bare python, right? I also adjusted the script according to[ this](https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/OxeDaw3B9s8) post I found, so now it read

[2018-10-08 11:40] HerveNivon commented on #12291
I have the same problem. Reverting to `2.2.3` "solved" that issue.

[2018-10-08 11:56] mweber-ovt commented on #10160
This works of course but the question is, what about figures created and plotted with pyplot?

On Oct 8, 2018, at 00:56, Tim Hoffmann <notifications@github.com<mailto:notifications@github.com>> wrote:

See Embedding in Qt<https://matplotlib.org/gallery/user_interfaces/embedding_in_qt_sgskip.html>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2018-10-08 13:13] eythimis commented on #9799
Matplotlib 3.0.0 resolves this issue

[2018-10-08 13:13] #9799 closed

[2018-10-08 13:49] BenMGeo opened #12444 "Issues with gridspec/tight_layout in matplotlib version 2.2.3"
### Bug report

**Bug summary**

We use [iris](https://github.com/SciTools/iris) that requires [cartopy](https://github.com/SciTools/cartopy) and matplotlib for plotting maps.

A display error occurred, when using matplotlib 2.2.3 compared to 2.2.2 or 2.2.0.

We use matplotlib.gridspec to have 3 subplots (main map (iris.quickplot.pcolormesh), summary line plot (iris.quickplot.plot) and a matplotli

[2018-10-08 14:16] ImportanceOfBeingErnest commented on #12444
It is important to be able to reproduce the undesired behaviour in order to see if there is a problem and eventually to be able to fix it. It is unlikely that some developper installs iris in two different environments with the respective matplotlib versions and keeps playing around with it until the undesired behaviour pops up. It would hence be helpful to see a minimal, runnable code that produc

[2018-10-08 14:30] jklymak commented on #12444
... or bisecting the change using git bisect to tell us what commit broke the layout.

[2018-10-08 14:42] RichardHuenermann commented on #12409
Hey again, so the bug was solely created by the bad Windows 10 v. 1809 Update. It was actually supposed to have been called back for the Windows Professional version, but due to an internal error by Microsoft it was released anyways. So you can consider this issue resolved. We just reset the Windows version to the previous state and now everything works fine again. Thank you for your efforts anywa

[2018-10-08 14:42] #12409 closed

[2018-10-08 14:54] WeatherGod commented on #12395
I would try splitting it into two plot_surface() calls, one on each side of
the discontinuity.

On Sun, Oct 7, 2018 at 3:56 PM M@t <notifications@github.com> wrote:

[2018-10-08 15:06] WeatherGod commented on #10160
FIgures created using pyplot are assumed to be managed by pyplot. They
cannot be embedded into another Qt widget because they are already in a Qt
window managed by pyplot. If you want more information than what is
provided at the link, please read my book, "Interactive Applications using
Matplotlib", which describes the many different ways you can work with
matplotlib figures (either by embedding

[2018-10-08 15:57] BenMGeo commented on #12444
Sorry to bother you.

I thought it would be a matplotlib issue due to finding this, when switching matplotlib versions.

Apparently, my minimal script not using iris/cartopy cannot reproduce these glitches.

My bad. I'll aproach the respective github pages.

[2018-10-08 15:57] #12444 closed

[2018-10-08 15:59] jklymak commented on #12438
#12431 looks after this as well...

[2018-10-08 16:01] jklymak commented on #12444
It still seems that we changed something in 2.2.3, so please do let us know what you find.

[2018-10-08 16:36] bidhya opened #12445 "Error on colorbar"
### Bug report

**Bug summary**
I get an error on calling the colorbar() function that was working perfectly with older version of matplotlib, numpy

I suspect, this TypeError is rasied when calling the plt.colorbar() method on an image of dtype boolean.

**Code for reproduction**
[code]
**Actual outcome**
---------------------------------------------------------------------------
Plots the image,

[2018-10-08 16:43] jklymak commented on #12445
Can you make a complete example: http://sscce.org

[2018-10-08 16:47] RobWatersIEA opened #12446 "Polar Contour - float() argument must be a string or a number, not 'AxesParasiteParasiteAuxTrans'"
### Bug report

**Bug summary**

Previously working code using Matplotlib 2.2.3 now reports the following error in version 3.0.0.
[code]

The code below is an attempt to isolate the issue...

[code]

**Expected outcome**
![image](https://user-images.githubusercontent.com/40356437/46622093-46fac900-cb21-11e8-9bf3-7d7327aa4ca6.png)

**Matplotlib version**

  * Operating system: Ubuntu 18.04
  * Matp

[2018-10-08 17:01] smheidrich commented on #10748
All right then, should I submit a PR or is anyone else already working on it?

[2018-10-08 17:13] bidhya commented on #12445
## Example
Using Jupyter notebook
`
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

# Create a random array
a = np.random.rand(100, 100)
plt.imshow(a)
plt.colorbar();
`
This second part will give error for the colorbar
`
# Create a boolean array
b = a > .5
print(b.dtype) # bool
plt.imshow(b) #This works
plt.colorbar() #TypeError even though it worked with older version of ma

[2018-10-08 17:19] bidhya commented on #12445
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

### Create a random array
a = np.random.rand(100, 100)
plt.imshow(a)
plt.colorbar();

##This second part will give error for the colorbar
### Create a boolean array
b = a > .5
print(b.dtype) # bool
plt.imshow(b) #This works
plt.colorbar() #TypeError even though it worked with older version of matplotlib/numpy

[2018-10-08 17:20] bidhya commented on #12445
sorry closed it accidentally.

[2018-10-08 17:35] ImportanceOfBeingErnest commented on #12445
Just to mention, `plt.imshow(b.astype(int))` works fine. So if in doubt, using actual numbers is safer.
Still it looks like a regression.

[2018-10-08 17:35] jklymak commented on #12445
Not sure if we support boolean arrays, but colorbar hasn't worked with this since at least 2.2.0.  Suggest you cast to float or int.

[2018-10-08 18:02] abbazs opened #12447 "figure created using figure.Figure doesn't save figure"
Figure object created using "from matplotlib import figure" is not able to save figure.

**Code for reproduction**

[code]

**Actual outcome**
[code]

**Expected outcome**
Saved image

**Matplotlib version**
  * Operating system: Windows
  * Matplotlib version: 3.0.0
  * Matplotlib backend (`print(matplotlib.get_backend())`): Qt5Agg
  * Python version: 3.6.5
  * Jupyter version (if applicable): NA

[2018-10-08 18:09] anntzer commented on #12445
fwiw this was already discussed in https://github.com/matplotlib/matplotlib/issues/8820.

[2018-10-08 18:11] anntzer commented on #12447
(I think we should perhaps attach a FigureCanvasBase by default to Figures...).

[2018-10-08 18:13] anntzer commented on #12446
Already fixed in master and 3.0.x.

[2018-10-08 18:13] #12446 closed

[2018-10-08 18:15] WeatherGod commented on #12447
Eh, that won't be easy. And still won't be very useful in the end.

Can I ask why you are instantiating the Figure object directly? Usually,
the only time one does that is when embedding in a GUI widget and in those
situations, you don't instantiate the baseclass, you instantiate the
GUI-specific Figure class.

On Mon, Oct 8, 2018 at 2:11 PM Antony Lee <notifications@github.com> wrote:

[2018-10-08 18:19] anntzer commented on #12447
Why?  It's literally `self.canvas = FigureCanvasBase()` instead of `self.canvas = None`...

Well, now you get to save these figures...

[2018-10-08 18:56] bidhya commented on #12445
Yes, true. Upon casting to float or int, the colorbar works properly. So I believe there is no plan to support colorbar for either boolean or categorical data.

[2018-10-08 18:57] abbazs commented on #12447
I'm creating several images in loop and the memory keeps increasing and one solution given in [so](https://stackoverflow.com/a/12300012/1437877) was to create figure from `figure.Figure` instead of `plt.figure`

[2018-10-08 19:08] jklymak commented on #12445
Categorical would be a big change.  Boolean would probably be easier, but frankly it’s probably better to defer to numpy who are not allowing Boolean math any longer.

[2018-10-08 19:12] pharshalp opened #12449 "[Wishlist/candidate for gallery?] Diverging colormap taking into account asymmetry of the data about vcenter"
I have been using a different approach to achieve what #12419 tries to address (`DivergingNorm`).
The limitation of using something like `DivergingNorm`  is that it doesn't allow for using color range proportional to the extent of the vmax, vmin w.r.t. `vcenter` (please see the example below). I have been using the following hackish approach to get over this limitation. This approach also allows f

[2018-10-08 19:24] jklymak commented on #12449
I’m pretty sure there is an example like this in the new making colormaps tutorial (see the dev docs).

I’m not following the issue with extended data.  Does divergingmorm not work w that feature?  If true I’m sure that can be fixed

[2018-10-08 20:14] pharshalp commented on #12449
Thanks! I will take a look. By dev docs you mean the ones generated by CircleCI right?

please see the following example which uses the divergingnorm and fails to show the expected results.

[code]
![figure_2](https://user-images.githubusercontent.com/15175620/46631148-938bd780-cb14-11e8-9970-a70a93037f2c.png)

[2018-10-08 20:22] jklymak commented on #12449
Ok we can work on over under support for diverging norm.

Dev docs are linked on the front page of the main docs

[2018-10-08 21:54] anntzer commented on #9636
Closing for lack of info for reproduction.  Feel free to request a reopen with additional info.

[2018-10-08 21:55] anntzer commented on #11583
Closing for lack of activity. Feel free to reopen with additional info as requested above.

[2018-10-08 21:55] #11583 closed

[2018-10-08 21:57] anntzer commented on #12018
Closing for lack of activity. Feel free to reopen with additional info as requested above.

[2018-10-08 21:57] #12018 closed

[2018-10-08 22:07] anntzer commented on #11473
Closing for lack of activity. Feel free to reopen with additional info as requested above.

[2018-10-08 22:07] #11473 closed

[2018-10-08 22:56] samuela commented on #9636
@anntzer Does the script above not work for you?

[2018-10-08 23:00] anntzer commented on #9636
I'm not on OSX, but @dopplershift's comments above still applies in any case.

[2018-10-08 23:45] jklymak commented on #9636
@samuela, I'm closing again. The script above is not self-contained nor minimal.  I have a Mac and I cannot run it because half the variables are not defined.   If you minimize it, you may find the problem, or at the very least make it far easier for the maintainers to do so.  If you can provide a http://sscce.org we can re-open.  Thanks....

[2018-10-08 23:45] #9636 closed

[2018-10-09 02:36] stevencollinscn opened #12454 "Formatting numerical legend"
I'm looking for a way to format the numerical legend (e.g. using integers) in matplotlib and haven't received any answer on [StackOverflow](https://stackoverflow.com/questions/52503899/format-number-in-legend-label-in-matplotlib). Thus, I wonder if there is a way to do so right now. If not, I wonder if this could be a possible feature to add in the future release.

[2018-10-09 02:40] QuLogic commented on #12454
The labelling for the items that goes in the legend is done by wherever you get `gdf` from (Pandas? GeoPandas?). If you tag your SO post with those topics, you might get more interest, but this is not a request that can be fulfilled by Matplotlib, since it does not do any of that work.

[2018-10-09 02:40] #12454 closed

[2018-10-09 02:45] stevencollinscn commented on #12454
@QuLogic The map is made by `geopandas`, but in my second case where I got the plot with `Seaborn` and set the legend with `ax.legend()`. Is it controlled by `matplotlib`?

[2018-10-09 02:50] QuLogic commented on #12454
That would be done by seaborn, presumably. Matplotlib does not do any formatting of labels for the legend; it uses whatever is given to it by the whatever calls the plotting functions. You can attempt to pass [labels to `ax.legend` yourself (see 2 and 3)](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.legend.html), but you would have to generate them yourselves all over.

[2018-10-09 03:04] stevencollinscn commented on #12454
@QuLogic the doc seems to explain how to label legends instead of the subgroups under a legend, but thanks for the clarification.

[2018-10-09 05:00] kbrose commented on #12120
FYI it looks like there is an unnecessary doubling of runtime. The expensive `_find_best_position` method of `Legend` is called twice during normal operation. Maybe with some memoization things could be sped up -- but I'm guessing it will be tricky to memoize in the context of interactive plotting (hidden state will make it hard to know if the functions output is guaranteed to have stayed the same

[2018-10-09 08:32] 183amir commented on #10350
If you want, I can open a pull request with the proposed fix.

[2018-10-09 08:39] anntzer commented on #10350
Go for it.

[2018-10-09 08:50] 183amir commented on #10350
Done in https://github.com/matplotlib/matplotlib/pull/12456

[2018-10-09 11:54] BenMGeo commented on #12444
I tried to reproduce the errors above and found that I could not!

Instead of using my old environment with 2.2.3, I set up a minimum environment and everything works fine. So a fresh install makes 2.2.3 compatible. Looks like some .pyc files (?) were the reason for the issue.

It's really hard to find the reason here.

[2018-10-09 14:48] e3reiter opened #12458 "add_lines misses lines for matplotlib.colorbar.ColorbarBase"
### Bug report

**Bug summary**

For matplotlib.colorbar.ColorbarBase(...) usage of add_lines(...) may yield missing lines/poorly adjusted lines.

**Code for reproduction**

[code]

**Expected outcome**

4 white lines, crossing the colorbar.
Used to work on matplotlib 2.2.3!

**Matplotlib version**
  * Operating system: Ubuntu 18.04 LTS
  * Matplotlib version: 3.0.0
  * Matplotlib backend (`print(

[2018-10-09 15:35] jklymak commented on #12458
I'm pretty sure I know whats going on.  OTOH, can you provide an image of what you want this to look like?  Four big thick white lines across a really wide colorbar?

[2018-10-09 15:49] jklymak commented on #12458
Thanks - bug fix is in #12461

[2018-10-09 16:06] jklymak opened #12462 "cbar.add_lines should allow manually adding lines, not just contour sets"
_Originally posted by @dstansby in https://github.com/matplotlib/matplotlib/pull/12461#issuecomment-428247970_

Huh, and here I am manually adding lines to the cbar axes with `axhline`! You learn a new bit of the API every day...

_Originally posted by @jklymak in https://github.com/matplotlib/matplotlib/pull/12461#issuecomment-428249505

We could extend the API of cb.add_lines to check if the fir

[2018-10-09 16:11] jklymak commented on #12358
Im getting py3.5/np1.10 test failures due to numerics on #12419 that could use a decision on this....  Added to the weekly call agenda...

[2018-10-09 16:19] dopplershift commented on #12358
With matplotlib 3.1 likely out in 2019, I’m good with dropping Python 3.5.

[2018-10-09 16:59] ImportanceOfBeingErnest commented on #12358
So if no version of python is released within 3 years, we can drop support for *every version*.

Since that can't be how this is meant, one would rather look at when the version after that was released and add 3 years. So python 3.6 was released end of 2016, meaning python 3.5 can be dropped end of 2019. Or, one can interpret it such as python 3.5.5 being released in February this year, such that

[2018-10-09 17:50] phobson commented on #12358
I don't think this is the case. 3.5.5 is the _micro_ version released in Feb 2018. The minor version, *3.5*, was unambiguously released in 2016

[2018-10-09 17:52] jklymak commented on #12358
^ Did you mean 2015?

[2018-10-09 17:57] jklymak commented on #12447
What sticks around after `figure.close`?  We should plug that shouldn't we?

[2018-10-09 18:00] phobson commented on #12358
@jklymak yes -- I'll edit to reflect that

[2018-10-09 18:08] WeatherGod commented on #12447
The problem is that the figure stays behind in the pyplot module. This is
actually by design and it is how the pyplot interface works. Now, we should
double-check the behavior when fig.close() is called, as I suspect that
could be tightened up, but the slightly confusing part is that leaving the
scope of a for-loop, for example, would not garbage-collect the figure. So,
you are left with either re

[2018-10-09 18:48] pks9862728888 commented on #4126
Bdw How does the function bytesconverter(b): gets called in,

def bytespdate2num(fmt, encoding='utf-8'):
    strconverter = strpdate2num(fmt)
    def bytesconverter(b):
        s = b.decode(encoding)
        return strconverter(s)
    return bytesconverter

[2018-10-09 18:50] anntzer commented on #12447
There isn't actually a fig.close() method... (that makes sense as "closing" is a pyplot concept, not a figure concept)
There's plt.close(fig) and that does the right thing.

[2018-10-09 19:12] jklymak commented on #12447
Indeed.  But OTOH:

[code]

shouldn't keep growing memory use ad-infinitum, should it?

[2018-10-09 19:40] anntzer commented on #12447
That's almost certainly https://github.com/matplotlib/matplotlib/issues/9141 (this only appears to leak when using qt, not with other interactive or noninteractive backends).

[2018-10-09 19:46] jklymak commented on #12447
OK, agreed - with Agg memory use grows a tiny bit, but very very slowly.

[2018-10-09 19:55] tacaswell commented on #12358
I think we should stay with our 6 month release cycle, which means if we aim for February 2019 we will actually hit March 2019 ;)

If there are no minor versions of python for 3 years (given that they are on a 18 month release cycle) I think we can call the whole community dead and close up shop (or at least re-address the policy).

What I intended that sentence to mean was "support minor version

[2018-10-09 20:15] jklymak commented on #12358
@tacaswell - so MPL 3.1 is >= py3.6 and >= np1.10?  We could probaby change the tests if thats correct...

[2018-10-09 20:26] galenlynch opened #12467 "Documentation of AnchoredText's prop keyword argument is misleading"
This bug is nearly identical to #12121, but affects `AnchoredText` instead of `TextArea`.

The [documentation](https://matplotlib.org/api/offsetbox_api.html#matplotlib.offsetbox.AnchoredText) for `AnchoredText` strongly suggests that the keyword argument `prop` should be a `FontProperties` object. However, inspecting the [source code](https://matplotlib.org/_modules/matplotlib/offsetbox.html#Ancho

[2018-10-09 21:02] ImportanceOfBeingErnest commented on #12467
Sure, judging from #12434 you already know how that would be fixed. So if you have the time, just go ahead (no need to open a new issue for each item you find).

[2018-10-09 21:09] galenlynch commented on #12467
Maybe I should make another issue for this, but it would be nice if `TextArea` and `AnchoredText` had a consistent API, maybe by renaming the `prop` argument of `AnchoredText` to be `fontprops` as is used by `TextArea`, which has the added benefit of being more descriptive.

It seems like it would be fairly easy to also support the old keyword, to prevent breaking people's code.

What's the attitu

[2018-10-09 21:16] anntzer commented on #12357
At least the specific exception in the original report should be fixed by https://github.com/matplotlib/matplotlib/pull/12369.  Feel free to open a separate issue (including logging info) if there are additional problems using a version with that fix.

[2018-10-09 21:16] #12357 closed

[2018-10-09 21:17] anntzer commented on #9205
Closed by #12368 & #12369.

[2018-10-09 21:17] #9205 closed

[2018-10-09 21:19] anntzer commented on #8760
At least the specific exception in the original report should be fixed by #12369. Feel free to open a separate issue (including logging info) if there are additional problems using a version with that fix.

[2018-10-09 21:19] #8760 closed

[2018-10-09 21:36] tacaswell commented on #12358
As currently written that is the case :smiling_imp: .

I view this issue as the discussion on if we are going to stick to the written policy or adjust the policy to keep 3.5 for a while longer.

[2018-10-09 21:41] anntzer commented on #12358
Let's not, unless there are compelling arguments not to, which I haven't seen so far.
It was already seriously considered whether to support py3.5 in mpl3.0, it's more than time to drop it.

[2018-10-09 21:46] jklymak commented on #12358
I vote to drop py3.5 and np1.10

[2018-10-09 22:08] anntzer commented on #12358
(For #12419 itself I think just bumping to numpy 1.11 is enough, see comment in that thread.)

[2018-10-09 22:16] jklymak commented on #12358
(For sure - my vote wasn't *just* based on #12419, the testing issues of which can easily be worked around).

[2018-10-09 22:18] jklymak commented on #12358
(though I'll change my vote if there are omnibus PRs that change every `.format` in the code to f-strings. 😈 )

[2018-10-09 22:20] anntzer commented on #12358
Fortunately that can be automated... (https://github.com/asottile/pyupgrade#f-strings)

[2018-10-09 22:48] ImportanceOfBeingErnest commented on #12358
To have some basic project management applied, it would make sense to have a list of issues that would benefit from dropping a dependency. Those should be *real problems* to be solved, since there is no need for f"string" support and getting a lot of "Since we dropped py3.5 we might as well..."-PRs in would effectively bind more energy than it would free. Only if there is a cost/benefit ratio > 1,

[2018-10-09 22:54] jklymak commented on #12358
Two of my PRs suffer from np1.10 issues: #11859, #12419.  Both can be worked around, but it'd be nice to not have to if 1.10 isn't being used much...

[2018-10-09 23:00] dopplershift commented on #12358
Real problems: By dropping the Python version dependencies, we reduce the number of test entries on travis and AppVeyor, decreasing test times. Also, we reduce the number of wheels we need to compile and upload to PyPI.

[2018-10-10 01:20] louis925 commented on #12188
There is another issue on Spyder relates to this bounding rocket icon. When the rocket icon is flashing, the CPU is high. Any input to the console of Spyder will freeze until you click on the bouncing python rocket icon in dock. The Spyder version is 3.3.1. Python version is 3.6.6. The issue happens in Matplotlib 3.0.0 but not in 2.2.3.

[2018-10-10 08:08] anntzer commented on #12445
Let's close the issue here as it was already discussed less than a year ago and we decided to defer to numpy's choice.
If you want to re-discuss this decision, the mailing list (with references to both discussions here) may be a better place to catch the core-devs' attention.

[2018-10-10 08:08] #12445 closed

[2018-10-10 08:10] anntzer commented on #12288
Closed by #12293, I think?

[2018-10-10 08:10] #12288 closed

[2018-10-10 08:16] helldanno commented on #12173
@Kojoley the wheel you provided for #12408 fixed that problem for me. I am using python 3.5.6 with Miniconda on Windows 10 64 Bit . Thanks!

[2018-10-10 09:02] henryiii commented on #8547
Has someone made a Numpy request? It's at least not linked here.

Unfortunately, one of the uses for this involves the MatPlotLib only list of data sources: Let's say you have twice as many samples in b as in a. Then if you do: `plt.hist([a,b])`,  `b` will be 2x too large. `weighs=[2,1]` or `weights=[1,.5]`, would fix this, but that probably would be tricky to separate from the currently supported

[2018-10-10 10:09] pp-mo commented on #12025
I agree.  There is no such thing as a general-purpose regrid algorithm.
Though in the case of streamplots, the relationship between the original data and what you see is in any case much less direct :  Compared to contouring, for example, you can't easily either predict or control where it will draw the lines.

From our parochial point of view, we will generally be drawing out plots onto maps via

[2018-10-10 12:06] dstansby commented on #12462
Actually, for manually adding lines to just the colourbar I think using `axhline` on the colourbar axes is a reasonable way of doing it - an example in the gallery would be nice though showing how to get the colourbar axes and then add a hline.

[2018-10-10 13:22] #12467 closed, assigned to nobody

[2018-10-10 16:03] bakert commented on #12188
I have a variation on this issue using matplotlib 3.0.0 on OSX 10.13.6 with python 3.6 or 3.7 (installed from macports).

When I start my flask webserver I get not one but two rocketship icons. The following code is implicated:

[code]

They do bounce for a long time but not forever. Because Flask reloads automatically on detecting a change on the filesystem I get the beachball and a lot of bounci