[2022-03-24 16:06] jklymak commented on #22688
The Identity transform is documented to be in pixels...

https://matplotlib.org/stable/tutorials/advanced/transforms_tutorial.html

[code]

... though I agree the analogy breaks down for vector backends.  However, the point is that pixels is a brittle co-ordinate system, whereas an inch is an inch (or 2.54 cm).  Of course users can also scale their displays to non-native resolutions, but if they d

[2022-03-24 16:22] tacaswell commented on #22688
Hmm, then I think we should re-word that bit of the tutorial.  My understanding is that our `Transform` objects do not have any notion of units (they are "just" matrices or functions) so it is up to the human to keep track of what the input / output spaces are without the aid of the computer.

In the case of "display" because you are already in the final coordinate system, the transform to get you

[2022-03-24 17:05] 2sn commented on #22673
I think you first analysis is not correct.  The resolution of 100 dpi it uses first is the correct one.  The 72 dpi is a default value it must be getting elsewhere.  From `xdpyinfo`:
[code]

[2022-03-24 17:06] 2sn commented on #22673
window manager is fvwm2.  But there was never an issue until the current mpl version ...

[2022-03-24 17:08] 2sn commented on #22673
I follow you steps above and window is not rescaled.  No issues.

[2022-03-24 17:13] 2sn commented on #22673
it I enable my matplotlibrc file, the problem appears.
interactive mode in IPython is not an issue (no problem occurs).
[code]
The file, admittedly is dated ...

[2022-03-24 18:07] jklymak commented on #22673
interactive mode in IPython is not an issue (no problem occurs).

Can you clarify both these statements?  I can't tell exactly what you did.  Thanks.

[2022-03-24 22:20] 2sn commented on #22673
I use a custom ipython config file that loads `%pylab` with interactive mode.  Ding so does not break resolution.

If I use the above `matplotlibrc` file, the error occurs, independent whether `%pylab` is loaded or not.

So the bug seems to be triggered by my `matplotlibrc` file, which I have been using mostly unchanged since a decade.

[2022-03-24 22:38] tacaswell commented on #22695
I can not reproduce this:

[code]

[2022-03-24 23:06] #22694 closed

[2022-03-25 05:02] #22687 closed

[2022-03-25 09:33] jklymak commented on #22673
Your matplotlibrc file only uses Qt5Agg, so far as I can see.  The rest of it is commented out.  If you don't use Qt5Agg, you are presumably using TkAgg, which you said above is also broken, but now you say it is working?  Hard for us to track down, but my guess would be you have a broken Qt5 installation.  Perhaps upgrade `pyqt`?

[2022-03-25 11:25] silvertonsils commented on #22688
Many thanks to all of you who responded. All of the information is very useful.

For your information, I was trying to draw 3D objects in a figure (I wanted to exercise my vector and matrix maths, and deal with motion and rotation and all that juicy stuff!). So I wanted to use the entire figure size with no axis lines, and no space allocated for axis labels, lines or margins. I know they can be tu

[2022-03-25 12:16] silvertonsils commented on #22688
Further update:

Just tried at 125% display scaling again.

If I set DPI to 125 first, then figure size/scaling seems to be preserved. Just need to figure out how to get system DPI first and then set figure DPI before do any drawing.

`
import matplotlib.pyplot as plt

fig=plt.figure()
fig
<Figure size 640x480 with 0 Axes>
fig.get_dpi()
100.0
fig.set_dpi(125)
fig.get_dpi()
125
fig.get_size_inches(

[2022-03-25 18:41] raphaelquast commented on #19116
hey, any updates on this? I still get this issue with `ipympl` and I have no idea how to even temporarily address this...

[2022-03-25 19:54] vpicouet commented on #22686
I don't think I am qualified to do so, never opened a PR yet.
RangeSlider might also contain another issue.
When I call `RangeSlider.set_val([1,2])`
It changes only the blue poly object and the range value on the right side of the slider not the dot:
![Capture d’écran, le 2022-03-25 à 15 53 44](https://user-images.githubusercontent.com/37241971/160191943-aef5fbe2-2f54-42ae-9719-23375767b212.jpg)

[2022-03-25 21:55] ianhi commented on #22686
That's always true until you've opened your first one :). But I also understand that it can be intimidating.

oh hmm - good catch! may be worth opening a separate issue there as these are two distinct bugs and this one may be a bit more comlicated to fix.

[2022-03-25 21:59] vpicouet commented on #22686
Haha true! I might try when I have more time!
Throwing an error at least as I have never worked with axhspan and polys.
Ok, openning another issue.

[2022-03-25 22:04] vpicouet opened #22706 "[Bug]: RangeSlider.set_val does not move the slider (only poly and value)"
### Bug summary

When I call `RangeSlider.set_val([0.0,0.1])`
It changes only the blue poly object and the range value on the right side of the slider not the dot:
![Capture d’écran, le 2022-03-25 à 18 00 59](https://user-images.githubusercontent.com/37241971/160208124-63db8584-6a4b-470a-a8dd-a0c2394c889e.jpg)

### Code for reproduction

[code]

### Actual outcome

 I does not move the slider
![

[2022-03-25 23:14] ianhi commented on #22706
Ahh actually there is yet another bug with the handles that I discovered looking at the code for this. For a vertical rangeslider the handle positions go bananas:
[code]
![broken-range-slider](https://user-images.githubusercontent.com/10111092/160213430-2b585a0b-8a3b-44a8-8143-cc14b25e4b09.gif)

This vertical bug, and the original bug both stem from the fact that the only updating of the slider ha

[2022-03-26 04:11] github-actions[bot] opened #22708 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.

[2022-03-26 04:13] github-actions[bot] opened #22709 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.

[2022-03-26 05:58] QuLogic commented on #22709
Dupe of #22708.

[2022-03-26 05:58] #22709 closed

[2022-03-26 05:59] QuLogic commented on #22708
Only a single failure:
[code]

[2022-03-26 06:45] QuLogic commented on #22708
The difference in NumPy is `1.23.0.dev0+910.g6258d18a0` vs `1.23.0.dev0+939.gc9689ca05` and I think that's all this test hits.

The most obvious change might be numpy/numpy#20991 since this code is using `exp` and `log`, but I can't reproduce and it seems that that PR may only affect AVX512 hardware.

[2022-03-26 14:37] silvertonsils commented on #22688
Managed to find a workaround (hesitate to call it a solution, as I still think the underlying behaviour is inconsistent)!!!

If I force a figure draw initially using `plt.pause(1)` or `plt.waitforbuttonpress(1)`, then the figure gets updated and the dpi changed. From then on I can use 'figure' methods as expected. Unfortunately, a `plt.show(block=False)` is insufficient - it still leaves the dpi u

[2022-03-26 14:48] silvertonsils commented on #22688
Sorry @tacaswell , but this is NOT THE CASE :'(

[code]
This sets everything up with [640x480 at 100 dpi], but then draws it rescaled at [800x600 at 125 dpi], so the circle is left-downward shifted to origin

[2022-03-26 15:01] greglucas commented on #22688
1. For updating a figure you can specifically request a draw with `fig.canvas.draw()` or `fig.draw_without_rendering()`, so you shouldn't have to pause for any amount of time.
2. You have grabbed the transform object and done the transforms yourself before requesting a draw, so you are explicitly setting the location and not enabling updates. You should put the transform into the object so that it

[2022-03-26 15:21] nik1097 commented on #22686
Can I try working on this? @ianhi @vpicouet
From the discussion, I could identify that a quick fix would be to use a try-except block to throw an error
if valinit[0] == valinit[1]

Please let me know your thoughts.

[2022-03-26 15:34] #22150 closed

[2022-03-26 15:37] nik1097 commented on #22706
I will try recreating and fixing this issue to if that's okay @vpicouet @ianhi

[2022-03-26 15:39] vpicouet commented on #22686
Sure!

[2022-03-26 15:39] vpicouet commented on #22706
Yes!

[2022-03-27 01:21] ianhi commented on #22686
@nik1097 anyone can work on any issue at any point - no need to ask :) The only thing you should do is check that theres not already a PR for it.

while this would have made this an explicit error I think we should use this an opportunity to improve the functionality by using option 2 from https://github.com/matplotlib/matplotlib/issues/22686#issuecomment-1076496982

That creation code will look s

[2022-03-27 09:41] silvertonsils commented on #22688
@greglucas thanks for the reply. Unfortunately, this ends up with an oval 'circle', as n% of x-axis is not the same as n% of y-axis. This will always be the case with a standard aspect ratio. The only way around this is to force `ax.axis('equal')` or `ax.axis('square')`.

However, this was only an attempt to illustrate the underlying situation. I am attempting to preserve scaling of objects that h

[2022-03-27 10:33] jklymak commented on #22688
Try fig.dpi_scale_trans to specify perfect circles, regardless of dpi changes.

[2022-03-27 14:04] nik1097 commented on #22686
Hey, I guess the below PR should fix this issue too. If I'm not wrong, I will wait for the PR to be approved.
https://github.com/matplotlib/matplotlib/pull/22711

[2022-03-27 14:26] ianhi commented on #22686
@nik1097 that PR doesn't address this issue so no need to wait for that one

[2022-03-27 18:45] jklymak commented on #22688
See in particular:

[code]

Note how resizing the figure keeps the patch in the same absolute position and size.  This will also work if you change dpi because you move between screens with different dpi scaling.

[2022-03-27 21:48] nik1097 commented on #22686
Yes, it makes sense now. Will get back to you asap @ianhi

[2022-03-27 22:38] mwaskom opened #22713 "[Bug]: axis set_transform and get_transform are not related"
### Bug summary

The `XAxis` / `YAxis` objects attached to an `Axes` have `get_transform` and `set_transform` methods, but unlike other getters/setters, you can't get the value you set.

### Code for reproduction

[code]

### Actual outcome

[code]

### Expected outcome

[code]

### Additional information

I'm not sure if this is really a bug or if it's just a confusing /  rough edge. The scale/tr

[2022-03-28 04:31] quentinmit opened #22714 "[Bug]: parasite_axes does not properly handle units"
### Bug summary

When plotting on a parasite axis using `axes_grid1.parasite_axes`, units are not automatically applied to the parasite axis.

### Code for reproduction

[code]

### Actual outcome

<img width="708" alt="image" src="https://user-images.githubusercontent.com/115761/160324420-f52b7906-67de-416f-9635-2ca381ffbd37.png">

### Expected outcome

<img width="708" alt="image" src="https://u

[2022-03-28 07:08] doronbehar opened #22715 "[ENH]: Support Tectonic as a LaTeX engine"
### Problem

I don't use Texlive, I use [Tectonic](https://github.com/tectonic-typesetting/tectonic), and I using `plt.rcParams['text.usetex']` requires me to download a different LaTeX engine, not only because the `latex` binary is searched, but also because the `tex` files that are meant for compilation are meant for `pdflatex`, and not `xetex`, which tectonic essentially wraps.

### Proposed so

[2022-03-28 07:12] jklymak commented on #22713
I'd say this is a rough edge....  `get_transform` returns `self._scale.transform`.  `set_transform` sets `self._transform` in the `Artist` class, but this property is never used by `Axis`.

I would guess the proper thing to do is to add a `set_transform` method to `Axis` that either sets the scale transform, or errors out.    What was your goal here?  I think in general, the Axis/scale/transform/L

[2022-03-28 07:22] jklymak commented on #22715
1. My reading of tectonic is that it still downloads TexLive?  Do you really not have pdflatex on your system path?

2. I don't think its too hard to change `text.usetex` to include an executable name instead of simply a boolean.  OTOH it will increase our maintenance burden when folks claim things don't work.

[2022-03-28 07:36] doronbehar commented on #22715
Tectonic downloads `.sty` according to what your document uses - that's the main feature of it - you don't have to deal with `tlmgr` or use your Linux package manager to manage tex dependencies - it all happens automatically!

I do have now, but getting the generated tex file to compile wasn't trivial, due to `type1ec.sty` and `type1cm.sty` - it took me an hour or so to figure out how to get these

[2022-03-28 08:11] doronbehar commented on #22715
That's part of the point but it's not accurate. Generating tex documents that with Tectonic will produce similar results to what's produced now, is simpler because it uses xetex, UTF-8 and modern OpenType fonts - meaning that generating such it won't even require the `type1*.sty` packages. It will only require fonts, which we can leave for the user to configure in case our default choice doesn't e

[2022-03-28 08:34] oscargus commented on #22715
What about introducing another rcParam, like `text.texengine` or something that defaults to `pdflatex`?

Possibly with a finite number of options (`pdflatex`, `xetex`, ...). Benefit: it is easier to adapt the tex-file based on the option. Drawback: one cannot specify an exact path (or some parsing to extract the engine from `c:\Program Files\...\pdflatex.exe` is required).

But, yes, it can make s

[2022-03-28 10:11] anntzer commented on #22715
We currently don't support xetex or pdftex (and therefore likely can't support tectonic either), due to https://github.com/matplotlib/matplotlib/issues/20262#issuecomment-846565046.  It would be nice to fix that, but it's not a trivial piece of engineering either (as outlined in that comment).

[2022-03-28 12:04] kkoutris commented on #22376
Is this issue still open?
If yes can you assign me @anntzer ?

[2022-03-28 12:33] anntzer commented on #22376
See https://matplotlib.org/devdocs/devel/contributing.html#issues-for-new-contributors.

[2022-03-28 12:39] tjnd89 opened #22717 "[Bug]: Using a Wedge() in polar coordinates doesn't render properly"
### Bug summary

I'm generating a 2D histogram plot in polar coordinates (r, theta). At various values of r there can be different numbers of theta values (to preserve equal area sized bins). To draw the color coded bins I'm using ax.bar() call, one for each radial ring and passing in arrays of theta values (each bin rendering as an individual bar). But when doing 90 rings with 3 to 360 theta bins

[2022-03-28 13:04] kkoutris commented on #22376
I don’t see any PR on the issue but probably @neil-gurnani  is still working on it. I’ll wait a couple of days or look for a different issue.

[2022-03-28 18:01] andrew-fennell opened #22720 "[MNT]: Generalize widget mouse testing"
### Summary

Mouse testing for RangeSlider widget is not supported in the current widget testing framework. The current mouse testing for widgets is done using the ```click_and_drag``` function, but it has no support for widgets without 'press' events.

### Proposed fix

The ```click_and_drag``` function should be generalized in order to support more widgets. One solution would be adding support f

[2022-03-28 18:02] andrew-fennell commented on #22720
The ```click_and_drag``` function:
https://github.com/matplotlib/matplotlib/blob/2e921df22ba6b2a7782241798b042403c04cbdaf/lib/matplotlib/testing/widgets.py#L92

The ```click_and_drag``` function is currently moving the mouse with these function calls:
https://github.com/matplotlib/matplotlib/blob/2e921df22ba6b2a7782241798b042403c04cbdaf/lib/matplotlib/testing/widgets.py#L112-L114

This is where th

[2022-03-28 18:27] karahanyilmazer commented on #12221
The multi-DPI setting works now. However, after some testing, I have to say that I still need the

[code]

part to make sure that the plots are visible enough.

[2022-03-28 20:51] tacaswell commented on #12221
If that is the case then Qt is not in "high-dpi" mode for you.

Can you check `fig.dpi_pixel_ratio`?  We are extracting this value from Qt via https://github.com/matplotlib/matplotlib/blob/2e921df22ba6b2a7782241798b042403c04cbdaf/lib/matplotlib/backends/qt_compat.py#L177-L193 if you could check that those values as well?

[2022-03-28 21:29] ianhi commented on #22720
I think the core issue is that `do_event` calls methods on the widget rather than actually processing events through the canvas.

So changing:
https://github.com/matplotlib/matplotlib/blob/2e921df22ba6b2a7782241798b042403c04cbdaf/lib/matplotlib/testing/widgets.py#L87-L89

to be something like
[code]

would more completely exercise the events mechanism and be more general

[2022-03-29 07:20] #4976 closed

[2022-03-29 07:24] jklymak commented on #22401
I guess I'm mildly against this - what is the use case to have no data, but keep the artist alive?

[2022-03-29 08:56] #22303 closed

[2022-03-29 09:59] MarkWieczorek commented on #22673
I can confirm/reproduce this bug. `tight_layout()` seems to be doing something weird with the figure dpi. I note that I manually set the dpi to 114 to accommodate the screen that I work with:
[code]
As a result of this, `tight_layout()` does not change the physical size of the figure on the screen, but it does reduce the size of the graphic that you plot in the figure.

macos (intel)
python: 3.9.1

[2022-03-29 10:06] anntzer opened #22726 "[Bug]: tripcolor ignores clim"
### Bug summary

[code]
shows that tripcolor ignores clim.

### Code for reproduction

[code]

### Actual outcome

Colorbar/colormapping goes from nearly 0 to nearly 1.

### Expected outcome

Colorbar/colormapping goes from 0 to 0.5.

### Additional information

This is the same issue as #21146/#21525: kwargs should be handled a bit further down in the implementation of tripcolor() (just before ca

[2022-03-29 11:29] jklymak commented on #22673
@MarkWieczorek Can you include your imports and the backend you are using?  You must have something set in a configuration file somewhere to not need to execute the imports...

On MacOS, master, if I do

[code]
... you can complain that the dpi "changed" but that is because I am working on a Retina screen.

[2022-03-29 13:03] MarkWieczorek commented on #22673
After starting with a base environment with only matplotlib-base installed I note the following:

* First, I have a retina screen but my screen dpi didn't get upgraded like yours did. I don't understand this.

* Second, I can reproduce your results above. This suggests that one of the 50+ packages that I have installed could be causing this problem.

* Third, as it will be extremely time consuming

[2022-03-29 13:28] jklymak commented on #22673
If a fresh install behaves properly, my guess would be you have a crossed install somehow.  I would just rebuild my environment until it fails, perhaps starting with removing Matplotlib and re-installing it (and any dependencies ti takes with it).  Don't remove the old environment, just make a fresh one.

[2022-03-29 14:20] ianhi commented on #22401
For me it's when controlling the artist with a slider. You are moving some parameter around and for some values you may not plot anything. I forget the actual use case by some user of mpl-interactions ran into this. In that context they just provide a function that generates data and I call `set_offsets` for them it would be a decent bit of extra logic to also manage `set_visible` just for the cas

[2022-03-29 15:41] karahanyilmazer commented on #12221
`plt.matplotlib.rcParams['figure.dpi']` returns 100.
However,
[code]

returns 260.

[2022-03-29 15:46] cjthedj opened #22727 "MAtplolib pan and zoom dead slow on new PC"
I just got a new PC. My very complex set of matplotlib based plotting now runs like a dog. 9 seconds plus response times to any panning or zooming. The new  PC itself is twice as fast as the old one running the initial plot creation scripts. The old PC matplotlib version was 3.3.2 New one 3.5.1. Both using TkAgg backend.
  Win64 PCs. Both have 80G of RAM at least.
  I tried reverting matplotlib to

[2022-03-29 16:25] #22727 closed

[2022-03-29 20:23] timhoffm commented on #22401
"Artist without content" is a reasonable if not necessary concept. It allows us to keep track of a data concept, even if we don't have values for it right now.
This is also relevant for legend consistency and color synchronization. See #21506 for a similar case.

[2022-03-29 22:36] hmaarrfk opened #22728 "[ENH]: Higher bitdepth turbo colormap"
### Problem

Turbo is great at picking out features in images and ensuring they are visible throughout the entire range of the data.

However, with 8bit quantization, often quantization effects can be seen. Especially in the "Blue" region.

I'm wondering if it be acceptable to create some higher bit depth colormaps for turbo:

[code]

[code]

Ultimately, it would be good to have better precision i

[2022-03-29 23:07] tacaswell commented on #22728
We do not have a colormap class that directly wraps a spline, but that might be interesting to implement.

Failing that, I am  +0.5  on just putting more points into the turbo color map, this may land better is one of the colormap extension packages?

[2022-03-29 23:10] hmaarrfk commented on #22728
I was comparing results from `Reds`, and it seems that `Reds` interpolates something.

Can you point me to where the interpolation is done?
https://github.com/matplotlib/matplotlib/blob/f6e0ee49c598f59c6e6cf4eefe473e4dc634a58a/lib/matplotlib/_cm.py#L1386

It may just be enough to implement the same interpolation and leave the spline to a future improvement.

[2022-03-30 00:19] aswarner commented on #22376
I've been looking at this for a couple weeks -- it doesn't appear to be as easy as expected. We can replicate the grouping of axes with the the same rowspans, as done in align_xlabels(), however, updating the title location is done in the _AxesBase class, while the label updates are done in the Figure class. Importantly, the Figure class has access to subplots, but the axesBase class does not have

[2022-03-30 00:59] QuLogic commented on #22728
`Reds` is a [`LinearSegmentedColormap`](https://matplotlib.org/stable/api/_as_gen/matplotlib.colors.LinearSegmentedColormap.html#matplotlib.colors.LinearSegmentedColormap).

[2022-03-30 01:27] hmaarrfk commented on #22728
Ignoring backward compatibility worries. Would it be appropriate to make turbo that?

[2022-03-30 06:05] jklymak commented on #22376
the title moving logic was copied from the x/ylabel moving logic,  so aligning the titles should be possible after the automated moving that happens in `Axes`, just as its possible to align the x/y labels.

[2022-03-30 06:25] QuLogic commented on #22673
Note that @greglucas has made some improvements to HiDPI handling on the macOS backend that are only in `main`.

[2022-03-30 07:13] jklymak commented on #22673
My tests were in a fresh condo env on 3.5.1 using `Matplotlib-base`.  However, its always possible _I_ have a crossed install!

[2022-03-30 07:14] 2sn commented on #22673
For me, it seems that just the presence of the customised `matplotlibrc` causes the issue.

Something must be called differently by `tight_layout` for the dpi.  Why does `tight_layout` change dpi in the first place?

[2022-03-30 07:20] jklymak commented on #22728
We have either lookup tables or `LinearSegmentedColormap`.  Re-implimenting turbo as a LinearSegmentedColormap would be a bit ugly, but probably doable.  Adding a `SplineColormap` are re-implimenting turbo that way might be fun;  both should be backwards compatible with turbo(256) and give the better color resolution for larger colormaps.

I do also wonder if look-up-table colormaps could somehow

[2022-03-30 07:38] jklymak commented on #22673
`tight_layout` does not (directly) change the dpi.

[2022-03-30 07:42] 2sn commented on #22673
What, then causes the actual change?  It must be calling some functions that implicitly reset it.  I suspect it needs it for calculations, but when obtaining it the function used changes it where it should not?

[2022-03-30 07:44] jklymak commented on #22673
We don't know, because we can't reproduce the problem.

[2022-03-30 07:56] 2sn commented on #22673
I run matplotlib in a Python install built from source on Fedora 35.
Maybe that can be recreated in a virtual machine, although seems a lot of effort.

[2022-03-30 08:05] jklymak commented on #22673
Can you try using a fresh conda install and see if the problem persists?  Conda installs are easy to remove afterwards if you want to revert to your hand-rolled version.  However, it seems likely your Qt/pyqt/matplotlib libraries are crossed...

[2022-03-30 08:18] cjthedj commented on #22727
I am but a humble user of python and MAtplotlib. My knowledge of how github works is virtually non-existent,
However I REALLY need this fixed.
  If matplotlib 3.52 release is imminent then I can wait.
  If not , is there a way of getting "early access" to the fix? My use of matplotlib is quite complex and does stretch the tool. I could try the fixes for you in a "real user application"  and report

[2022-03-30 08:22] 2sn commented on #22673
what does this mean?  I installed all from pip.  It should only depend on non-python system libraries, as I often have different version of Python than system.

I don't like the intrusion of Conda into the system; a source install of python should be more pristine and 'vanilla. than conda.  The point would be to get things working in a plain install.

As a test, would one look at the toght_layout

[2022-03-30 08:32] 2sn commented on #22673
I tried to install conda, but it seems to
- be making a big mess
- send you back to the stone age (Python 3.9)
One reason not to use conda it that is often a bunch of released behind current, in contrast to, e.g., homebrew on MacOS.

[2022-03-30 08:33] jklymak commented on #22673
Conda doesn't intrude into the system; everything goes in `~/anaconda3/`; to uninstall you remove that directory and delete the `>>> conda initialize >>>` block in your shell rc file.  Nothing gets installed in the system.

I don't think you can install Qt from pip; it is a non-python library.

[2022-03-30 08:35] 2sn commented on #22673
yes, the basic Qt development tibraries come from the system, e.g.,
[code]

[2022-03-30 08:38] 2sn commented on #22673
yes, I uninstalled conda again the way you described.  I got the 3.9 version of python, but I would have to install a lot more packages to get ipython as well, for which it still called my original ipython from 3.10.  So there may be some confusion of what is called further down the line, making debugging harder not easier.

[2022-03-30 08:52] jklymak commented on #22727
The bug was introduced in 3.5, so you can install 3.4 and be fine until 3.5.2 comes out.  Conversely you can install from source:  https://matplotlib.org/stable/users/installing/index.html#installing-from-source

[2022-03-30 09:04] 2sn commented on #22673
I also do not have the problem on MacOS (M1), install through homebrew.

Just-released IPython 8.2 still has same issue on Linux.

Is there a way to track when dpi settings are affected, a line you could suggest I add to cause a breakpoint or traceback?

[2022-03-30 09:28] jklymak commented on #22673
tight_layout does `ax.get_tightbbox`, which requires the renderer.  You can test:

[code]

but I'm still unclear what your interactive environment is doing.  Test scripts first, and then try in ipython.

[2022-03-30 10:54] tjnd89 commented on #22717
Thanks @timhoffm! Works like a champ.

[2022-03-30 10:57] 2sn commented on #22673
the script, run in plain python, results in

![xxx](https://user-images.githubusercontent.com/1273110/160813192-a36da9ee-0999-4e53-b4c7-028538e96ad9.png)

which has the wrong resolution compared to

[code]
shown below.

![xxx](https://user-images.githubusercontent.com/1273110/160813367-35198025-f475-4496-85b7-81150e9c36af.png)

but if I run `plt.tight_layout()` I get the troubles:

[code]
![xxx](h

[2022-03-30 11:00] 2sn commented on #22673
Would there be any use in installing matplotlib from source (current git) rather than pre-compiled package (`matplotlib-3.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl` in my case)?

[2022-03-30 11:14] mwaskom commented on #22713
I am trying to figure out the cleanest way to add more explicit scale support in seaborn. Even though the scale is axis-specific, there is no `axis.set_scale` method. And I would actually like to avoid having `set_scale` override locators and formatters.

Yes, this has been my experience. (Also add in "units" as a separate concept).

In a kind of hand-wavy sense, the problem is that the most strai

[2022-03-30 11:30] jklymak commented on #22673
Your matplotlibrc has nothing in it, except for Qt5Agg and a couple of pdf settings.  Its hard to see how that is causing you grief (unless it is Qt5Agg that is causing you problems, and nor specifying it is giving you tkAgg), but why not just replace it with a modern matplotlibrc?

[2022-03-30 11:48] jklymak commented on #22376
I took a quick look at this again.  The logic in `axis.py` is exactly the same logic you would need to use in `_base.py` in `_update_title_position`.  You can just make another `_align_label_groups['titles']`.  I think there are some details to work out, but the information flow is exactly the same as for the way it is set up now.

[2022-03-30 12:22] 2sn commented on #22673
@jklymak you can see from the plots that Qt5Agg is the default I get when `matplotlibrc` is missing.

[2022-03-30 12:28] 2sn commented on #22673
As you say, the file does not contain much uncommented lines.  There are two:
[code]
the latter I actually only added a few weeks ago, around when matplotlib 3.5 was released.

So I figures I might quite well try out whether it is any of them ...

It turns out that, in fact, when I comment out again the second line, all works and the issues go away.  So it the
[code]
line that causes the failure.

[2022-03-30 12:34] 2sn commented on #22673
When I use
[code]
there is no issue, nut for anything else (`ps`, `svg`, `pdf`) it breaks.

[2022-03-30 12:43] 2sn commented on #22673
.. there was also
[code]
but had no impact.  I now switched to the new `matplotlibrc`, but as you say, it is just a new set of comments.  All but `png` for savefig.format is still broken.

[2022-03-30 12:44] 2sn commented on #22673
![xxx](https://user-images.githubusercontent.com/1273110/160837025-43b67089-33a5-45d5-87af-9531b8c8c8ae.png)

[2022-03-30 12:48] 2sn commented on #22673
Now that I isolated it, with the config line
[code]
`tight_layout` also breaks on current MacOS (M1) installed from homebrew/pip - this should be generally reproducible.

[2022-03-30 12:58] jklymak commented on #22673
OK, that's helpful.  I cannot reproduce the error, but if I do `plt.rcParams['savefig.format'] = 'booger'` then I can get an error at backend_bases.py:1537, in `_get_renderer`, where we try to make the renderer whatever the print format is supposed to be.  For png its basically the same as the window so all is fine.  For pdf and friends dpi is 72.

This was last played with by @anntzer #21395, I t

[2022-03-30 13:12] jklymak commented on #22673
I dunno, I am going to take a wild guess that someone monkey patches us in both your tool chains and breaks our renderer dance.  It _would_ be helpful to know which package, but unless we can find a Matplotlib-only reproducer, its hard of us to move forward.

[2022-03-30 13:42] 2sn commented on #22673
On MacOS (M1), I use homebrew with current python 3.10.2, current IPython (but irrelevant) installed from pip.
commands in IPython with pylab (but both are irrelevant) simpy are
[code]
to get the misfit window/dpi patch.  And it only depends on the
[code]
config line.

I do not use conda.  But I do use Python 3.10.2.

I would think a homebrew install of python on MacOS is fairly standard.

[2022-03-30 13:44] jklymak commented on #22673
Why do you think they are irrelevant?  Please test without ipython.

[2022-03-30 13:45] jklymak commented on #22673
If you can't start from a clean install and then isolate the package that breaks, we can't move forward.

[2022-03-30 13:49] 2sn commented on #22673
They are irrelevant because on my linux install the plain python script does the same thing.  As noted in the earlier posts.

The MacOS note just above was only for the MacOS to test whether uniquely that one line breaks things or fixes them when commented out.  It does.  This was to make sure it is not just my install or platform.

[2022-03-30 13:57] cjthedj commented on #22727
WOW 3.4 is SO much faster than 3.3.2 on my old machine. Some redraw times have gone down from several seconds to well under half a second

[2022-03-30 14:10] MarkWieczorek commented on #22673
THE PROBLEM IS JUPYTER

Try this
```conda create -n test python=3.10 matplotlib-base jupyter```

[2022-03-30 14:17] 2sn commented on #22673
[code]
now we have to get `matplotlib`
[code]
and run
[code]
and now with
[code]
I get as before
[code]
![xxx](https://user-images.githubusercontent.com/1273110/160855314-4c998e9e-42db-4174-8e95-f6b2be7c6181.png)

So, even the most minimal (`pip3 install matplotlib`) install on a fresh plain python 3.10.2 breaks things.

Even with tkAgg (see plot).  No Jupyter needed to break it.  It's broken all

[2022-03-30 14:17] pllim opened #22731 "MatplotlibDeprecationWarning: Auto-removal of overlapping axes is deprecated"
Hello, `astropy` started encountering `MatplotlibDeprecationWarning: Auto-removal of overlapping axes is deprecated` when testing against dev version of matplotlib. I think it comes from our WCS projection stuff somewhere in `astropy.visualization` but I am not familiar enough with that subpackage to fix it. Any hint is welcome. Thanks!

astropy/astropy#13013

[2022-03-30 14:58] jklymak commented on #22673
@2sn @MarkWieczorek  if either of you are able to checkout #22732 and see if that magically fixes things, that would be appreciated.  I think we were falling back too soon, and should have been checking fig.canvas.get_renderer before falling back to the cached renderer...

[2022-03-30 15:01] 2sn commented on #22673
@jklymak How would I use it (how to install from that patch)?

[2022-03-30 15:07] jklymak commented on #22673
https://github.com/cli/cli/blob/trunk/docs/install_linux.md

[code]

[2022-03-30 16:08] pllim commented on #22731
Okay, thanks for the hint!

[2022-03-30 16:47] karahanyilmazer commented on #12221
I executed the following block:

[code]

This returns: `'Figure' object has no attribute 'dpi_pixel_ratio'`

Could you tell me the type of fig?

[2022-03-30 16:58] andrew-fennell commented on #22726
I want to make sure I understand the issue correctly. Could you look at my "correct output"?

## Test code
[code]

## Incorrect output
![image](https://user-images.githubusercontent.com/28690153/160887469-ed61e1f6-1507-4bf8-9b60-70cccdc60bf0.png)

## Correct output
![image](https://user-images.githubusercontent.com/28690153/160887527-f5798ad4-df87-4482-88a7-1839b3d07333.png)

[2022-03-30 17:46] aswarner commented on #22376
Thank you for the response! That's what I tried, but I don't see how the AxesBase class in` _base.py `has access to the `_align_label_groups['titles']` which is part of the FigureBase class.

[2022-03-30 18:37] jklymak commented on #22376
Each axes has a self.figure.

[2022-03-30 19:35] jklymak commented on #12221
Sorry, I think it should be `fig.canvas._device_pixel_ratio`

[2022-03-30 19:50] #22137 closed

[2022-03-30 20:23] anntzer commented on #22726
Yes, this would be correct.

[2022-03-30 20:53] aminevsaziz commented on #22664
Interesting🙌

[2022-03-30 21:15] timhoffm commented on #22728
I always thought that `LinearSegmentedColormaps` would actually interpolate to the color values. But looking at it I just learned that `LinearSegmentedColormap` also uses a fixed lookup table. It only uses interpolation to precompute the lookup table :astonished:.

@hmaarrfk You can quite easily fake higher turbo resolution using a `LinearSegmentedColormap`:

[code]
![grafik](https://user-images.g

[2022-03-30 22:43] #22640 closed

[2022-03-31 00:54] tacaswell opened #22738 "[MNT]: make Axes.cla an alias for Axes.clear in all cases"
### Summary

We have clf/clear and cla/clear as pairs of related but not quite the same methods an the Figure and Axes classes.  The `clf`/`clear` pair has mostly been consolidated (and is fully in #22735 ), but the cla case is more work because we bunch of Axes subclasses in the code base.  Long term I think every Axes subclass:

 - `clear` and `cla` should be identical
 - every subclass should h

[2022-03-31 02:39] hmaarrfk commented on #22728
This is awesome. Thank you @timhoffm. I'll try it and see how it makes my data look!

[2022-03-31 02:41] hmaarrfk commented on #22728
@timhoffm your image actually shows the effect we are seeing quite clearly (on my monitor). Banding is quite perceptible on the left hand side with 256 values. Not so much as you get to the right hand side.

The artifacts in our data are more present at low values which makes things a little jarring!

[2022-03-31 03:29] hmaarrfk opened #22739 "[ENH]: Does pyplot need to call switch_backend"
### Problem

It seems that simply importing pyplot can have serious effects on what backends are chosen, and how they interact with one and other.

In https://github.com/matplotlib/matplotlib/blob/da9533d507c1f06ceee5078c9cbbd99897809d31/lib/matplotlib/__init__.py#L1137

They say that simply
[code]
can trigger setting the default backend.

This is somewhat frustrating for people who use interactiv

[2022-03-31 03:36] neil-gurnani commented on #22738
@tacaswell Myself (@neil-gurnani) and my friend @lijake8 would like to work on this issue.
Is there any information we should be aware of / advice you would offer?

@tacaswell

[2022-03-31 03:59] WeatherGod commented on #22739
The fact that pyplot triggers the backend creation is documented, and so is
the fact that this causes side-effects.

EDIT: At least, we used to extensively document this... I was about to post
a bunch of links from the docs talking about this, but now I can't find the
relevant information. The best I can get is
https://matplotlib.org/stable/users/explain/interactive.html

That being said, work is

[2022-03-31 04:29] hmaarrfk commented on #22739
ok, understood. I didn't know if patches would be welcome that would defer that.

Is there an API that application developers can use that is independent of the chosen backend? That is, they would specify their own handles/backend name and matplotlib will forcibly use that?

[2022-03-31 04:39] matthewfeickert opened #22740 "[MNT]: Add codespell to pre-commit hooks"
### Summary

In PR #22733 @QuLogic caught a spelling error of mine (which is great!) but there will inevitably be typos that slip through if only humans are checking. https://github.com/codespell-project/codespell is a really nice way to check for typos and it has a nice pre-commit hook. As Matplotlib [already uses pre-commit](https://github.com/matplotlib/matplotlib/blob/da9533d507c1f06ceee5078c9

[2022-03-31 05:01] prateekrajgautam commented on #21510
same code works as script in same system config but gives error in jupyter

[2022-03-31 06:02] vijaypanchalr3 opened #22741 "[Bug]: Clipped Toolbar icons"
### Bug summary

![Screenshot from 2022-03-31 11-11-18](https://user-images.githubusercontent.com/72692300/160986074-c0f86957-86b3-475e-9dfa-eec78826c5fc.png)

why interactive navigation icons are broken?

### Code for reproduction

[code]

### Actual outcome

broken icons in interactive navigation bar in matplotlib pyplot window.

### Expected outcome

i expected to be fixed sized icons, which fi

[2022-03-31 06:35] #9994 closed

[2022-03-31 06:35] #21635 closed

[2022-03-31 06:43] timhoffm commented on #22739
Deferring backed selection has been implemented in #22005, but is not yet released.

I'm not the backend expert here, but I'm not aware of a reasonably simple way to do this.

General question: Is there a reason that we need global exclusive backend state and cannot have a per-figure backend setting?

[2022-03-31 07:10] #22726 closed

[2022-03-31 07:14] jklymak commented on #22739
I don't know - is it really worth the trouble to allow multiple GUI backends to run at the same time?  I could see us allowing one GUI to be closed and a different one opened after the GUI is closed, but I'm not sure its a good idea for one python process to have multiple GUI frameworks running at the same time?

We probably should revisit the roadmap for https://github.com/matplotlib/mpl-gui

[2022-03-31 07:45] jklymak opened #22744 "[MNT]: sort out renderers"
### Summary

Various methods require a renderer, in particular `get_tightbbox` and `get_window_extent`.  We have quite a few inconsistencies here.

Many implementations of `get_window_extent` have `renderer` as an optional kwarg, and fallback:  fallbacks are `self.figure._cachedRenderer` (`Text`, `Legend`) and some other `get_window_extent` don't need the renderer.

`get_tightbbox` always needs th

[2022-03-31 11:26] anntzer commented on #22738
Haven't thought much about it, but it may be easier to do
[code]
just once in the base class (and that will work correctly for all subclasses) instead of having to write `cla = clear` for each subclass (probably also add a comment to make sure this doesn't get accidentally reverted back on grounds of "simplification").

[2022-03-31 12:01] hmaarrfk commented on #22739
Well... I feel like it might be address in the next release.
https://github.com/matplotlib/matplotlib/pull/22005

[2022-03-31 12:01] hmaarrfk commented on #22739
Can't wait!

[2022-03-31 13:03] WeatherGod commented on #21510
As noted earlier, there is a known bug that is *not* in matplotlib. Please
update the "jupyter-client" package.

On Thu, Mar 31, 2022 at 1:01 AM Dr. Prateek Raj Gautam <
***@***.***> wrote:

[2022-03-31 13:19] timhoffm commented on #22738
Indeed. In particular because that propagates to downstream libs, e.g. `WCSAxes` in astropy. Forcing identity in derived classes would otherwise need metaclasses, which is really not worth it.

[2022-03-31 13:27] timhoffm opened #22746 "[Doc]: Document that rcParams['font.family'] can be a list"
### Documentation Link

_No response_

### Problem

Looking at
https://github.com/matplotlib/matplotlib/blob/f670fe78795b18eb1118707721852209cd77ad51/lib/matplotlib/mpl-data/matplotlibrc#L219
and
https://github.com/matplotlib/matplotlib/blob/f670fe78795b18eb1118707721852209cd77ad51/lib/matplotlib/mpl-data/matplotlibrc#L262

gives the impression that`font.family` must be a single string.

However,

[2022-03-31 13:33] tacaswell commented on #22738
@neil-gurnani Go for it!  This is the list of

[code]

Fair, but then we can have clear and cla diverge again.

I think we can do this with `__subclass_init__`, but agree it is probably overkill/too cute /too surprising to be worth doing.

[2022-03-31 13:46] timhoffm commented on #22738
That's no different to the `cla = clear` case. If you really want to prohibit subclasses from defining their own `cla()`, metaclasses of `__subclass_init__` are the only choice. However, I don't think we have to enforce this. It's sufficient to delete all `cla()` from our code let the information come down from the base class. Maybe go for the slightly fancy property-way for easier testing

[code]

[2022-03-31 14:08] prateekrajgautam commented on #21510
Thanks.
[code]
solves the issue on my system
`pip3 list --outdated` can also be helpful in identifying outdated packages

[2022-03-31 16:33] bibs2091 commented on #11155
Any updates regarding this issue? this is a pretty useful feature!

[2022-03-31 16:38] ngc1535git commented on #11155
I am unaware of any updates on this.
I eventually utilized the workaround indicated on the thread (which satisfied me for the time being).
-adam

------------------------------------------------------------
Adam Block
***@***.*** ***@***.***
http://AdamBlockStudios.com (NEW!)

Image Galleries at : http://AdamBlockPhotos.com

Caelum videre iussit, et erectos ad sidera tollere vultus.
He bid them lo

[2022-03-31 16:49] karahanyilmazer commented on #12221
It depends on which screen I run the command from. If I run it from my high DPI laptop I get 2, if I run it from the external window I get 1.

I also noticed that somehow the plotting got better. In this gif you can see the effect of running

`plt.matplotlib.rcParams['figure.dpi'] = qApp.desktop().physicalDpiX()`

However, the version before running this line is also pretty readable. I will update

[2022-03-31 20:07] #22624 closed, assigned to nobody

[2022-03-31 20:31] timhoffm commented on #22739
@hmaarrfk does #22005 address your needs? If so we can close this issue.

[2022-03-31 21:37] hmaarrfk commented on #22739
I'm not entirely sure. It is kinda hard to compile matplotlib and backporting the patch wasn't super easy.

There still seems to be eager code in:
https://github.com/matplotlib/matplotlib/blob/main/lib/matplotlib/pyplot.py#L2246

so i really wnat to have the time to test before saying it is fixed.

[2022-03-31 21:38] hmaarrfk commented on #22739
The comment I referred to in the init file seems suspicious now too.

[2022-03-31 21:56] matthewfeickert commented on #22740
Okay, so I have this working on my fork. To get things passing so that

[code]

passes I ended up using the `--ignore-words` option and using a file

[code]

Matplotlib has a lot of abbreviations in the codebase that end up triggering some of these.

@timhoffm @QuLogic @ianhi two questions that I figured you both might have thoughts on given PR #21583:
* Is the addition of a config file for a pre-

[2022-03-31 22:04] anntzer commented on #22739
You cannot have e.g. both qt and tk running as they'll fight over https://docs.python.org/3/c-api/veryhigh.html#c.PyOS_InputHook.  You could allow e.g. qtcairo + qtagg or any interactive backend + any noninteractive backend, but I'm not sure it's worth the engineering...

[2022-03-31 22:52] timhoffm commented on #22739
I can if I have different processes :stuck_out_tongue_closed_eyes:

[2022-03-31 22:55] tacaswell commented on #22739
https://github.com/matplotlib/matplotlib/blob/d8ede1a710d66ffcebc524cec06285ff3e0f8de4/lib/matplotlib/pyplot.py#L2246-L2250

says:
 - if the user asked for fallback (meaning get a working gui not fail on the gui they asked for)
 - and the backend is one of ours that we know uses a GUI toolkit (but excluding the web backends)
 - and would that there _is_ already a running event loop (but not starti

[2022-03-31 23:03] tacaswell commented on #22739
https://github.com/matplotlib/matplotlib/blob/da9533d507c1f06ceee5078c9cbbd99897809d31/lib/matplotlib/__init__.py#L1137-L1155

This code is saying "if the user explicitly called `mpl.use(...)` then make sure _right now_ that is something we can actually do.  That comment needs to be adjusted now that #22005 is merged.

I am morbidly curious why it was going wrong before but I do think it is fixed.

[2022-04-01 00:02] tacaswell commented on #22739
And thank to #22733 which just got merged

[code]

will now get you nightlies!

[2022-04-01 00:49] ianhi commented on #22739
Slight correction to that install command. To get everything to work properly with dependencies you need to run:

[code]

[2022-04-01 00:56] hmaarrfk commented on #22739
Touchée .

I guess I'm using conda for most environment management.
It becomes a pain to remove `matplotlib-core` and replace it with `matplotlib`

I'll give it a try in a few hours.

[2022-04-01 01:16] WeatherGod commented on #22739
You might be interested in my book, "Interactive Applications using Matplotlib". It is a little out of date now (published almost 7 years ago!), but many of the principles are still true. In it, it describes how to embed a figure as a widget in an existing GUI application. It also shows how to embed GUI widgets into a regular matplotlib figure window.

Furthermore, it also talks about some of the

[2022-04-01 01:19] tacaswell opened #22753 "windows CI broken on azure"
last passing pipeline: https://dev.azure.com/matplotlib/matplotlib/_build/results?buildId=25066&view=logs&j=aa39683c-d595-5f65-0b25-75adb2a2e3f3
first failing pipeline: https://dev.azure.com/matplotlib/matplotlib/_build/results?buildId=25067&view=results

It seems to be on both 3.5.x and main and across all versions of the windows image (we hold py38 back and let py39 and py310 float on "latest").

[2022-04-01 02:15] wqh17101 opened #22754 "[Bug]: It is recommended for you to run autogen before configuring freetype"
### Bug summary

If i build matplotlib with the source code of freetype which is cloned by git, it will fail.

### Code for reproduction

[code]

### Actual outcome

[code]

### Expected outcome

build successfully.

### Additional information

i modify the setupext.py with run `sh autogen.sh` before configure , it worked.

### Operating system

Linux

### Matplotlib Version

3.5.1

### Matplotlib

[2022-04-01 02:16] tacaswell commented on #22741
If you resize the window does it get better/worse?

I suspect the plot is unrelated and

[code]

would be enough to reproduce this.

I think this is the qt backend (can you please confirm that)?  Are you using Qt5 or Qt6?  The toolbar is  fully layeout in the GUI toolkit so this may also depend on your window manager and any zooming / scaling / high-dpi settings you have enabled.

[2022-04-01 02:20] tacaswell commented on #22754
@wqh17101 Can you open up a PR with that change?  We may need to put in some logic to only run auttools if configure is missing.  The release tarballs do include it, currently I do not think you need autotools to build Matplotlib and it would be shame to pick up a dependency that is not needed in the default (you let us download freetype) case.

[2022-04-01 02:23] tacaswell commented on #12221
One more odd test, can you please use

[code]

and then use a ruler to measure the size of the window on your screen in all of these cases?  If you move the window between the low and high DPI screens does it resize in a reasonable way?

[2022-04-01 02:37] hmaarrfk commented on #22739
I'm not going to say I can't get it to compile from source, but I am going to say that for my conda environment, I tried:

[code]

and it resulted in:
[code]

Kinda just as hard as I expected it to be (i.e. not to work on the first try).

The link provided on anaconda installed successfully.

Finally, it does resolve the problem of allowing you to select the WxAgg backend.

I then uninstalled it,

[2022-04-01 02:37] #22739 closed

[2022-04-01 02:41] tacaswell commented on #22739
Oh, that makes sense 😞 .   We build our own freetype pinned to a very old version (so the tests will pass because every version of freetype moves the text around a tiny bit) but conda provides a newer one.  I suspect at runtime you ended up with crossed libraries....

I will not claim to understand what the wheel is doing under the hood to make it work though!

[2022-04-01 02:42] wqh17101 commented on #22754
@tacaswell Because the freetype may contain some components which have vulnerabilities, that matplotlib will include them when building. So in my case, i will fix this from source code. So i need to use my own code to build.

I am very happy to use your whl for that no more work is needed for me.

But thinking of this scene, matplotlib contains freetype.so, freetype.so contains `zlib`, for now `zl

[2022-04-01 03:02] hmaarrfk commented on #22739
@tacaswell thank you for the hint about freetype. using a slightly modified build script from conda-forge
https://github.com/conda-forge/matplotlib-feedstock/blob/main/recipe/build_base.sh
it does indeed import.

Time for me to sleep. Goodnight

[2022-04-01 03:33] QuLogic commented on #22754
Our FreeType does not contain zlib, and all vulnerabilities that were reported in the version in our wheel are not relevant for us.

[2022-04-01 03:45] matthewfeickert opened #22757 "Duplicate uploads of nightly wheels to scipy-wheels-nightly Anaconda cloud package index fails"
If no one minds I don't mind throwing in some additional logic to check just before the upload stage. This is pretty easy with `pip index versions` and some `sed`

[code]

So all you'd need to do would be something like

[code]

and then just check if that shows up as version of the wheels that just got downloaded from the GitHub Actions workflow artifact

[code]

(maybe a more elegant way to do t

[2022-04-01 03:49] wqh17101 commented on #22754
@QuLogic Nope. You can analyse the source code of Freetype. https://gitlab.freedesktop.org/freetype/freetype/-/tree/master/src/gzip
All the freetype contain zlib by source code in its gzip module.

[2022-04-01 04:01] tacaswell commented on #22754
We disable it at build time:

https://github.com/matplotlib/matplotlib/blob/d8ede1a710d66ffcebc524cec06285ff3e0f8de4/setupext.py#L631-L635

so while we do have the source, it is not used

[2022-04-01 04:05] tacaswell commented on #22757
If you are motivated I do not think we will turn down the improvement! I just would not necessarily ask anyone to do it if that makes sense.

[2022-04-01 04:06] QuLogic commented on #22741
I don't think that's the default font; are you using a custom theme? Does it work correctly in other Qt apps?

[2022-04-01 04:07] matthewfeickert commented on #22757
Yup! Makes sense to me. :slightly_smiling_face:

[2022-04-01 04:10] QuLogic commented on #22757
The output says `-i/--interactive or --force or --skip`; would `--skip` not work?

[2022-04-01 04:15] matthewfeickert commented on #22757
Oh snap I should have read the error message more.

Yeah

[code]

so yeah. Just adding `--skip-existing` should do it. Thanks for catching this @QuLogic!

[2022-04-01 04:24] wqh17101 commented on #22754
@tacaswell Nope , this `--with-zlib=no` means that `do not use system zlib instead of internal library`. It does not mean your freetype does not contain zlib.
You can see the detail by `./configure -h` in freetype.
[code]

[2022-04-01 05:54] samlobe opened #22760 "[Bug]: Macosx legend picker doesn't work anymore"
### Bug summary

I used to be able to use a legend picker as described in this [matplotlib tutorial](https://matplotlib.org/stable/gallery/event_handling/legend_picking.html).
It doesn't work anymore. I bet it was an up

### Code for reproduction

[code]

### Actual outcome

It graphs fine, but I can't toggle visibility by clicking the legend.
I've tried executing the code from my Mac Terminal and

[2022-04-01 07:17] jklymak commented on #22760
Confirmed that this is broken on v3.5.1 with 'macosx'.  Note that it works fine for 'qt5agg'.    However, running on master this runs fine, so I suspect a recent macOS fix here, maybe @greglucas or @dstansby knows what was fixed.  Thanks for the report, however, this should be fixed in v3.6 (unfortunately not in the bug fix release 3.5.2, due out soon)

[2022-04-01 12:24] caco3 commented on #17397
I also see this issue on running pytest :(

[2022-04-01 14:06] jhelmboldt opened #22762 "[Bug]: Issue with find_nearest_contour in contour.py"
### Bug summary

The default for the indices keyword in the find_nearest_contour function within countour.py is defined incorrectly in the code.  Line 1377 should be "indices = range(len(self.layers))" instead of "indices = range(len(self.levels))."

### Code for reproduction

[code]

### Actual outcome

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/local/Li

[2022-04-01 14:47] azahel789 opened #22763 "[Bug]: Can't add contour labels with "manual=True""
### Bug summary

The contour label (clabel) manual mode fails place any labels. When I click the plot I get an error:
'QuadContourSet' object has no attribute 'ax'
and no labels are added.
I put the Contour Label Demo as an example with clabel option manual=True, but this has happened with different scripts.

### Code for reproduction

[code]

### Actual outcome

![contour](https://user-images.git

[2022-04-01 14:54] jklymak commented on #22763
I think this is a duplicate of #22760 - events were broken on MacOS, but are working on the dev build (upcoming 3.6).  Please use Qt5Agg, the dev version of Matplotlib or roll back to 3.4.x....

[2022-04-01 15:01] tacaswell opened #22765 "Document distutil vs setuptools issues or fix usage"
Following on to #22756

We had to set an additional ENV on azure to un-break CI.  Do we need to document this change in the windows source install instructions as well?  Or is it better to change how we are using setuptools/distutils?

[2022-04-01 15:05] azahel789 commented on #22763
I have tried it now with Qt5Agg and the issue persists, unless I do the fix I proposed. I'm also aware that the event handlers with MacOS are broken, but I think this is a separate issue.

[2022-04-01 15:08] tacaswell commented on #17397
@caco3 If this is only within the context of pytest, I think you should take this up with them to see if there is a way to set specific loggers that they will not turn to 11 (because in general, it makes sense to turn all of the loggers up to 11 when running the tests).

[2022-04-01 15:09] #22753 closed

[2022-04-01 15:20] tacaswell commented on #22763
Ah, sorry should should tracked down the changes before re-opening 🐑

[2022-04-01 15:43] seguri commented on #1086
@efiring Hi, would you be so kind to explain to me why reindexing a dataframe breaks `grid=True` and the axis formatter?
I'm collecting data from sensors, every minute, but I do not always get data, so I reindex to insert missing minutes. When I do that, the figure breaks.

Without:
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/2405157/161295988-713d9122-e0ff-45b1-80

[2022-04-01 16:01] tacaswell commented on #1086
@seguri Please open an issues on Pandas.  They maintain a set of locators that are index aware.

[2022-04-01 16:13] tacaswell commented on #22762
@jhelmboldt Would you be willing to open a PR with that change + a test?

[2022-04-01 16:14] seguri commented on #6141
@mburke05 hi, could you please check my recent update to #1086 ? Maybe you have a clue... Thanks

[2022-04-01 16:16] seguri commented on #1086
@tacaswell I will. Could I get rid of Pandas in the meantime and migrate this maybe to pure numpy data, so that I can plot it correctly?

[2022-04-01 16:24] tacaswell commented on #1086
That should work.

[2022-04-01 18:09] andrew-fennell commented on #22762
If @jhelmboldt does not want to open a PR, I can make one later today.

[2022-04-01 18:11] jhelmboldt commented on #22762
Thanks, @andrew-fennell.  I've never submitted a PR before and don't have time to learn today, so I would appreciate you handling it.  Thank you.

[2022-04-01 20:32] AnnaMastori commented on #22686
Is someone still working on this ?

[2022-04-01 21:38] nik1097 commented on #22686
I still am but I'm currently caught up with another project. Feel free to give it a shot, thanks! @AnnaMastori

[2022-04-02 04:12] github-actions[bot] opened #22769 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.

[2022-04-02 04:13] github-actions[bot] opened #22770 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.

[2022-04-02 04:13] github-actions[bot] opened #22771 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.

[2022-04-02 04:13] github-actions[bot] opened #22772 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.

[2022-04-02 06:02] matthewfeickert commented on #22757
So, a related question to all of this is how and when to do cleanup of the wheels that are uploaded to https://anaconda.org/scipy-wheels-nightly/matplotlib. At the moment, there are two nights of wheels uploaded at https://anaconda.org/scipy-wheels-nightly/matplotlib/files

[code]

but eventually these need to get cleaned up so that there aren't multiple GBs of nightly wheels. Though this clearly

[2022-04-02 12:53] hermidalc commented on #15497
Could you explain how to change the OP code example below, to right align legend text in its box, using the suggestion you've given above?

[code]

[2022-04-02 13:31] jklymak commented on #15497
I'll close this because pixel placement is working as expected (ie it doesn't work if you mix renderers). Further discussion can be moved to discourse.matplotlib.org, but in general transform your pixels to inches using fig.dpi_scale_trans and then the shift should be dpi agnostic.

[2022-04-02 13:36] hermidalc commented on #15497
@jklymak I came upon this issue today because I'm having the same problem as the OP even in latest matplotlib 3.5.1. Right aligning text in the legend using the standard method shown in OP example belwo doesn't right align properly when saving to pdf but works perfectly for png etc. What am I doing wrong?

[code]

[2022-04-02 13:52] hermidalc commented on #15497
@jklymak sorry to bother, but I'm searching for a while and cannot seem to find how to do it, how do you do the above suggestion with the OP example right align text legend code I referenced?

[2022-04-02 14:22] hermidalc commented on #15497
I tried using `fig.dpi_scale_trans` in the way I thought it would work, but it still doesn't work

[code]

[2022-04-02 19:01] jklymak commented on #15497
@hermidalc My apologies - I thought it would be as easy as setting a transform, but it is not, because legends are done with boxes that are the width of their children (`Hapacker`), and you can't just simply change the transform to move the contents around like you can for normal artists.

So, the hack in the original post is not robust, and a proper fix would be a feature request.  Someone would

[2022-04-02 19:07] hermidalc commented on #15497
It's always fun and interesting to hear about API internals! No worries, but glad this is a known issue. Matplotlib is really a very powerful library and it's rare when something like this pops up, so kudos to you and rest of core team.

[2022-04-02 19:15] hermidalc commented on #15497
Btw I did the workaround mentioned here when wanting to savefig pdf to make sure to not change figure default dpi=100, then the legend text positioning and alignment  works better, though it's not quite exactly as aligned as exact same code with png there's still some very minor error there

[2022-04-02 19:48] hermidalc commented on #15497
@jklymak btw, why isn’t there an easier way to specify to right align legend labels/text in matplotlib? That would be maybe an easier feature to implement.

[2022-04-02 23:12] kadiryaren commented on #18953
pip3 install matplotlib==3.3.3

[2022-04-03 06:35] jklymak commented on #15497
Because legend was implemented in a relatively flexible but complex way, and the surrounding architecture does not have an align-right feature.  Someone who wanted it would have to dig in and figure it out.

[2022-04-03 09:11] #22757 closed

[2022-04-03 10:06] oscargus commented on #22622
A possibly easy way to solve this is to provide a keyword argument to `bar`/`barh` that makes sure that the bars are always adjacent, i.e., let `bar`/`barh` know that the next bar should have the same starting point as the previous bars end point. That keyword argument can then be called from from `hist` in case of an `rwidth` of 1.
This is probably the line causing the error:
https://github.com/m

[2022-04-03 10:13] oscargus commented on #18953
@kadiryaren some context would be appreciated with your comment.

[2022-04-03 14:39] Guimoute commented on #13101
I just stumbled upon a situation where `fig.show()` not blocking can be an issue.

[code]

[2022-04-03 14:39] shmilee commented on #21930
Same here with version 3.5.1 in archlinux.
And some lines are lost at the end of broken eps, like `gsave`, `grestore` things:
[code]

[2022-04-03 14:46] oscargus commented on #22622
Yes and no. As the int array will become a float64 after multiplying with a float (dr in the code), it is quite unlikely to happen. However, it is not theoretically impossible to obtain the same effect with float64, although not very likely that it will actually be seen in a plot (the accumulated numerical error should correspond to something close to half(?) a pixel). But I am quite sure that one

[2022-04-03 18:06] anntzer opened #22775 "[Bug]: 3d mouse coords values reported in toolbar are meaningless"
### Bug summary

The mouse coords reported for 3D axes are meaningless (they correspond to some arbitrarily chosen depth).  In fact, I do not believe there's any canonical way to choose the values displayed.  See discussion starting at https://github.com/matplotlib/matplotlib/issues/22624#issuecomment-1063945593.

### Code for reproduction

[code]

### Actual outcome

![157819800-b2911b65-362e-49a

[2022-04-03 21:22] anntzer commented on #22738
Not a huge fan of the property approach, due to https://github.com/matplotlib/matplotlib/pull/22735/files#r841278965 (and slight obfuscation).

[2022-04-03 22:44] aswarner commented on #22376
@jklymak That helped! We figured it out and are working on testing and documentation

[2022-04-04 07:07] jklymak commented on #22622
If you force the bins to be float64, then you won't have this problem:

[code]
so I think the reasonable fix here is simply for matplotlib to coerce the output from `np.histogram` to be floats - the output is turned to float64 when rendered anyways, and the extra memory for any visible number of bins is not going to matter.

[2022-04-04 18:06] tacaswell commented on #22757
On one hand, :+1: for thinking about resource exhaustion, that is the sort of thing I tend to not think about until it is actually a problem.   I think we should leave the clean up policy to the nightly repo / @ogrisel as we should do what ever else everyone else is doing.  It also makes sense to me to enforce that policy centrally (rather than on a per-uploader) .

I also think there is value to

[2022-04-04 18:26] matthewfeickert commented on #22757
SGTM :+1:

@ogrisel I'm going to consider this closed and that it is in the domain of scipy-wheels-nightly org now, but if there are actions that you want `matplotlib` to take please just respond here. Thanks!

Ah that's a good point that I hadn't even considered.

[2022-04-04 21:51] tacaswell commented on #22769
In favor of #22772

[2022-04-04 21:51] #22769 closed

[2022-04-04 21:52] tacaswell commented on #22770
In favor of #22772

[2022-04-04 21:52] #22770 closed

[2022-04-04 21:52] tacaswell commented on #22771
In favor of #22772

[2022-04-04 21:52] #22771 closed

[2022-04-04 21:53] tacaswell commented on #22772
@greglucas I think there is something wrong with the bot that we got 4 of these?   Maybe the whole action needs to fast-fail?

Would it also be possible to add a link to the logs in the message?

[2022-04-04 21:55] tacaswell commented on #22772
https://github.com/matplotlib/matplotlib/actions/runs/2080875930

The issue is #22766 which is now fixed.

[code]

[2022-04-04 21:55] #22772 closed

[2022-04-04 22:22] #21930 closed

[2022-04-04 22:22] #22673 closed

[2022-04-04 22:57] ianhi commented on #21880
Was this fixed by #21993 ?

[2022-04-04 23:57] tacaswell commented on #21880
Closed by #21993!

[2022-04-05 06:56] StefRe commented on #21880
@ianhi Actually this wasn't fixed at all, but I'm OK with closing this issue. I already wrote in my [comment](https://github.com/matplotlib/matplotlib/pull/21993#issuecomment-996724071) that PR #21993 pro forma added a docstring but it didn't address the issue #21880 in any way (maybe it's may fault not to have chosen a better title for this issue: the actual issue is that `rrulewrapper` is not do

[2022-04-05 12:52] caco3 commented on #17397
I could solve it by moving the logger configuration directly into the `test*.py` files instead of keeping it in `conftest.py`

[2022-04-05 14:15] greglucas commented on #22772
Good suggestions, see #22785 for adding both of those to the scheduled job.

[2022-04-05 14:40] weiji-li commented on #22714
Can I take this issue?

[2022-04-05 16:58] greglucas commented on #22760
I don't see anything immediately obvious in 3.5.x that would cause this looking through the difference.
https://github.com/matplotlib/matplotlib/compare/v3.5.1..v3.4.3

The issue is with requesting a redraw. After clicking to remove the line and then resizing the window, you can see the change did happen it just didn't show up. Additionally, changing `fig.canvas.draw()` to `fig.canvas.draw_idle()`

[2022-04-05 17:03] tacaswell commented on #21880
I changed the title and re-opened.

[2022-04-05 17:11] tacaswell commented on #22760
Is the issue that the pick event never fires or that the update is not being reflected?  If you resize the window (which unconditionally causes a full redraw because we need a different number of pixels!) do the changes get reflected correctly?  If so then I think @greglucas 's explanation of what is wrong / why it works on main is correct.  If not, then please put some prints in the callback to m

[2022-04-05 17:14] tacaswell commented on #22738
@weiji-li Go for it!  We do not assign issues so any issue that does not have an active PR against it is fair game.

[2022-04-05 17:15] tacaswell commented on #22738
@weiji-li , @neil-gurnani , @lijake8 Can you please coordinate?

[2022-04-05 17:19] tacaswell commented on #22738
@anntzer Yeah, I found that persuasive.  I updated the top comment of this issue to follow the new method in #22735

[2022-04-05 19:08] timhoffm commented on #22738
At whoever is picking this up: The solution should be analogous to #22735.

[2022-04-05 19:40] huangworld commented on #22714
I'd like to work with @weiji-li  on this issue where I will be creating new test cases for the fix.

[2022-04-05 20:41] weiji-li commented on #22714
#22789

[2022-04-05 22:45] timhoffm commented on #22267
Closing due to lack of feedback. Please report back with a reproducible example if the issue still exists.

[2022-04-05 22:45] #22267 closed

[2022-04-05 23:05] timhoffm commented on #22637
Thanks for the suggestion! We try to make exception messages as helpful as possible. However, there are too many markers to list them all, and for some even listing them would not tell the user what they mean. See https://matplotlib.org/stable/api/markers_api.html

In this case I prefer a short and concise error message rather to a long but still incomplete one. Therefore, I'm closing the issue.

[2022-04-05 23:05] #22637 closed

[2022-04-05 23:22] #22414 closed

[2022-04-05 23:26] timhoffm commented on #22414
@mwaskom do you want to move your comment to a separate issue so that it doesn't get lost?

[2022-04-05 23:33] timhoffm commented on #22029
This will be easier to handle once we define artist properties explicitly. Xref proposal in #22749

[2022-04-06 04:21] philipmnelson opened #22790 "[Doc]: Rewrite of image tutorial"
### Documentation Link

https://matplotlib.org/devdocs/tutorials/introductory/images.html

### Problem

I found several issues within this introductory tutorial and I believe those issues can be solved by rewriting the tutorial.

**Issues:**
* First, this tutorial was written prior to the depreciation of matplotlib.image.imread(), the current preferred method of opening images is using [Pillow's I

[2022-04-06 07:01] jklymak commented on #22790
@philipmnelson I think this tutorial could well benefit from a fresh set of eyes and some de-crufting.  The reason our docs accrete extraneous info is usually that a user trips across some rough edge, we explain it to them, they ask where they could have figured this out themselves, and then someone updates the most relevant tutorial.  Over time, you paste enough of these asides on the tutorial an

[2022-04-06 09:02] topper91 opened #22792 "[Bug]: .eps greyscale hatching of patches when lw=0"
### Bug summary

Export to .eps-format of patches that are filled with a colored hatch pattern appear in greyscale color when linewidth of the patch is set to zero.

### Code for reproduction

[code]

### Actual outcome

.eps-file converted to .png-format using GIMP 2.10.30

![mwe_converted_from_eps](https://user-images.githubusercontent.com/103106780/161935980-8c98154f-9144-466e-ad57-028f0fda5e63

[2022-04-06 09:08] jklymak commented on #22792
Thanks for the helpful bug summary and looking into the possible cause (which sounds reasonable).  Not sure who will step up to fix this, but it does seem like somehow the colours are not getting set.  Perhaps see if pdf works?

[2022-04-06 09:14] topper91 commented on #22792
thx for the quick response. pdf-export works just fine.

[2022-04-06 14:27] oscargus commented on #22792
A quick diff between the mwe here and one with setting linewidth to 0.1.

[code]
I'd say that it is these lines that are not executing:
https://github.com/matplotlib/matplotlib/blob/574580c7d173bf08a23678d302b711492b971f3c/lib/matplotlib/backends/backend_ps.py#L776-L781 as mightstroke is False (as linewidth is 0).

Moving the color-setting out of the if-clause seems to solve this problem, but I am

[2022-04-06 15:54] philipmnelson commented on #22790
Okay, I just wanted to clarify for anybody who sees this issue that imread() is *not* deprecated, but the docs say that it exists only for historical reasons. Reading a URL with imread *is* deprecated and the alternative method provided in the reference docs and depreciation is not a complete replacement for imread's URL reading functionality.

[2022-04-06 19:39] benjaminrwilson commented on #22478
@JackKelly, were you able to resolve this? I'm seeing this on my end now too.

[2022-04-06 20:34] QuLogic commented on #20490
I cannot reproduce this; if I revert that commit, then the memory leak amount from #22002 remains the same.

[2022-04-06 21:29] richardsheridan commented on #20490
Something may have happened on `main` or a dependency or my test setup since I wrote that comment and the PR. Either way, at the moment on the rebased the PR branch, memory profiling shows very little sensitivity to my original fix and I also don't see any issues with the hidpi stuff.

It does suggest to me that we should put in at least the memory leak check (and possibly others) to prevent more

[2022-04-07 08:43] JackKelly commented on #22478
I'm afraid this is way above my abilities to resolve :slightly_smiling_face: I think that fixing this requires someone who knows the innards of matplotlib much better than me.

I'm just working around the issue using the tricks described in the top post

[2022-04-07 09:56] jklymak commented on #22478
This seems to have been lost in the debugging - if converting pandas dates to floats or numpy dates stops the problem, then its hard to implicate Matplotlib here.  If folks can confirm that dropping pandas from the equation stops the segfaults, then I think we can hot potato to pandas?

[2022-04-07 11:18] #22630 closed

[2022-04-07 12:06] rcomer commented on #22606
Now that #22608 is merged, we will no longer need to use the `axes_grid` function to get our `GeoAxes`.

I have the impression that the `axes_grid` function is somewhat "legacy" and the `Axes` method is being developed in preference.  Is that right?  If so, I think this issue can be closed.

[2022-04-07 12:50] oscargus commented on #7551
Currently the code looks like:
https://github.com/matplotlib/matplotlib/blob/9caa261595267001d75334a00698da500b0e4eef/lib/matplotlib/backends/backend_ps.py#L80-L85
so slightly different sorting. I guess that
`sorted(papersize.items(), key=lambda v: v[1])` will be better as it gives:
[code]

[2022-04-07 15:45] JeremieBergeron opened #22798 "[ENH]: Be able to findfont by name"
### Problem

I'm always frustrated when I want to find the font "Arial Black", because the family name of this font is "Arial".
I would like it if we could search a font by it's name.

Here is an example how I search the font "Arial Black":
[code]

Here is the output:
[code]

When I say name of the font, I am talking about this name in yellow:
![image](https://user-images.githubusercontent.com/344

[2022-04-07 17:22] nmt28 opened #22799 "[ENH]: Built in function for one-to-one line"
### Problem

In simple linear regression it's always useful to plot a fit alongside a one-to-one line to asses bias etc visually. This often requires having to make a line from a couple of manually entered points, despite it being a very common requirement in statistical analysis. I understand matplotlib is oriented towards data visualization and not analysis, but being able to call a one-to-one l

[2022-04-07 18:00] nmt28 commented on #22799
Thanks, I had searched on stackoverflow for this but I was unable to find a solution this simplistic. Seems it exists, so I'm closing this out

[2022-04-07 18:19] thedevhaider commented on #22798
@JeremieBergeron As per the doc. You can provide the weight against the font to set properties such as 'regular', 'medium', 'black' etc.
https://github.com/matplotlib/matplotlib/blob/v3.5.1/lib/matplotlib/font_manager.py#L620

Is this matches your use case?

PS: Just started open-source for public repos 😃

[2022-04-07 18:30] JeremieBergeron commented on #22798
No, it does not.

The problem is that I have only these 3 informations:
1. Font name (not font family !)
2. IsBold
3. IsItalic

Here is an example of what I can get:
1. "Arial Black"
2. False
3. False

Because of that, I can't set the properties like you said. I would need to trim the font name or something like that and I think that's a very bad idea.

PS: If you are wondering from what I get the

[2022-04-07 18:53] anntzer commented on #22798
I think this is basically a duplicate of #4822 (https://github.com/matplotlib/matplotlib/issues/4822#issuecomment-858386487)?

[2022-04-07 19:17] JeremieBergeron commented on #4822
So, you are

If you are talking about doing this, it does not work.
`import matplotlib.font_manager as fm

for fontPath in fm.findSystemFonts():
	font_prop = fm.FontProperties(fname=fontPath)

	if font_prop.get_name() == "Arial Black":
		print("Found")`

[2022-04-07 19:19] JeremieBergeron commented on #22798
Yes, you're right. I did not see it.

I ask you a question in the issues you mentionned

[2022-04-07 20:02] anntzer commented on #4822
That's because we don't extract all names from the metadata yet.

[2022-04-07 20:02] #22798 closed

[2022-04-07 20:04] JeremieBergeron commented on #4822
So, for now, it is impossible?

[2022-04-07 20:46] #22792 closed

[2022-04-07 21:01] anntzer commented on #4822
Indeed.

[2022-04-07 22:42] baloe opened #22800 "[Bug]: Ticklabel padding different between top and bottom"
### Bug summary

The vertical padding between ticks and ticklabels above an x-axis is too large.
One could tweak the `xtick.major.pad` setting, but then the ticklabels below an x-axis are off.

### Code for reproduction

[code]

### Actual outcome

output, with side-by-side comparison of ticklabel spacings.

![test](https://user-images.githubusercontent.com/12622691/162329792-993fe02a-9b3c-41c5-98

[2022-04-07 23:25] QuLogic commented on #22800
The vertical alignment for the top ticks is 'bottom', not 'baseline'. This leaves space for the descenders, which show up mostly in general characters and not numbers. I don't think there is an easy way to override this alignment.

[2022-04-08 01:14] #18249 closed

[2022-04-08 11:27] anntzer commented on #22800
It would seem reasonable to switch this to "baseline" (even in that case, the normal pad will often be enough even for ticklabels that actually contain descenders).

[2022-04-08 15:05] tgrohens opened #22803 "[Bug]: Large file size when using fill_between()"
### Bug summary

Hi,

I am trying to save a plot to PDF (or SVG) that uses the fill_between function between two times series, and the resulting file is much larger than when plotting each series individually.

### Code for reproduction

[code]
[code]

[2022-04-08 15:12] jklymak commented on #22803
Yes, `Line2D` starts subsampling un-resolved data.  https://matplotlib.org/stable/users/explain/performance.html#line-segment-simplification. OTOH, I don't see this rcParam mentioned at all in the docstring for Line2D, nor in the docstring for `plot`, which is a pretty big oversight in my opinion.  Labelling as a documentation issue and good first issue, as it just requires mentioning the rcParams

[2022-04-08 15:26] tgrohens commented on #22803
Thanks for the additional information!

From looking at the performance page and the [code](https://github.com/matplotlib/matplotlib/blob/v3.5.1/lib/matplotlib/axes/_axes.py#L5250-L5254) of `fill_between`, the function generates a polygon, so I understand the line segments it comprises should be simplified as well?

[2022-04-08 15:31] jklymak commented on #22803
I don't think so - Polygons derive from Patch and do not have the Path logic in them.

[2022-04-08 15:34] tgrohens commented on #22803
Ah, I see; in this case, maybe the [documentation](https://matplotlib.org/stable/users/explain/performance.html#line-segment-simplification) should be updated to reflect that?

It currently states (emphasis mine):

[2022-04-08 15:36] jklymak commented on #22803
Maybe?  I could be wrong, but I don't think it applies to polygons.

[2022-04-08 15:37] tgrohens commented on #22803
Do you mean the outline of a polygon is different than a polygon?
In this case, my bad!

[2022-04-08 16:29] henry2004y opened #22804 "[Bug]: Quiver not working with subfigure?"
### Bug summary

There seems to be an issue when trying to plot quivers in the axes created within subfigures.

### Code for reproduction

[code]

### Actual outcome

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/hyzhou/.local/lib/python3.8/site-packages/matplotlib/__init__.py", line 1361, in inner
    return func(ax, *map(sanitize_sequence, args), **kwargs

[2022-04-08 17:12] jklymak commented on #22803
Well there are "polygons" and then there are instances of the `Polygon` class.  I am pretty sure instances of the `Polygon` class cannot simplify.  I agree that the docs shouldn't make it sound like `Polygons` will simplify, and that may have just been a mistake?

[2022-04-08 17:22] jklymak commented on #22804
Thanks for the report.  We will have to figure out how to properly set up the callbacks here.  Not thrilled that quiver needs a callback versus doing things in inches/physical units, but that doesn't change the fact that subfigure should have a callback.

[2022-04-08 17:39] baloe commented on #22800
As a workaround for a case where an axis only has top ticks: Is there a variable that will tell me the height of the baseline relative to the bottom so that I can compensate for that?

[2022-04-08 21:23] nicolasrosa opened #22808 "[Bug]: Doesn't show 1-channel image by using matplotlib.image.AxesImage.set_data()"
### Bug summary

I could not plot a 1-channel image while I was trying to populate a Subplots figure, although I can visualize it by using plt.imshow().

### Code for reproduction

[code]

### Actual outcome

![matplotlib_bug](https://user-images.githubusercontent.com/7122146/162533518-7668512e-70b4-4bad-8cfb-cef770359b51.jpeg)

### Expected outcome

I used the Paint to generate the following imag

[2022-04-08 22:57] QuLogic commented on #22543
Is there some kind of backtrace, or does it simply die?

[2022-04-08 23:26] Jesperten commented on #22543
It simply just dies, when I try to open the menu.

[2022-04-09 04:13] github-actions[bot] opened #22810 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.
https://github.com/matplotlib/matplotlib/actions/runs/2139359636

[2022-04-09 04:40] QuLogic commented on #22810
Same failure as last time, #22708

[2022-04-09 04:40] #22810 closed

[2022-04-09 08:25] raquelhortab opened #22811 "Cannot plot in aarch64"
Hi, I got an aarch64 tablet with an OS based on ubuntu (jingos). I can't find the way to make matplotlib work. The problem seems to be the graphical interface but I am not sure.
With this minimal code:
[code]

I got this error:

[code]

Has someone got an idea what it could be?

[2022-04-09 09:32] jklymak commented on #22811
does tk work at all (google "basic tk example")?

[2022-04-09 12:11] JackKelly commented on #22478
Yes, in my original exploration of this issue, I found that I could stop the segfault by converting `x` from a `pd.DatetimeIndex` to a numpy array of matplotlib dates by doing `x = matplotlib.dates.date2num(x)` after line 1.

[2022-04-09 12:38] jklymak commented on #22478
Unless you disable them, pandas registers their own converters to go from pandas dates to numpy floats when we plot. Eg they don't use date2num.

Can you deregister the pandas converters and see if you still have the memory leak?  If not, can you just convert from pandas to float using their converters without using matplotlib at all and trigger a leak?  If so, this would implicate pandas datetime

[2022-04-09 13:29] #22804 closed

[2022-04-09 13:46] greglucas commented on #22810
I am happy to see that only one issue was raised here. It appears it is working correctly now.

[2022-04-09 14:10] TangChiaHsin opened #22812 "I can produce this with on ~main and a duplicate of https://github.com/matplotlib/matplotlib/issues/15363"

[2022-04-09 14:13] #22812 closed

[2022-04-09 17:10] tacaswell commented on #22808
Are you getting a traceback?  If so can you share that as well?

It is also super helpful if you can give us code that we can copy-paste to run (random data is OK!) rather than trying to fill in the lines you left as pseudo code.  There is a good chance we may guess wrong and debug the wrong issue.

[2022-04-09 17:18] tacaswell commented on #22478
I suspect that if we bisect this on our side it is going to land on a commit where we get lazier (or less lazy!) and changed the timing / contents of a garbage collection cycle.....

[2022-04-09 17:44] mylasem commented on #22105
@tacaswell I see that this issue is still open so I am going to give it a try.

[2022-04-09 18:01] jklymak commented on #22105
I believe #22230 is still active.  Please work with the author of that PR if you would like to help fix this.  Thanks!

[2022-04-09 18:09] nicolasrosa commented on #22808
[code]

[2022-04-09 18:24] mylasem commented on #22808
@tacaswell @nicolasrosa This is my first time contributing and I am interested in fixing this issue. Mind if I look into this?

[2022-04-09 18:38] nicolasrosa commented on #22808
I forgot doing in the code, but if you try to plot the proposed images using the following lines, it will work.

[code]

[2022-04-09 18:43] nicolasrosa commented on #22808
Hello @mylasem, go on. Let me know if I can help you with something.

[2022-04-09 18:52] mylasem commented on #22808
@nicolasrosa Thank you. Do you mind defining what **image_size** is in the code reproduction above? More context to **image_np** would be helpful as well since I am trying to reproduce the actual outcome you provided.

[2022-04-09 19:05] nicolasrosa commented on #22808
It was `image_size()=(1024,2048)`.

[2022-04-09 21:02] tacaswell commented on #22808
via https://github.com/matplotlib/matplotlib/pull/15090 I would expect this to work at a technical level (and the above code runs for me without exception).  I'm still not quite sure what is distinguishing working and failing.

I _think_ the issue here is that `imshow` actually does two entirely different things:
1. given an RGB image, show it
2. given a 2D array, colormap it to a falsecolor image

[2022-04-09 21:09] tacaswell commented on #22811
Does

[code]
work?  This will help sort out if this is an issue with the graphical UI or with Matplotilb's rendering pipeline.

Reading the traceback, it looks like this is failing to set the icon on a button (?) which suggests that we are somehow failing to read the button asset from disk (either because it is not installed or in a format that tk on this system can not read).

[2022-04-09 22:11] tacaswell commented on #22803
I agree with Jody, I think in that prose we are using "polygon" in the colloquial sense (in that we all look at the screen and agree it is "the outline of a ploygon") rather than a claim "that is a `Polygon` instance that is rendering the (thing we look at and call a polygon in english) on the screen".

It is probably worth looking into if we do not use the path simplifiaction logic in drawing pat

[2022-04-10 06:49] Nishantppanchal commented on #22803
Hey @tacaswell, could I be assigned to this issue? I am a first-year computer science student looking to take on a project to gain so experience and for fun of course. Just note, It may take me a bit of time however as I have to balance with uni.

[2022-04-10 07:04] jklymak commented on #22803
@Nishantppanchal We do not assign or reserve issues.  Thanks for your understanding.

[2022-04-10 07:12] Nishantppanchal commented on #22803
@jklymak No problem.

[2022-04-10 07:42] jklymak commented on #22808
... as pointed out a few times, this is theoretically impossible, so I don't think we should be doing this at all.

[2022-04-10 08:08] #20755 closed

[2022-04-10 14:38] greglucas opened #22819 "[Doc]: Make rect argument consistent in the docstrings"
### Documentation Link

_No response_

### Problem

The `rect` argument to functions is inconsistently documented in the codebase. We should consolidate the argument into a single choice.

The options I found searching for `rect : ` are:
[code]

### Suggested improvement

Update all `rect` arguments to a single choice of one of the above for consistency.

[2022-04-10 17:04] oscargus commented on #22126
It seems like `to_numpy` is not converting the `NA` values. Conditionally if `dtype=object`.
[code]

[2022-04-10 17:11] Sync271 commented on #22819
I'd like to work on this.

Below, while creating an instance of  `Grid`, it not only accepts a tuple but also an integer. Do I not touch the integer part and just make changes to the documentation of the tuple?
https://github.com/matplotlib/matplotlib/blob/2df11ccd4221d4a1d7001ab374e44f8f3c51316f/lib/mpl_toolkits/axes_grid1/axes_grid.py#L86-L88

[2022-04-10 17:39] oscargus commented on #22126
Pandas has a keyword argument `na_value` that can be use to replace the `NA` values during conversion. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_numpy.html

However, xarray does not.

[2022-04-10 17:43] tacaswell commented on #22478
I can not reproduce installing stable everything from pypi using https://github.com/JackKelly/pytorch-lighting-segfault/blob/main/pytorch.py

https://github.com/JackKelly/pytorch-lighting-segfault/blob/main/pytorch-lightning.py fails due to a changed API on `trainer.fit`.

[code]

[2022-04-10 17:55] tacaswell commented on #22808
At the c++ level I am 95% sure we dispatch on type (via the `_resample` code path) and we have some logic to warn if the user is out of gamut https://github.com/matplotlib/matplotlib/blob/2aa4b7dca40dc01236aed601f2a071168ddd2dca/lib/matplotlib/image.py#L713-L731

I thought the thing that was impossible was to infer vmin/vmax to be INTMAX/INTMIN for 1-channel false-color data, for actual RGB(A) dat

[2022-04-10 19:02] jklymak commented on #22808
I think question is if we get [1,0,1] is that on a 256 range or 0-1?   Heuristically you could assume if all your data was between 0-1 it was on the 0-1 range, but that isn't going to be always correct.

[2022-04-10 22:56] tacaswell commented on #22808
If we get `[[[1, 0, 1]]]`  (so shaped `(1, 1, 3)` )we dispatch on type (because at ndim==3 we treat it as a direct RGB(A) image):

[code]

![so](https://user-images.githubusercontent.com/199813/162643282-5cf2c1ac-fbff-4df2-b552-c48604200f12.png)

If we get `[[1, 0, 1]]` (so shaped `(1, 3)`) we do not look at the types at all and scale from [0, 1]:

[code]

![so](https://user-images.githubuserconte

[2022-04-11 07:10] raquelhortab commented on #22811
I've tried a basic example and yes, Tk does work

[2022-04-11 07:13] raquelhortab commented on #22811
It does work! Although it is not ideal it is a good enough solution for me for now, at least i can get the plots. Thank you very much! If you want to debug the problem and need me to run something just let me know and I'll post the outcome/results.

[2022-04-11 07:27] justusschock commented on #22478
@tacaswell to reproduce and avoid API changes, stick to `pytorch-lightning<1.6.0`

[2022-04-11 08:23] JackKelly commented on #22478
Ah, good catch! I've just edited my [pytorch-lightning.py](https://github.com/JackKelly/pytorch-lighting-segfault/blob/main/pytorch-lightning.py) file, which will hopefully make it compatible with any recent version of pytorch lightning! (although I haven't tested it!)

[2022-04-11 10:35] thomas-haslwanter opened #22822 "[Bug]: Figure does not scale to window size"
### Bug summary

When changing the window size of a figure, the figure does not scale immediately, so part of it is obscured. Only after a manual re-scaling (even if minute) the figure is displayed correctly.

### Code for reproduction

[code]

### Actual outcome

![scaling_problem_01](https://user-images.githubusercontent.com/1530437/162722381-1d2e7594-ffc8-4b16-86f6-152d934a8318.png)

### Expect

[2022-04-11 13:16] lucashc opened #22823 "[Bug]: Changing Linestyle in plot window swaps some plotted lines"
### Bug summary

After creating a figure with multiple lines plotted using the plt.loglog() command, altering the linestyle in the plot window under Figure Options -> Curves, results in some lines being swapped.

### Code for reproduction

[code]

### Actual outcome

Outcome plot:
![image](https://user-images.githubusercontent.com/19654849/162746305-15b5019f-fa8b-4008-900d-a5ff041fa5ff.png)

After

[2022-04-11 15:11] oscargus commented on #22822
For what it is worth: this does not seem to be an issue on main using Linux (CentOS 7). So either it has been fixed in main or it is a platform dependent issue.

[2022-04-11 15:56] tacaswell commented on #22811
How did you install Matplotlib?  Given that both Tk works on its own, saving a image works, and the error message points to loading an icon failing (!!), I suspect that the underlying issue is that your installation is broken.

Can you please try fully uninstalling and then re-installing Matplotlib?

[2022-04-11 16:09] tacaswell commented on #22823
This was fixed by 96225987cff74bdcf3fc59250f57e204f756d03e / https://github.com/matplotlib/matplotlib/pull/22208 and will be released in 3.5.2 (which should be out soon).

I'm going to close this as a duplicate of #22208, sorry for the difficulty.  The regression came in in 3.5.0 so if falling back to 3.4 may be an option here.

[2022-04-11 16:10] #22823 closed

[2022-04-11 16:11] lucashc commented on #22823
Thank you, that was fast.
Have a nice day!

[2022-04-11 19:10] mylasem commented on #22521
@jklymak I can work on this if this is still an issue. Just want to make sure i understand the problem correctly, if the **xticks** method is used before the **axvline** method, the date should still rotate as shown in the expected outcome. Is this correct?

[2022-04-11 19:23] thomas-haslwanter opened #22827 "[Bug]: Under Windows and matplotlib 3.5.1, "key_press_event" is not handled"
### Bug summary

The "key_press_event" is not handled. It looks as if this event is not connected by the event handler.

- This mistake appears under Windows (Win10 & Win11), and NOT under Linux.
- It does NOT appear with Matplotlib 3.4.1, but DOES appear with Matplotlib 3.5.1

### Code for reproduction

[code]

### Actual outcome

Figure is plotted, but no keyboard input is handled/indicated.

##

[2022-04-11 19:26] kamraaan1997 commented on #7901
Can you please help in this plot to generate the legends where edgecolor and hatch color are different in the unfilled bar plot?

[2022-04-11 19:27] tacaswell commented on #22822
I can reproduce this (with the additional issue that it bigger than half of my screen but it may be half of the size of the union of my two screens?).  I think this is related to hi-dpi screens.

If I do:

[code]

I see

[code]

and the 1.68 is the value that comes out of my system via https://github.com/matplotlib/matplotlib/blob/25c85f081be47be0f788a622b37bb63071cf68cb/lib/matplotlib/backends/_b

[2022-04-11 19:28] tacaswell commented on #22827
attn @richardsheridan

I suspect that this is related to the event loop work?

[2022-04-11 20:26] QuLogic commented on #22800
This is dependent on fonts and I'm not sure there's an easy way to determine that. At a lower level, this is determined by the result of `Renderer.get_text_width_height_descent` using a string "lp" and the relevant font settings. At a higher level, you may be able to create a `Text` with 'l' and 'p', and then compare `Text.get_window_extent` to see the size change.

[2022-04-11 20:28] richardsheridan commented on #22827
does #22077 fix this? It is supposed to land in 3.5.2

[2022-04-11 20:43] richardsheridan commented on #22827
To answer my own question, yes, it seems to at least for me.

[2022-04-11 21:59] raphaelquast commented on #21915
hey, I just ran into this while plotting data... (interactivity doesn't stop but it plots a lot of issues)  any updates?

[2022-04-11 22:09] tacaswell commented on #7901
@kamraaan1997 Please open a new issue with a minimal example that shows a bug or if you are looking for support on how to use Matplotlib please post your question to https://discourse.matplotlib.org .  Thank you!

[2022-04-11 22:15] tacaswell commented on #21915
@raphaelquast no, this still needs someone to work on it.

Labeled as a good first issue as there in no API design here (just returning an empty string is better than the current state).

[2022-04-11 22:19] tacaswell commented on #22521
@mylasem Correct, independently of what plotting is done and in what order, all of the ticks should be rotated the same.

[2022-04-12 00:00] timhoffm commented on #22521
https://github.com/matplotlib/matplotlib/blob/b36ef478bd07be1cf525789696d8d0334d913b67/lib/matplotlib/pyplot.py#L1817-L1819

is probably the cause. We may have more ticks allocated internally than are returned by `get_xticklabels`.

That said, we haven't specified the behavior of `plt.ticks(**kwargs)`. Does it only apply to current tick labels (which I think is the cause of the present issue), or

[2022-04-12 00:45] yumasheta commented on #21915
I can give a PR (that is based on my [last comment](https://github.com/matplotlib/matplotlib/issues/21915#issuecomment-992454625) a try. But my concerns/questions from then are still valid.

[2022-04-12 00:53] tacaswell commented on #21915
As this is all internal code, I think we should just do an `isinstance(norm, BoundaryNorm)` check and then act accordingly.  There is already a bunch of instances of this in the colorbar code as precedence.

[2022-04-12 01:04] #22762 closed

[2022-04-12 01:51] mwaskom opened #22829 "[Bug]: Labels for log ticks with scalar formatter rounded to zero"
### Bug summary

Setting a scalar formatter on a log axis can produce tick labels that render as `0`.

### Code for reproduction

[code]

### Actual outcome

![image](https://user-images.githubusercontent.com/315810/162862493-32e357df-b722-4395-9acb-75b2151f9bfe.png)

### Expected outcome

![image](https://user-images.githubusercontent.com/315810/162862789-a97150f8-e204-4b53-9432-9117cabbf255.png)

[2022-04-12 05:30] jklymak commented on #22822
That all looks right, but I'm not sure we need to support changing the window size without changing the figure size.  In this case doesn't the user just need to fire the window resize callback manually since they are changing the window size manually?

[2022-04-12 07:15] BC-Consulting opened #22830 "[Bug]: wrong colorbar using BoundaryNorm"
### Bug summary

Using: `mpl.colors.BoundaryNorm` with color stops that are not monotonically increasing.

Problem is that the first 3 or 4 leftmost colors are wrong.

`drawedges` has also problems drawing edges in that area. The edges are overlapping each other as shown by the "thick" edge drawn right of the blue colors.

This is visible on both `uniform` and `proportional` spacings.

Below code

[2022-04-12 08:47] baloe opened #22831 "[Doc]: Arguments of FFMpegFileWriter not clear."
### Documentation Link

https://matplotlib.org/stable/api/_as_gen/matplotlib.animation.FFMpegFileWriter.html

### Problem

There is no word on what arguments to set via `*args, **kwargs`.

Also, I am wondering how to control where the temporary frame files are stored. I was unable to find them in my `/tmp` directory

### Suggested improvement

List arguments or refer to class who's initialization

[2022-04-12 11:29] #22830 closed

[2022-04-12 15:15] FredPaletou opened #22833 "[Bug]: figure and matshow"
### Bug summary

it seems that doing, say figure(#) and a matshow doesn't work fine without adding a fignum=# into the matshow command

### Code for reproduction

[code]

### Actual outcome

opens 2 windows (instead of one), with an empty figure(1) and the matrix in figure(2)

### Expected outcome

single window figure(1) with the matrix plot, which can be done right (only?) by adding fignum=1 int

[2022-04-12 15:33] tacaswell commented on #22830
@BC-Consulting Did you mean to close this?

[2022-04-12 15:35] anntzer commented on #22833
This has intentionally been the case basically since the beginning: https://github.com/matplotlib/matplotlib/blob/f2241b9510da5737a3bc46708895b5a04f081ca3/lib/matplotlib/pylab.py#L1401
and is therefore extremely unlikely to be ever changed.  Consider using the object-oriented interface (https://matplotlib.org/devdocs/tutorials/introductory/quick_start.html#coding-styles) for better control.

[2022-04-12 15:35] #22833 closed

[2022-04-12 15:57] tacaswell commented on #22830
@BC-Consulting Great, I'm glad you got it sorted.  Hopefully the context as to why you closed it will help the next person who finds this via search ;)

[2022-04-12 16:09] oscargus commented on #8388
Fixed by https://github.com/matplotlib/matplotlib/pull/22707

[2022-04-12 16:09] #8388 closed

[2022-04-12 16:11] tacaswell commented on #22822
The issue is that when the window size is initially changed we have bad information about what the effective dpi should be so compute the wrong figure size to forward on.

I think the core of the issue is that Tk handles the scaling / hi-dpi differently than the other backends.

[2022-04-12 16:19] tacaswell commented on #22831
The task here is to sort out whyhttps://github.com/matplotlib/matplotlib/blob/c33557d120eefe3148ebfcf2e758ff2357966000/lib/matplotlib/animation.py#L267-L288 is not forwarded to https://github.com/matplotlib/matplotlib/blob/c33557d120eefe3148ebfcf2e758ff2357966000/lib/matplotlib/animation.py#L389-L391 and rendered for the FFMpegFileWriter and fix it!

[2022-04-12 18:04] yumasheta commented on #21915
After thinking about my suggestion again, I now understand why you prefer an `isinstace` check.
(In my initial suggestion one would have to check if `ends` maps to (0,1) and if `normed` is in [0, 1] for the correct way to implement my idea. But these conditions are taylored to catch `BoundaryNorm` anyway, so why not do it directly.)

However, I suggest using a try block after https://github.com/ma

[2022-04-12 21:57] anntzer opened #22834 "[Doc]: Animation api docs list api and examples at the same heading level"
### Documentation Link

https://matplotlib.org/devdocs/api/animation_api.html

### Problem

See the left frame at
![anim](https://user-images.githubusercontent.com/1322974/163061177-d127307a-2603-4226-94cc-f50e5ff53b3e.png)
which mixes api headings and examples headings.

### Suggested improvement

Don't mix them.

[2022-04-13 00:44] lijake8 commented on #22738
@tacaswell @timhoffm @anntzer I wanted to update you all on the status of the PR for this issue: As of earlier today, our commit is finalized and has one approving review thus far. We'd really appreciate it if you could take a look and give any feedback or a 2nd code review. Thanks!

[2022-04-13 01:34] richardsheridan opened #22836 "[Bug]: TclError raised by _set_image_for_button() when _update_window_dpi() runs"
### Bug summary

I was trying to debug #22822 and an unrelated error pops up in `_set_image_for_button` when moving a window between monitors of different DPIs. It is a Tcl error that pops up during the `_update_window_dpi` callback and is therefore printed without ending the program.

### Code for reproduction

[code]

### Actual outcome

[code]

Also because the callback is interrupted, some wid

[2022-04-13 02:07] richardsheridan commented on #22822
I'm leaning toward this. `FigureCanvasTk.resize` doesn't seem to be the right API though. It's necessary to call either `resize` or the `geometry` method after the event loop runs a bit... something between 10 and 100 ms on my machine, kind of awkward. I had some success using `mpl_connect`:
[code]
which has the amusing side-effect of immediately resetting the window geometry if you try to resize

[2022-04-13 09:31] QuLogic commented on #22822
Yes, on Windows, the 'standard' monitor is 96 DPI, and for monitors with HiDPI scaling, we then increase that value by whatever that scale is. The 'scaling' value we use within Tk is the DPI over a 'standard' 72 DPI.

This does not appear to be the case on Linux, and possibly is not true on macOS either. The Tk 'scaling' value is the true DPI (or at least whatever X wants to tell it it is) over 72

[2022-04-13 10:00] hjhilden commented on #20690
Just pitching in to say that an update to the hatch API would benefit a lot in flexibility from including the possibility of direct control of orientation and contrast in addition to density: Textures or patterns are visually distinct if they differ sufficiently in their main three fundamental perceptual channel components (Ware 2013, _Information Visualization_  p. 202): orientation, scale and co

[2022-04-13 10:15] robintimmis opened #22840 "[Bug]: Blank output EPS file when using latex and figure.autolayout = True"
### Bug summary

When figure.autolayout is set to True the output in the EPS file becomes blank. The file is produced and no errors are mentioned.

### Code for reproduction

[code]

### Actual outcome

EPS file converted to PDF

[test.pdf](https://github.com/matplotlib/matplotlib/files/8480431/test.pdf)

### Expected outcome

EPS file converted to PDF with `plt.rcParams['figure.autolayout'] = Fal

[2022-04-13 10:54] jklymak commented on #22840
Not sure what is going on. But you can manually set tight_layout or constrained_layout

[2022-04-13 11:15] robintimmis commented on #22840
That does appear to work, you are right, thankyou. But I need to set it in the rc params since I am using another program to plot other graphs in matplotlib and cannot access these figures to manually change this.

[2022-04-13 12:36] karahanyilmazer commented on #12221
Sorry for the delay. I noticed that in my first call after restarting my high-DPI laptop, the scaling is off and the figure is very small. When I run the line `_device_pixel_ratio` I get 1. In this case, `fig.set_size_inches(5, 5)` produces a plot with a width and height of 5 cm.

Then I run `plt.matplotlib.rcParams['figure.dpi'] = qApp.desktop().physicalDpiX()`. This produces a large and readable

[2022-04-13 12:46] tacaswell commented on #22840
I think this is a duplicate of https://github.com/matplotlib/matplotlib/issues/21930 which was fixed by https://github.com/matplotlib/matplotlib/pull/22732

@robintimmis If you are able to install from source, checking if this works for you on either main or v3.5.x would be very helpful!

[2022-04-13 12:48] tacaswell commented on #22840
I'm going to close this as a duplicate, please ping to have re-open if this is in fact not fixed on the development versions.

[2022-04-13 12:48] #22840 closed

[2022-04-13 14:32] daniilS commented on #22836
Thanks for spotting this! I think it's because for a `checkbutton`, changing the `image` option [also re-initialises](https://github.com/tcltk/tk/blob/main/generic/tkButton.c#L1206=) `selectimage`. However, when creating the new images, we overwrite the reference to the previously used `selectimage`, so it's already been garbage collected. Setting `image` and `selectimage` at the same time should

[2022-04-13 14:44] McDic opened #22842 "[ENH]: Will matplotlib support asynchronous functions or generators as `FuncAnimation`'s parameters?"
### Problem

I want to pull data source from web server, database, extra, and nowadays most of them are developed with `asyncio`.

For example, it would be much appreciated if following code works;

[code]

If `FuncAnimation` accepts asynchronous functions/generators for `func`, `init_func`, `frames`, it would be much better to integrate real time data to plotting.

### Proposed solution

I guess

[2022-04-13 17:45] tacaswell commented on #22842
https://matplotlib.org/devdocs/users/explain/interactive_guide.html has a lot of details about event loops and how to integrate them.

For the UI to be responsive (pan / zoom / ect) the GUI main loop needs to be running and processing events.  If you are blocking the main thread waiting on network or database I/O the then everything is locked while we wait.

If you want to get the concurrency of h

[2022-04-14 05:35] QuLogic commented on #22831
`FFMpegFileWriter.__doc__` prints the class docstring; `FFMpegFileWriter.__init__.__doc__` is empty, but `FFMpegFileWriter?` in ipython _does_ print out the correct docstring for both. I'm not sure what's missing there.

[2022-04-14 06:17] #21893 closed

[2022-04-14 06:22] #22836 closed

[2022-04-14 10:27] raquelhortab commented on #22811
I reinstalled and I still get the same error. I installed it using pip: `pip install matplotlib`

[2022-04-14 13:11] richardsheridan opened #22847 "[Bug]: Cannot toggle set_tight_layout"
### Bug summary

As of #20426 calling `Figure.set_tight_layout(False)` does not disable the tight layout algorithm.

### Code for reproduction

[code]

### Actual outcome

AssertionError

### Expected outcome

clean exit

### Additional information

I'm pretty sure [this branch](https://github.com/matplotlib/matplotlib/blob/88371856684ee5ca12a04a084354d8592e49386e/lib/matplotlib/figure.py#L2502-L2

[2022-04-14 13:16] McDic commented on #22842
Thank you for your in-depth feedback. Here are some my questions;

Maybe because I am not much experienced coder, I don't understand why everything is locked when we do network or database I/O and GUI operation in same loop? Shouldn't they run concurrently when I call like `loop.run_until_complete(coro())` until `coro()` is completed?

But isn't it same (everything is blocked) because matplotlib w

[2022-04-14 13:43] daniilS commented on #22811
To see if it's an issue with the Tk installation, what does the following code print?
[code]

[2022-04-14 15:23] oscargus commented on #21729
Looking through old issues are found this https://github.com/matplotlib/matplotlib/issues/790

[2022-04-14 16:34] Jonerbay opened #22848 "[Bug]: TkAgg matplotlib on PyCharm does not show empty plot"
### Bug summary

Plot is not shown. Also, process finishes with exit code -805306369 (0xCFFFFFFF).

### Code for reproduction

[code]

### Actual outcome

![image](https://user-images.githubusercontent.com/62060069/163433223-919886ea-7fd9-40a9-bddd-3cce0c60e041.png)

### Expected outcome

![image](https://user-images.githubusercontent.com/62060069/163433551-c7cf4656-a2f6-49e4-8312-9cbeb63b4204.png

[2022-04-14 22:58] daniilS commented on #22827
Yes, should be fixed in 3.5.2. @thomas-haslwanter, until then, you can use `fig.canvas.get_tk_widget().focus_set()` as a workaround.

[2022-04-15 00:47] #22827 closed

[2022-04-15 04:51] tacaswell commented on #22842
We have only just met so I do not yet know what you know, so if I am answering at the wrong level (either talking down to you or over you head) please say so and I'll try to adjust!

If you do not do anything in particular to get concurrency (threading, multiprocessing, asyncio tasks, ....) code runs serially (which is what makes it possible to reason about it) so `loop.run_until_complete` runs th

[2022-04-15 10:46] timhoffm commented on #22848
I cannot reproduce this here. Does this work if you run it from the command line / in a script? If so, it's either related to the Python environment you are using within PyCharm, or it's related to PyCharm's plot backend.

[2022-04-15 10:49] timhoffm commented on #790
Also and in more detail tracked in #21729.

[2022-04-15 10:49] #790 closed

[2022-04-15 10:57] timhoffm commented on #22834
It seems the more fundamental issue is that we mix auto-generated API and hand-written descriptions in here.

IMHO `animation_api.rst`should not contain manually written paragraphs. This information should be moved either to the corresponding docstrings or to a yet-to-be-written animation tutorial.

[2022-04-15 11:44] timhoffm commented on #22831
Maybe we should adopt numpydocs convention to always document init parameters in the class docstring https://numpydoc.readthedocs.io/en/latest/format.html#class-docstring

[2022-04-15 12:25] McDic commented on #22842
I think it is beyond my level, or maybe my translation is bit incorrect. Please understand if my further question below is stupid..

I thought unfinished tasks which was spawned before `run_until_complete` is called are still under event loop's management? Like, once the loop is restarted again, then all tasks from suspended limbo restarts again. For example, imagine following code;

[code]

The c

[2022-04-15 14:45] tacaswell commented on #22842
True, but it is best if you can leave the event loop running (or make sure it is restarted frequently).  If you are holding onto one side of a network connection or database cursor and then stay suspended for too long the server side will timeout.  Having the server side cut you off can lead to really odd errors (speaking from experience).

GUI event loops almost always want to run in the foregrou

[2022-04-15 16:10] tacaswell commented on #22834
Sorry, I am the one who did that mixing.  It seemed like a good idea at the time....

[2022-04-15 16:14] McDic commented on #22842
I am pretty much appreciated for your long and detailed explanation! I think your explanation gives lots of information for people who are new to these stuffs like me, so don't think your answer is rambling!

I will code some experimental stuffs to find how to cleverly deliver concurrency (using `quamash`, multithreaded event loops, etc), so I can elegantly integrate my own library([link](https://

[2022-04-15 16:21] tacaswell commented on #22842
Please add the "Framework::Matplotlib" classifier (see https://matplotlib.org/mpl-third-party/ for instructions) to your package on pypi and consider adding it to our list when you feel it is ready for users!

[2022-04-15 16:29] tacaswell commented on #22848
Can you post the full trace back.  This looks to me like something is going very wrong with your installation.

It may also be worth fully re-installing your environment.

[2022-04-16 04:17] github-actions[bot] opened #22853 "[TST] Upcoming dependency test failures"
The weekly build with nightly wheels from numpy and pandas
has failed. Check the logs for any updates that need to be
made in matplotlib.
https://github.com/matplotlib/matplotlib/actions/runs/2175468878

[2022-04-16 15:49] greglucas commented on #22853
Duplicate of https://github.com/matplotlib/matplotlib/issues/22708

[2022-04-16 15:49] #22853 closed

[2022-04-16 16:54] #22708 closed

[2022-04-17 09:29] timhoffm commented on #22738
Closed by #22802

[2022-04-17 09:29] #22738 closed

[2022-04-17 17:24] AlbertoEusebio opened #22858 "[Bug]: FigureCanvasTkAgg call creates memory leak"
### Bug summary

python 3.10.4

While using matplotlib 3.5.1 I have encountered a problem in calling multiple times the function FigureCanvasTkAgg().

### Code for reproduction

[code]

### Actual outcome

(0, 0)
(42116, 55520)
(0, 0)
(41983, 55387)
(0, 0)
(65031, 78436)
(0, 0)

### Expected outcome

(0, 0)
(0, 0)
(0, 0)
(0, 0)
(0, 0)
(0, 0)
(0, 0)

### Additional information

_No response_

### O

[2022-04-17 22:59] moi15moi opened #22859 "[Bug]: findSystemFonts should not look in subdirectories of C:\Windows\Fonts\"
### Bug summary

findSystemFonts takes the font in the directory: C:\Windows\Fonts\Deleted

It should not take them. They are supposedly deleted. It is better to ignore them.

### Code for reproduction

[code]

### Actual outcome

---

### Expected outcome

---

### Additional information

_No response_

### Operating system

Windows

### Matplotlib Version

3.5.1

### Matplotlib Backend

_No resp

[2022-04-17 23:20] lxguan1 commented on #22104
Hi,

I plan on doing a pr for a solution to this issue, but have you found any other examples of this bug occurring?

It seems to be that set_yticklabels does not save the fontweight setting, so when a new tick is created later it does not have the fontweight applied.

Thanks!

[2022-04-17 23:27] amunozj opened #22860 "[ENH]: Rotate legend"
### Problem

I'm trying to plot a legend that is rotated 90 degrees so that it neatly arranges along a long vertical axis I have, but there is no rotation in the legend definition.   It would be great if the legend was not forced to have horizontal text and have all elements displayed horizontally.

Someone mocked what this would look like: [https://i.stack.imgur.com/FqCgO.png](https://i.stack.img

[2022-04-18 00:07] nhansendev opened #22861 "[Bug]: 3D scatter plot flips alpha order depending on depth relative to camera"
### Bug summary

When plotting a 3D scatter plot with multiple alpha values the resulting alpha values that are plotted depend on the order of points relative to the camera. This behavior continues even if depthshade=False is used. The behavior stops if the points are plotted individually using a for loop.

### Code for reproduction

[code]

### Actual outcome

Ex: In the images below you can see

[2022-04-18 06:57] timhoffm commented on #22861
Likely the same as #19787 but we missed handling Alpha in that context correctly.

[2022-04-18 07:06] timhoffm commented on #22860
FYI: #16005 solves a similar problem but with another approach. Would that be sufficient for you? IMHO vertical legends only make sense with very few (or even just one?) elements.

[2022-04-18 07:38] timhoffm commented on #22104
Without checking (I’m currently away from my dev machine) I suspect that set*ticklabels kwargs only sets the properties of the tick labels defined therein, but not the general tick label properties. - We should discuss whether that’s desired or not.

I also assume this is only indirectly  related to polar. The reason for the difference between r and theta here is likely that r limits are not fixed

[2022-04-18 08:39] anntzer commented on #22859
Do you have a reference documenting this directory? Thanks.

[2022-04-18 13:08] moi15moi commented on #22859
No, I don't have any reference. I actually search on the web and I was surprised to find nothing about that.

If you want to access to the folder, write `\\localhost\c$\Windows\Fonts` in your Windows File Explorer.

[2022-04-18 13:10] anntzer commented on #22859
My point is that if there is no documentation stating that we should ignore this directory, then we shouldn't ignore it.

[2022-04-18 13:29] moi15moi commented on #22859
I see.
I can only say that when you delete a font, it goes in that folder and want you reboot, this folder seems to become empty.

Someone would need to open ask the question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/)

[2022-04-18 13:35] anntzer commented on #22859
Can you try to ask them for a reference?

[2022-04-18 15:37] amunozj commented on #22860
Thank you so much Tim! Not exactly.   While I agree generally with your statement when it comes to publishing figures, I have my own reasons why I want to manipulate the legend this way.  This functionality would only empower users, not necessarily encourage bad design.

Simply a `rotation` parameter like in the [text](https://matplotlib.org/3.5.0/gallery/text_labels_and_annotations/text_rotation.

[2022-04-18 15:49] jklymak commented on #22860
@amunozj Given the complexity of the legend artist, I would be very surprised if this were easy, however, anyone is welcome to try.

[2022-04-18 16:41] lxguan1 commented on #22104
@timhoffm Yes, I have looked into this and that seems to be the case. set_yticklabels is only setting the properties of the tick labels passed in, and with polar axes confined to a sector (the example given in the issue) reset_ticks() is called in the draw() function in polar.py (line 958), so the ticks that are created do not have the fontize property set. My current thoughts on fixing this is to

[2022-04-18 16:59] amunozj commented on #22860
Thank you.  I was trying to apply a transformation to the bbox, but my understanding of bounding boxes and transformations is very limited :(  Would something like this work?

[2022-04-18 17:21] jklymak commented on #22860
It would work if the children somehow inherit the parents transform   But I am not sure that is the case.

[2022-04-18 20:21] timhoffm commented on #22104
This is indeed a major behavior change, which should be agreed upon by core devs. However, I'm inclinded towards this because I think the sematics of styling in `set_ticklabels()` is global (not only universal for all the ticks set, but also for future ticks). The major problem I see is that `set_tick_params` only covers a small portion of Text properties, that one could pass to `set_ticklabels()`

[2022-04-18 20:52] timhoffm commented on #22672
Note: It's almost never a good idea to iterate over and modify individual ticks. Ticks are volatile and can change throughout the lifecycle of a figure. The correct approach to aboves code is to use `tick_params`:

[code]

More details are discussed in #22856.

[2022-04-18 20:57] y9c commented on #22672
Thank @timhoffm .  But tick_params can not change only part of the ticks, correct?

[2022-04-18 21:26] timhoffm commented on #22672
@y9c If you mean "some of the ticks", yes, `tick_params` changes the global defaults for ticks. But that's the point. Ticks can change and if you set them individually, you have always the risk that your individual settings get lost. If you need to operate on individual ticks, I advise to do this as late as possible in your figure creation.

[2022-04-18 21:27] tacaswell commented on #22859
I have a suspicion that this is due to not being able to delete an open file on windows but being able to move it.  Thus when you delete a font, they can not be sure no one is using it / detect if someone is using it, move the file to a well-known to be deleted on reboot location, and then on the way up or on the way down (when they are sure no user program is running) they actually delete it.

Th

[2022-04-19 07:09] caizixian opened #22862 "[Bug]: hatch inconsistency between PDF and png"
### Bug summary

When drawing with hatches, dots show up in PDF as circles but they render fine as PNGs.

### Code for reproduction

[code]

### Actual outcome

**PDF**
[demo.pdf](https://github.com/matplotlib/matplotlib/files/8510681/demo.pdf)
PDF converted as png
![demo](https://user-images.githubusercontent.com/2891235/163945882-3d67e72c-b27b-42e1-b4f9-991da8dcacaf.png)

**PNG**
![demo](https:/

[2022-04-19 08:03] oscargus commented on #22862
This seems to be a problem for filled hatches. Same with '*'.

[2022-04-19 08:55] thomas-haslwanter commented on #22827
Thank you for the quick fix!
@daniilS, your suggesstion with `focus_set()` did not work for me. I tried it at different locations, without success. But if 3.5.2. is released in the next month, that is sufficient for met.

[2022-04-19 15:31] AnnaMastori commented on #22571
Hi, is anyone working on this ? I know you don't assign issues but I would like to try it !

[2022-04-19 23:02] moi15moi commented on #22859
Since @tacaswell want to contact Raymond Chen, do you still want me to open a thread on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) ?

[2022-04-20 02:14] tacaswell commented on #22859
That was (mostly) a joke, but yes reaching out through Microsoft's support channels to get a definitive answer to this would be greatly appreciated!

[2022-04-20 07:19] QuLogic commented on #22858
This is likely being fixed by #22002.

[2022-04-20 07:31] QuLogic commented on #22448
Can you try again from #22002, as I think @richardsheridan found an actual big leak with the `window_dpi` thing.

[2022-04-20 14:35] tvaillantdeguelis opened #22864 "[Bug]: Colorbar with drawedges=True and extend='both' does not draw edges at extremities"
### Bug summary

When creating a matplotlib colorbar, it is possible to set drawedges to True which separates the colors of the colorbar with black lines. However, when the colorbar is extended using extend='both', the black lines at the extremities do not show up.

### Code for reproduction

[code]

### Actual outcome

![image](https://user-images.githubusercontent.com/34058459/164254401-7516988d

[2022-04-20 15:15] oscargus commented on #22864
Fixed in #22865

[2022-04-20 15:17] tacaswell opened #22866 "Extract the development docs from this repository"
We have historically built all of our documentation from the sphinx source in the main matplotlib/matplotlib repo (this one).  We would then host this by unpacking the result of the build at the top level of website + into a version specific sub-folder.  We would also rely on

While this served us well for over a decade, over the past few years we have slowly started to pull things apart.  The goa

[2022-04-20 23:55] patrickhaoy commented on #22448
I installed matplotlib from #22002 again, but the memory leak still occurs.

[2022-04-21 00:57] richardsheridan commented on #22448
Thanks for checking. This along with the rss measurement basically confirms we are leaking non-python objects still, but I still can't see from where. I'm looking forward to throwing [memray](https://twitter.com/1st1/status/1516859294896906241?s=20&t=a5ZBipw53WROeiII1Psf9w) at it.

[2022-04-21 07:41] oscargus opened #22867 "[ENH]: zplane/splane/freqz/freqs plotting"
### Problem

These are quite convenient to have when working in particular areas (e.g. DSP, which I do).

Basically, zplane and splane are scatter plots of complex values using two different types of markers with some identification of multiples and a unit circle for zplane.

freqz/freqs compute the magnitude and phase response of a discrete/continuous transfer function and plots them in separate

[2022-04-21 08:25] Bogusik opened #22868 "[MNT]: pytest-testmon for github actions"
### Summary

Currently each CI/CD pipeline in "Tests" workflow takes nearly 18 minutes to be finished. "Run pytest" step takes nearly 12 minutes to be finished. In my opinion it takes too long.

### Proposed fix

My proposal is based on using pytest-testmon in GHA. This plugin collects dependencies between tests and all executed code and compares the dependencies against changes. So it could impro

[2022-04-21 09:10] jklymak commented on #22867
I would vote for start the new toolbox, and start deprecating the old when you think its mature enough to go forward?

[2022-04-21 10:16] oscargus commented on #22831
There is also quite a bit of failing cross-references in the animation docs that one possibly can try to sort out at the same time.

[2022-04-21 10:28] oscargus opened #22870 "[Bug]: SymLogNorm not working properly"
### Bug summary

(It is, sort of, well known that this is broken, see e.g. #16398, but good to have a separate issue for it in case someone is tempted to give it a go.)
Here is an example for a colorbar, but a similar behavior is seen elsewhere:

https://github.com/matplotlib/matplotlib/blob/a7b7260bf06c20d408215d95ce20a1a01c12e5b1/tutorials/colors/colormapnorms.py#L132-L148

gives

![image](https

[2022-04-21 11:14] jklymak commented on #22870
I don't think this is a colorbar issue in particular. Don't you get the same with any symlognorm axis?

[2022-04-21 11:56] oscargus commented on #22870
You are probably right. Just saw it there. I'll edit appropriately.

[2022-04-21 12:03] #22870 closed

[2022-04-21 12:44] silvertonsils commented on #22688
@jklymak  Many thanks for your reply  .

That's helpful for single- or low-quantity plots, but I'm looking at doing a constantly updating image, with possibly multiple 3D objects being projected onto the 2D screen (figure), and it gets quite long-winded putting in these long transform argument strings each time (yes, I know there's ways to shorten it - redefine methods, use literals, whatever - an

[2022-04-21 12:44] #22688 closed

[2022-04-21 15:01] bsunnquist opened #22872 "[Bug]: Unexpected savefig() overwrite deprecation warning"
### Bug summary

I'm getting a deprecation warning when saving a plot with overwrite=True, but I can't find any alternatives, and am not sure if the warning is expected.

### Code for reproduction

[code]

### Actual outcome

`<ipython-input-3-18305a314a52>:1: MatplotlibDeprecationWarning: savefig() got unexpected keyword argument "overwrite" which is no longer supported as of 3.3 and will become

[2022-04-21 15:15] Zefeng-Wu opened #22873 "CapStyle with radius linewidth/2"
Hi there, I have a question about the matplotlib class-matplotlib._enums.CapStyle(value). In the "round" mode, the capsemicircular cap is added to the end of the line with the radius of linewidth/2. However, I expect that the red points can be located at rightly the edge of the line or line2D ([see the link](https://matplotlib.org/stable/api/_enums_api.html#matplotlib._enums.CapStyle)).In other wo

[2022-04-21 16:04] yM4rvinz opened #22874 "[Bug]: Textbox doesn't accept input"
### Bug summary

Typing anything inside the textbox is not working for me. The textbox doesn't update graphically, on the plot figure, neither on its value, demonstred with "texto.on_text_change(lambda v: print(v))" on the code. However, if i press [tab] key once, the textbox works just fine and if i press it twice, it stops working again.
This issue isn't occuring only to me, because i've found i

[2022-04-21 16:11] jklymak commented on #22872
Savefig just overwrites, so why do you want that kwarg at all?

[2022-04-21 16:35] bsunnquist commented on #22872
Thanks, wasn't aware that was the default anyway, will close this

[2022-04-21 16:35] #22872 closed

[2022-04-21 17:32] beasteers commented on #16463
Hmm I'm still seeing this in `3.5.1`

[code]
<img width="1441" alt="image" src="https://user-images.githubusercontent.com/6741720/164517404-b0598bb7-295d-4159-bf4b-2522082798a0.png">

No matter what I try I can't change the axis aspect ratio to fill the figure.

`fig.subplots_adjust(left=-1, right=2)` doesn't stretch it, it just moves it back and forth

[2022-04-21 17:42] raamana commented on #22681
just quick FYI that this delay is affecting the recognition of key_press_events as well as `alt+s` is broadcast as two keys starting with alt and then an s. this would make it difficult or impossible for me to support multi-key keyboard shortcuts.

[2022-04-21 17:48] raamana commented on #22681
weirdly enough, this behaviour seems restricted to `alt` key only as `ctrl+s` or `super+s` are getting recognized correctly. I tested both an external as well as builtin keyboards for my MacBook pro

[2022-04-21 18:27] tacaswell commented on #22681
As with mouse clicks, we are at the mercy of what the UI toolkits choose to send us.    My instinct is that the behavior of alt is correct (in that you can ignore events you do not care about) vs ctrl/super (you can to do something about events you were never sent).

[2022-04-21 20:38] daniilS commented on #22874
This is fixed by #22077. Until then, the simplest workaround is to press Tab to set the focus to the canvas first.

[2022-04-21 20:42] QuLogic commented on #22872
That argument never existed; the warning is that passing an unknown argument is no longer supported, not that that argument is no longer supported (because it never was.)

[2022-04-21 21:09] timhoffm commented on #22874
I think this is a duplicate to # 13484.

[2022-04-21 21:09] #22874 closed

[2022-04-21 22:00] tacaswell commented on #16463
@beasteers I think you want https://matplotlib.org/stable/api/_as_gen/mpl_toolkits.mplot3d.axes3d.Axes3D.html#mpl_toolkits.mplot3d.axes3d.Axes3D.set_box_aspect

Could you please post this at https://discourse.matplotlib.org (if you think it is a usage question) or open a new issue (if you think it is a bug)?

[2022-04-22 00:02] #22472 closed

[2022-04-22 13:23] timhoffm commented on #22873
The three supported capstyles are universal. You find them e.g. in the specifcations of [PDF](https://www.debenu.com/docs/pdf_library_reference/SetLineCap.php), [cairo](https://www.cairographics.org/manual/cairo-cairo-t.html#cairo-line-cap-t) and [svg](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-linecap). Other styles are not supported by the rendering engines. We have no way

[2022-04-22 13:23] #22873 closed

[2022-04-22 14:10] spillz commented on #4938
The workaround is really inconvenient for plotting from third party libs like pandas. I read from databases into dataframes and the column names include liberal use of characters in database fields that get interpreted as mathtex (e.g. some of these column names include multiple $ signs) and I just want clean text output of those columns names in my chart legends. To do that on my side, I'm going

[2022-04-22 14:33] jklymak commented on #4938
@spillz Please open a new issue.

[2022-04-22 14:40] raamana commented on #22681
interesting - from the "user" perspective, esp. for research software, when I press `alt+s` i expect to receive an `alt+s` you know! so many weird things i am learning in trying to offer an interactive solution for a research problem :)

[2022-04-22 14:56] oscargus commented on #4938
@spillz There will be one in 3.6: #22556

[2022-04-22 22:17] QuLogic commented on #22866
Do we want to put this in `mpl-brochure-site` or a separate repository?

[2022-04-22 22:30] tacaswell opened #22879 "Document and test what "array like" means to Matplotlib"
We have always said we take "array like" input, however when we started saying that there was numarray/numeric, then numpy, and always Python lists.  Later we started to have some special cases to support `pandas.Series` (both on straight conversion and to pick of the index).  However, the the current rise of sturcutred and array-like libraries (xarray, akwaardarray, pandas recent changes, the fle

[2022-04-23 01:32] moi15moi commented on #22859
Here you go: https://docs.microsoft.com/en-us/answers/questions/823422/what-is-exactly-cwindowsfontsdeleted.html?childToView=823435#answer-823435

[2022-04-23 08:25] oscargus commented on #22879
I would expect that chain to unify/modify/improve over time, see #22126 and #22645. Right now, I believe that there is a bit of special handling in different methods/functions so we should probably make sure that "all" methods/functions support data in the same format.

`index_of` behaves differently at the moment, or it should probably use `_unpack_to_numpy` to rely on any further improvements th

[2022-04-23 08:51] oscargus commented on #22341
@KelSolaar have you been able to try this out?

[2022-04-23 10:14] anntzer commented on #22859
The suggested solution of using EnumFontFamiliesEx doesn't really work for us, as we need an actual filename, not just a win32 LOGFONT structure (as we rely on FreeType for rendering, not on the Windows API).  A quick googling suggests that 1) many people want to go from LOGFONT to filename and 2) they are always told that this is not possible.
The best I found was https://stackoverflow.com/a/1162

[2022-04-23 12:41] kloczek opened #22880 "[Bug] 3.5.1: hidden install time `matplotlib` module dependencies"
### Bug summary

I'm tryng to build `matplotlib` documetation as man page (and fix that process because it doesn't work now). Working on that I found some dependencies which ar enot listed as install time dependencies.

Few fragments from `sphinx-build` command output with som call traces

[code]
And indeed /usr/lib64/python3.8/site-packages/matplotlib/backends/backend_nbagg.py uses `ipykernel` an

[2022-04-23 20:16] tacaswell commented on #22880
We do not consider the documentation build dependencies to be install time dependencies.  I understand that you @kloczek want to build the documentation as part of installing the Matplotlib, however we make a distinction between building/installing the library and the documentation.

The documentation requirements are documented at https://matplotlib.org/stable/devel/dependencies.html#additional-d

[2022-04-23 20:16] #22880 closed

[2022-04-23 20:35] tacaswell commented on #22859
I am not convinced to that we should take that answer as authoritative.

[2022-04-23 20:43] tacaswell commented on #22866
Originally I thought `mpl-brocure-site`, but I now I think a separate repository.  We already have a whole bunch of repos serving docs so we might as well lean into that and separate the repos by purpose.

[2022-04-23 21:29] jklymak commented on #22341
Lets close.  I'm 99.9% sure this has been fixed.  If not, we can re-open or make a new issue.  Thanks!

[2022-04-23 21:29] #22341 closed

[2022-04-23 21:44] KelSolaar commented on #22341
I haven't had a chance to try but I'll report back if any issues on future releases!

[2022-04-23 21:47] jklymak commented on #22859
The other simple check is to delete a font, open an app like Word before rebooting and see if it is there or not.  Someone with a Windows machine will just have to do a bit of experimentation for us.

[2022-04-23 22:14] code-review-doctor opened #22882 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/matplotlib/matplotlib/blob/2666b0da44c244ce79febcee73a4dbf31700a187/lib/matplotlib/tri/tripcolor.py#L87

I found this issue automatically. I'm a bot. Beep Boop 🦊. See other issues I found in your repo [here](https://codereview.doctor/matplotlib/matpl

[2022-04-24 04:04] kloczek commented on #22880
No. no .. I'm only pointing on fact that dome files **installed** are using modules which are not listed in `matplotlib` install-time dependencies.
Fact that I found that on building documetation is only coincidence and has nothing to do with those dependencies.

[2022-04-24 12:06] #22882 closed

[2022-04-24 13:26] oscargus commented on #22880
The thing is that those dependencies are like the QT backend requiring QT-libraries. We do not require all dependencies for all backends to be installed, only the ones you will use.

Nbagg is the backend for Jupyter (which is based on IPython). Webagg is the browser-based backend and tornado is the webserver used.

[2022-04-24 14:03] kloczek commented on #22880
Issue is that QT it is not python module. Please .. I'm taking about pure python code dependencies, and dependencies between pythom modules only.
Issue is that in case of using those .py files which have undeclared in python module dependencies list whoever will be tying to use that code will be surprised that module have no of those modules dependencies.
I've not been looking on the actual code,

[2022-04-24 14:24] timhoffm commented on #22859
When I delete a font on windows, it's not available anymore in Word. OTOH I also do not get a "Deleted" folder (not even if I open Word, create a document using that font and then deleting it).

The "Deleted" folder seems like an implementation detail of windows, which might change over time.

For me both variants would be ok:
- Don't special-handle \fonts\deleted as this seems some internal logic

[2022-04-24 14:38] anntzer commented on #22880
The fact that ipython/ipykernel are not dependencies is **intentional** and not a bug: it is absolutely intended that matplotlib can be installed without also installing ipython/ipykernel; this will not change.  It is also intended that in that case (of an install without ipython/ipykernel), importing backend_nbagg will result in a ModuleNotFoundError.  Therefore there is no todo here.

As a gener

[2022-04-24 14:40] liu-6666 opened #22888 "[ENH]: mpl_toolkkits with datetime"
### Problem

Hello everyone, I recently tried to draw 3D images using matplotlib, where I want to use the **z axis as the timeline**, but always report errors, only support strings and float numbers.
The data for the z-axis is datetime after processing with **pandas**,I can use this set of data as a timeline for a two-dimensional image, but I don't always do it when drawing a three-dimensional ima

[2022-04-24 14:40] anntzer commented on #22859
That's what I suggested in https://github.com/matplotlib/matplotlib/issues/22859#issuecomment-1107446997: can you quickly try if moving a font to a subdirectory (e.g. c:\windows\fonts\whatever) (perhaps rebooting after that in case there's any caching) makes it invisible e.g. to word?

[2022-04-24 15:57] anntzer commented on #22888
This is a known limitation, already tracked at #22207.

[2022-04-24 15:57] #22888 closed

[2022-04-24 21:28] RylanSchaeffer commented on #9800
Are there any updates on this? I'm hitting this error, frustratingly.

[2022-04-24 21:29] oscargus commented on #7741
This currently does not error, but gives the following message:
[code]

[2022-04-24 22:30] jklymak commented on #9800
@RylanSchaeffer please open anew issue with a reproducible self-contained minimal example.  Thanks

[2022-04-24 23:18] liuzhenqi77 commented on #4822
I also met this problem in a different setting. Although `weight` is fixed, `stretch` and other parameters does not seem to work for me.

Using Google's Noto Fonts as an example, I have these fonts of different stretch installed, but they have the same stretch in `fontlist-v330.json`.
[code]

[code]

Also, I have these two different fonts installed, but it seems there is no reliable way to get the

[2022-04-25 01:25] tacaswell commented on #22880
we access Qt via PyQt and making a distinction between "pure" Python and Python + extensions is not a sustainable path.

This is the reason that debian (and conda) actually produce multiple packages from the Matplotilb source.  If you want to pull library apart and package sub-sections so you can never install with a missing dependency that is a down-stream packaging choice.

We have the optional

[2022-04-25 10:50] StefanBrand commented on #9728
I can confirm that using `Series.values` makes the legend work, i.e. in your example:

[code]

[2022-04-25 11:06] oscargus commented on #9728
@StefanBrand I believe the original problem is that the "label information" from the data frame is not passed on to the legend. So although it plots well, the request is that there should be a legend entry "A" in your code example. Which is not possible since `values` (and `to_numpy()` which both are used in the Matplotlib conversion) drops that information. So there should probably be some additi

[2022-04-25 14:08] tacaswell opened #22893 "rainbow text example is broken"
Currently, the example is broken again:
https://matplotlib.org/stable/gallery/text_labels_and_annotations/rainbow_text.html
<img width="559" alt="image" src="https://user-images.githubusercontent.com/44469195/165059458-cd34437f-b55d-470f-9972-b93d207abe5b.png">
However, the spacing looks fine when running the exact same script locally.
Mabye there is a certain `rcParams` set in the documentation,

[2022-04-25 14:19] tacaswell commented on #22893
I think this is a good first issue (constrained problem, hopefully no API design), but medium difficulty because it will require understanding how we do font layout.

I have suspicion that this is related to the dpi being different from when we grab the text

Because we are now building high-dpi versions of the images we have 2 copies of each figure in the docs (which has contributed to our run-aw

[2022-04-25 14:28] jklymak commented on #9728
[code]

works as expected.  We do not support getting the label automatically from the data, so far as I know.  I think this can be closed.

[2022-04-25 14:28] #9728 closed

[2022-04-25 18:36] timhoffm commented on #22859
I tested the reverse: Adding a font in a subfolder (with reboot). That font is not visible. Also, you need admin rights to do so since the font folder is protected, and the GUI-Font installation always goes to c:\windows\fonts. So I guess we should not check any subdirectories.

[2022-04-25 21:29] timhoffm commented on #7741
Thanks @oscargus.

I think this warning is good enough so I'll close the issue. Please report back if this is not good enough.

[2022-04-25 21:32] timhoffm commented on #22866
Makes sense. It does not fit into `mpl-brochure-site`.

We may need a place to document which repositories are used for which parts of the docs. - Should this be in a separate repo as well? :stuck_out_tongue_winking_eye:

[2022-04-25 22:22] anntzer commented on #7741
@timhoffm I think this is still a reasonable feature request ("support partial usetex in ps output" -- like all other backends do), and could therefore be kept open?

[2022-04-25 22:22] timhoffm opened #22897 "[Doc]: Improve API documentation of attributes"
### Documentation Link

_No response_

### Problem

We currently have to resort to literals, instead of links

- ax.transAxes / transAxes
- ax.dataLim
- ax.fmt_xdata / ax.fmt_ydata / ax.fmt_zdata
- Axes.lines
- axes.bbox
- figure.bbox
- cbar_axes

### Suggested improvement

We should have API documentation for this, and it should be referencable in sphinx.

What needs to be done:
Figure out how th

[2022-04-26 00:20] tacaswell commented on #22681
Please remember both that Matplotlib has a very wide user base, so it is very common that different users will have _wildly_ different expectations of what the "obvious" behavior is and than complexity (similar to entropy) can not actually be removed, it can only be moved around ;)

If we did not present the key press (and release) of the modifier keys we would get bug reports the other way!  They

[2022-04-26 12:08] noatamir opened #22900 "[Doc]: Typo in triage acknowledgment"
### Documentation Link

https://matplotlib.org/devdocs/devel/triage.html#acknowledgments

### Problem

* There is a typo in the acknowledgment: `sckit-learn` is misspelled (missing the first i).
<img width="387" alt="Screenshot 2022-04-26 at 14 06 59" src="https://user-images.githubusercontent.com/6564007/165296547-9083ce4e-db18-469c-b189-7bb9c3983f07.png">

### Suggested improvement

* change to

[2022-04-26 12:29] lrtfm opened #22901 "[Bug]: Patch Circle not plotted correct in the symlog scale"
### Bug summary

Patch Circle is not plotted correctly in the `symlog` scale.

### Code for reproduction

[code]

### Actual outcome

![1650975844(1)](https://user-images.githubusercontent.com/1192812/165299201-6799107d-6688-4ca1-bfca-d5c5537aaf6a.png)

### Expected outcome

The blue line should coincide with the black line.

### Additional information

_No response_

### Operating system

_No res

[2022-04-26 12:33] raamana commented on #22681
true! I realize the complexity of MPL user base, but can you elaborate more on what sort of users/domains/applications would expect `alt+s` to be broadcast as two keys? I personally haven't come across them so I am curious.

[2022-04-26 12:49] story645 commented on #22866
Could maybe go in the dev guide for doc contributions since "where is this thing I want to change?" is a not infrequent new contributor question.

[2022-04-26 12:51] mapfiable opened #22902 "[Bug]: axes.set_position() does not work properly"
### Bug summary

I'm trying to create a custom colorbar (hence the code below is loosely based on [this post](https://stackoverflow.com/q/71384228/5472354)), and while creating the data and colorbar itself works fairly well, I'm having trouble aligning the colorbar with the corresponding plot. I'm trying to use `axes.set_position()`, but for some reason, the `y`-values are overwritten.

This is pr

[2022-04-26 13:44] jklymak commented on #22902
This is behaving as expected (see the docs for `set_position` https://matplotlib.org/3.5.0/api/_as_gen/matplotlib.axes.Axes.set_position.html#matplotlib.axes.Axes.set_position.  You may also check https://matplotlib.org/stable/gallery/subplots_axes_and_figures/colorbar_placement.html#colorbars-with-fixed-aspect-ratio-axes.    Please take user help to discourse.matplotlib.org.  Thanks for your unde

[2022-04-26 13:44] #22902 closed

[2022-04-26 14:34] andreamoro-git opened #22903 "Quiver unexpectedly transposes input matrices"
### Bug summary

When being fed a matrix of directions, quiver behaves unexpectedly. With the following code I expect the bottom-right arrow (element [2,0]) to point to the left. However, it's the top-left as in the attached figure.

### Code for reproduction

[code]

### Actual outcome

![image](https://user-images.githubusercontent.com/34944866/165324119-2defa4df-a5ae-438b-9d46-90e726bcfc16.png)

[2022-04-26 14:36] andreamoro-git commented on #22903
The following produces the expected result instead:
[code]

[2022-04-26 14:42] jklymak commented on #22903
Y[2,0]=2, right?  We are putting the arrow in the right place and this is behaving as expected.  I'll close this and if you require further discussion please discuss at discourse.matplotlib.org.

[2022-04-26 14:42] #22903 closed

[2022-04-26 14:43] mapfiable commented on #22902
Hi @jklymak thanks for your quick reply. I'd be happy to post my issue there, but the platform doesn't allow me to:
![grafik](https://user-images.githubusercontent.com/48512334/165325335-1d311556-e49b-41ea-b18f-3c10179190d7.png)
I've no idea which host it is referring to, but even when I start deleting links, it tells me since I'm a new user, I can only include two links anyways. That seems a bit

[2022-04-26 15:11] jklymak commented on #22902
`set_position` indeed positions the axes, but then `set_aspect(1)` squeezes one of the two dimensions so that the axes has a 1:1 aspect ratio.  Unless the position you pass to `set_position` has a 1:1 aspect ratio, the axes "active" position will be shorter than the "original".

The tutorial suggests using `inset_axes` to create an axes that tracks the parent.

[2022-04-26 15:46] tacaswell commented on #22902
Fair. we recently pushed up the number of images, pushing up the number of links also makes sense.  Discourse is aimed to be used by the general internet which is notable a terrible place and the default new user limits are set to discourage people posting spam/scam messages.

-----

Also look at `ax.set_adjustable` to control if we re-position the Axes or change the data limits to match the reque

[2022-04-26 16:06] tacaswell commented on #22681
[code]

you should see a stream of

[code]

You do get press/release events for `alt+s`, but you also get press/release events for just alt.  If you do not care about the bare alt events, ignore them, but if you did want them and we do not provide them you are out of luck.   Something I think would be a reasonable UI would be the case where you have multi-modal data (think multi-channel florescenc

[2022-04-26 16:32] anntzer opened #22905 "[Doc]: Duplicated toc entries"
### Documentation Link

https://matplotlib.org/stable/users/explain/interactive.html

### Problem

The "interactive figures and asynchronous programming" and "event handling and picking" entries both appear twice (at two different levels) in the left bar TOC.
![if](https://user-images.githubusercontent.com/1322974/165348427-f00fd45e-1f9c-41e5-abde-979e5479dda0.png)

Also, having both "interactive

[2022-04-26 18:01] tacaswell commented on #22866
Currently we are pulling the artifacts for our docs from 14 different repos (see
https://github.com/matplotlib/matplotlib.org/blob/e57c891aaddf8fda1c5fd06dcb5c99875e2c05bf/matplotlib.org.yml#L10-L24) so although I agree with the sentiment, I think we are well past hoping to keep the number of repositories involved to very small numbers.  The very large number of repos contributing to the docs is n

[2022-04-26 18:01] tacaswell commented on #22900
This was closed by #22904

[2022-04-26 18:01] #22900 closed

[2022-04-26 18:14] jklymak commented on #22866
OK, that makes sense.  maybe just leave it open to be more than just "dev guide" in case we want other docs not tied explicitly to the release cycle?

[2022-04-26 18:15] jklymak commented on #22902
Off topic, but I do wonder if we can move discussions like this to GitHub discussions.  We've tried discourse for a while, but maybe its time to re-evaluate if it is the right tool for us.

[2022-04-26 18:29] tacaswell commented on #22902
@jklymak Start a discussion on discourse ;)

[2022-04-26 18:33] raphaelquast opened #22908 "[Bug]: QuadMesh get_cursor_data errors if no array is set"
### Bug summary

This is just a very minor bug I noticed...

When using a QuadMesh without setting an array, the get_cursor_data function throws an error because it does not check if an array has been set.

 This is somewhat connected to #22334 but this is just about the case when no array has been set.

### Code for reproduction

[code]

### Actual outcome

[code]

### Expected outcome

no error

[2022-04-26 18:33] raphaelquast commented on #22908
here's a project to fix it: #22907

[2022-04-26 18:45] meluso opened #22910 "[Bug]: bar_label fails with nan errorbar values"
### Bug summary

`ax.bar_label` appears not to be robust to bars with missing (nan) values when also including error values. This issue is similar to [#20058](https://github.com/matplotlib/matplotlib/issues/20058/), but occurs in each of three cases:

Case 1.  When a dependent value is missing.
Case 2.  When an error value is missing.
Case 3.  When both a dependent value and an error value are mis

[2022-04-26 18:45] tacaswell commented on #22866
That seems correct to me, but no better term is coming to mind quickly.  I would also want to move the communication guidelines out of governance to the new repo along with guides/templates on how to handle common situations with (new) contributors ("we do not assign issues, just start working", "congrats on your first PR, hope to here from you again!", "this better handled on discourse", "can you

[2022-04-26 19:07] raamana commented on #22681
i tried the script above, I could get `ctrl+s`, `super+s` but never `alt+s`.. also some weird `ß` instead of `s`

[code]

[2022-04-26 19:58] tacaswell commented on #22681
That is a bug!

Can you open a new issue?  Please include what kind of keyboard you have, what language your OS is in, if this is consistent across toolkits, and if that happens with other non-'s' keys?  Does it happen with both alts?

My guess is that you are getting into deadkeys / extra levels of shift which is turning alt-s into https://en.wikipedia.org/wiki/%C3%9F which according to wikipedia

[2022-04-26 20:26] jklymak commented on #22681
I think that's how MacOS works? There is no real "Alt" key.  "Option" gives you different characters... option-r: ®.  option-t †.  etc.

[2022-04-26 21:08] timhoffm commented on #7741
Sure - reopening with adapted title.

[2022-04-26 22:08] larsoner opened #22913 "Side-remark: It would be really cool if one could specify that individual code sections can be/are folded (or maybe completely omitted?) in sphinx-gallery. This is one of the gallery entries in which only the generated figure is relevant not the code that is generating it."
Side-remark: It would be really cool if one could specify that individual code sections can be/are folded (or maybe completely omitted?) in sphinx-gallery. This is one of the gallery entries in which only the generated figure is relevant not the code that is generating it.

_Originally posted by @timhoffm in https://github.com/matplotlib/matplotlib/issues/22912#issuecomment-1110293857_

[2022-04-26 22:09] larsoner commented on #22913
Argh sorry I was trying to create this is sphinx-gallery...

[2022-04-26 22:09] #22913 closed

[2022-04-26 22:43] oliverw96 opened #22914 "[Bug]: Sliders stop working after some time in Jupyter notebook"
### Bug summary

Sliders stop working several seconds after being moved. Sometimes when moving just one slider, sometimes moving first one then the other. Using VS Code, but also reproduced in standard Jupyter notebook (see also https://github.com/microsoft/vscode-jupyter/issues/9780).

### Code for reproduction

[code]

### Actual outcome

Sliders stop working.

### Expected outcome

Sliders shou

[2022-04-26 23:43] mwaskom commented on #22897
I think one (the?) way to get "documented attributes" is to make them properties, then sphinx autodoc will pick up the docstring. I am not sure whether cross-references work there, but I'm not sure why they wouldn't.

[2022-04-27 03:50] carlosgmartin opened #22915 "[Bug]: figure.raise_window rcParam does not work on MacOSX backend"
### Bug summary

The figure.raise_window rcParam does not work on MacOSX backend.

Related:
- https://github.com/matplotlib/matplotlib/issues/596
- https://github.com/matplotlib/matplotlib/issues/8692
- https://github.com/matplotlib/matplotlib/pull/15440
- https://stackoverflow.com/questions/44278369/how-to-keep-matplotlib-python-window-in-background
- https://stackoverflow.com/questions/45729092/

[2022-04-27 09:58] kkoutris commented on #22893
I'd like to work on this issue, but I don't know where to start(I'm just getting started to open source contributing). Can you @tacaswell guide me?

[2022-04-27 11:32] timhoffm commented on #22897
Properties would work. However, I'm reluctant to add complexity and overhead to the code only to get documentation.

One can add attribute documentation to the class docstring [in numpydoc](https://numpydoc.readthedocs.io/en/latest/format.html#class-docstring). And we [sometimes already do that](https://matplotlib.org/stable/api/axes_api.html?highlight=axes#matplotlib.axes.Axes). The problem is th

[2022-04-27 14:33] #22914 closed

[2022-04-27 14:44] NickolasGiannatos commented on #22686
should this be the expected outcome of the solution?
![Στιγμιότυπο οθόνης (104)](https://user-images.githubusercontent.com/72826029/165545175-aca35912-1b46-491d-8fb3-841e1ae4a1c4.png)

[2022-04-27 15:14] ianhi commented on #22686
@NickolasGiannatos that looks like the correct starting position if you give an init value of `(0, 0)`. The next things to check are that it looks correct when you move the slider around, and that it looks correct with init values like `(.3, .5)`

[2022-04-27 15:31] story645 opened #22917 ""ab;cd" missing in subplot_mosaic tutorial"
### Documentation Link

https://matplotlib.org/devdocs/tutorials/provisional/mosaic.html

### Problem

As of #18763, "ab;cd" is valid input into subplot_mosaic to generate a 2x2 plot. While the docs were updated, the tutorial wasn't.

### Suggested improvement

Add a paragraph to the [string shorthand section](https://matplotlib.org/devdocs/tutorials/provisional/mosaic.html#string-short-hand) demo

[2022-04-27 16:27] Jeffrey-Alec-Smith opened #22918 "[Bug]: 3D plot_surface edge tearing with masked array"
### Bug summary

Using plot_surface with masked arrays can lead to tearing at the edges between the data and the mask.
I have created a question on StackOverflow with images of the tearing: [Here's the link](https://stackoverflow.com/questions/72016361/edge-tearing-in-matplotlib-surface-plot-with-masked-array)

### Code for reproduction

[code]

### Actual outcome

![Tearing near the edges on the

[2022-04-27 16:57] jklymak commented on #22917
I thought we decided to not feature that shorthand on purpose?

[2022-04-27 17:05] AnnaMastori commented on #22686
@ianhi Me and @NickolasGiannatos work together. It works for (.3, .5). Is there anything else that we should try ?
![Στιγμιότυπο οθόνης (107)](https://user-images.githubusercontent.com/72812754/165580835-cc41e3f7-7761-42e2-b276-2e1f9c12fffa.png)

[2022-04-27 17:11] story645 commented on #22917
can't find reference of not featuring it in original issue or meeting notes?

[2022-04-27 17:21] ianhi commented on #22686
@AnnaMastori @NickolasGiannatos can you please open a PR with your changes? It makes it much easier to discuss if we can all look at the same code.

[2022-04-27 17:34] ianhi commented on #22686
That's fine! I had lots of mistakes my first time

[2022-04-27 17:43] timhoffm commented on #22917
Why should we not feature the shorthand. Since we  have decided that it's a reasonable API we also should advertise it.

[2022-04-27 17:57] tacaswell commented on #22681
oh, interesting.  We do have some re-mapping internally to rename 'option' to 'alt' https://github.com/matplotlib/matplotlib/blob/1ab4a53d1cce6a8692d5439660f292683f4f7296/src/_macosx.m#L1543-L1545

Maybe we should be dropping 'option' on the floor and document that we do not have alt on OSX?

[2022-04-27 18:06] jklymak commented on #22681
I think alt/option are usually considered the same, but I don't know what you do about the Mac translating alt-t to a unicode character before it shows up as alt-t

[2022-04-27 18:16] greglucas commented on #22681
Looks like this is only a tk issue? I can't reproduce in the macosx backend, or the qt5agg backends. In tk I get `option-r: ®` and on the others I get `option-r: alt+r`

I don't think we should drop option in the macosx backend, this indicates they are equivalent I think:
https://developer.apple.com/documentation/appkit/nsevent/modifierflags/1642431-option
Rather, there is probably an update that

[2022-04-27 18:29] tacaswell commented on #22681
ok, so this issue is restricted to:
 - tk backend
 - on OSX
?

https://github.com/matplotlib/matplotlib/blob/1ab4a53d1cce6a8692d5439660f292683f4f7296/lib/matplotlib/backends/_backend_tk.py#L179

to

https://github.com/matplotlib/matplotlib/blob/1ab4a53d1cce6a8692d5439660f292683f4f7296/lib/matplotlib/backends/_backend_tk.py#L356-L358

to

https://github.com/matplotlib/matplotlib/blob/1ab4a53d1cce6a

[2022-04-27 19:38] greglucas commented on #22681
I agree with that, it seems like it is happening somewhere earlier in the stack. The event passed in has this repr:
`<KeyPress event state=Mod2 keysym=registered keycode=260047022 char='®' x=358 y=271>`
which is already modified.

[2022-04-27 19:54] QuLogic commented on #22681
In the macosx backend, we ask for `charactersIgnoringModifiers`. According to the docs, there is [`characters`](https://developer.apple.com/documentation/appkit/nsevent/1534183-characters?language=objc) and [`charactersIgnoringModifiers`](https://developer.apple.com/documentation/appkit/nsevent/1524605-charactersignoringmodifiers?language=objc); the former does translation to dead keys/Unicode/etc

[2022-04-27 20:23] larsoner opened #22921 "[Bug]: Regression in animation from #22175"
### Bug summary

On a9dd8b999a74d7cefc92f3c599bee6c11958d05a things are fine, on the next commit 396a010a6147e232d7ab101db9e4b5c6a48d0b36 from #22175 we get an error with previously working animation code.

### Code for reproduction

[code]
~~This is nowhere near self-contained, but it will probably take me some time to make a self-contained example. In the meantime I wanted to post this issue in

[2022-04-27 20:48] oscargus commented on #13184
Currently it gives, for the same example

![image](https://user-images.githubusercontent.com/8114497/165627728-ed80a03e-b053-49cb-afb2-cb9cee7badf5.png)

so something has gone bad. However, I've checked sankey.py and I cannot really see any relevant changes there since https://github.com/matplotlib/matplotlib/pull/13213 so maybe something else has changed somewhere? Looks like the minimum length o

[2022-04-27 20:54] larsoner commented on #22921
Okay the minimal example wasn't so bad, updated top comment.

[2022-04-27 21:03] larsoner commented on #22921
Argh actually on main `git revert f93a0fc251f7aa0a8da71f92e97e54faa25b8cd7` (f93a0fc251f7aa0a8da71f92e97e54faa25b8cd7) seems to fix it, not `git revert 396a010`. Apparently I am bad at `git bisect`. So maybe it's actually #22476?

[2022-04-27 22:57] QuLogic commented on #22921
I can confirm it started failing in f93a0fc251f7aa0a8da71f92e97e54faa25b8cd7.

[2022-04-27 23:14] QuLogic commented on #13184
It doesn't seem to have worked in #13213 either. Perhaps an external change?

[2022-04-28 02:32] greglucas commented on #22921
I think this ultimately stems from removing `offsetsNone` back in https://github.com/matplotlib/matplotlib/pull/20717
We need some way of tracking that the (0, 0) case was actually passed in and desired, or if that is just the default (0, 0) from initialization. Seems like adding that flag (maybe renaming it too) is the quick fix?

[code]

[2022-04-28 04:24] tacaswell commented on #22893
https://matplotlib.org/stable/devel/contributing.html#contributing-code is a good place to start with getting the code checked out ready to go.

In this case the only code that needs to change is the code in the example so you should be able to work on this without installing Matplotlib from source if you do not want to.

Between my and Jody's comments I think there is enough information on how to

[2022-04-28 06:15] QuLogic commented on #20490
With #22002 as it is now, the [above test](https://github.com/matplotlib/matplotlib/issues/20490#issuecomment-997285267) is down to about 1-2MB, but once you insert a `gc.collect` in the loop, then there is no leak.

[2022-04-28 07:00] mapfiable commented on #22902
Thanks for considering. I haven't used discourse anywhere else, but it seems like a decent platform. But yes, posting something as a new user can be pretty frustrating, especially if you get such vague error messages. Surely it must be possible to include the offending link(s) in the message? Or better yet, have it live-check the urls while you are still typing and warn you. Same goes maybe for th

[2022-04-28 07:40] iDTer commented on #13139
didn't help...

[2022-04-28 07:51] iDTer commented on #13139
Why this bug remains unsolved to this day....

[2022-04-28 07:55] anntzer commented on #4822
@liuzhenqi77 Thanks for the report, I agree with the issue.  This looks like a limitation in the stretch detection in ttfFontProperty; probably we should just copy the implementation at https://gitlab.freedesktop.org/fontconfig/fontconfig/-/blob/main/src/fcfreetype.c similarly to what I did for the weight.  Can you open a separate issue to track this?

[2022-04-28 13:43] NickolasGiannatos commented on #22686
Hello, we did a PR although I can't see any link with the issue. Is there something we did wrong ?

[2022-04-28 14:20] 664787022 opened #22927 "[Bug]: ax.clabel() returns None, when I set a projection to ax?"
### Bug summary

plt.clabel() or ax.clabel() should return A list of text instances for the labels.
However, when i add a projection parameter to ax, plt.clabel() or ax.clabel()  returns a None.
I don't know what happend. How can i get returned result in this situation?

### Code for reproduction

[code]

### Actual outcome

None

### Expected outcome

<a list of 7 text.Text objects>

### Addition

[2022-04-28 15:14] greglucas commented on #22927
I can't reproduce this. I get the list of text objects printed out running with the latest Cartopy and Matplotlib. Perhaps you are using an old version of Cartopy?

[2022-04-28 15:17] kmodexc commented on #22333
i have the same error even after deleting and fresh install of my venv. For me its not an option to use jupyter. Is there anyway to fix this?

[code]

I dont have anything globally installed.

[2022-04-28 15:22] greglucas commented on #22915
Thanks for the easily reproducible example. I put a fix in https://github.com/matplotlib/matplotlib/pull/22928 if you're interested in testing that out at all.

[2022-04-28 15:49] oscargus commented on #22910
I have a solution that works when running in the shell, but not in the test as I get a runtime warning because of the nan-values. Will see if I can find a solution in the next few days.

[2022-04-28 15:57] tacaswell commented on #22333
@kmodexc Can you please provide an minimal example, the full traceback, and the versions of Python, numpy, matplotlib, and pandas you have installed?

The two tracebacks are likely similar, but are hitting slightly different places in numpy but are both at
https://github.com/numpy/numpy/blob/0eaa40db3a2f6bef26c0d7cc28eacf4f6d461917/numpy/core/getlimits.py#L457-L462
[code]

which if I am reading th

[2022-04-28 16:07] larsoner opened #22930 "[Bug]: Regression in dashes due to #22569"
### Bug summary

Previously working plotting code has broken. It fails on 96ddc6728ce09cb61f6b6c53714755fe0936b106 / #22569 but passes on the parent daaa1ed376b4fc60ed5a20d155a13c6361aee479.

### Code for reproduction

[code]

### Actual outcome

No line shown, error while drawing
[code]

### Expected outcome

Line shown

![Screenshot from 2022-04-28 12-03-38](https://user-images.githubusercontent

[2022-04-28 16:13] larsoner commented on #22930
It looks like internally matplotlib uses `'solid': (0, None)` which is fine, I can switch our code to that -- but it seems like for backward compat supporting `'solid': (0, ())` as an alias would make sense since it used to be that way in official examples:

https://github.com/matplotlib/matplotlib/blob/908d23d5975d4f4a4c7eb85a057be069700c5a98/examples/lines_bars_and_markers/linestyles.py#L14

[2022-04-28 16:31] lrtfm commented on #22901
Yes, the bezier line is accurate enough. In  your figure (the plot of d), we can see the max error of the bezier line is below 1e-5. However, in my figure, the error is bigger then (1e-3 - 1e-5). This is weird.
When I create a circle by using the following formula (cos and sin), we will see the same result as the bezier line.
[code]
![183679ED-7E18-4588-8398-43031C94DC8D](https://user-images.githu

[2022-04-28 16:46] kmodexc commented on #22333
@tacaswell

`np.finfo(float).tiny` works

as i found out it only happens when i use [yappi ](https://github.com/sumerc/yappi) for profiling. Here the minimal example:

[code]
- Python 3.10.4
- pandas 1.4.2
- matplotlib 3.5.1
- yappi 1.3.3

I could break on that point with pdb and it turns out `numeric.dtype` is None.

[code]

[2022-04-28 17:02] tacaswell commented on #22901
oooh, 🤦🏻 I get it now 🐑

I think the overall technical explanation is still correct (in the case of the `Circle` we are transforming the control points and then doing the interpolation in screen space vs sampling first and then transforming).  Doing the transfrom than sample approach is not correctly accounting from the transition from log to linear (because it only looks at the points where it ha

[2022-04-28 17:13] tacaswell commented on #22333
So, I have a very wild guess that this is an interaction between yappi (with what ever it is doing for tracing), numpy's multi-level import of dtype (it looks like it comes from a c-extension, imported to multiarray then imported to numeric), and pandas (at least provious behavior) of forcibly re-importing numpy.

At the risk of playing hot-potato I think that this needs to be reported to `yappi`.

[2022-04-28 18:38] noatamir opened #22932 "[Doc]: small edits to the Pull request guidelines"
### Documentation Link

https://matplotlib.org/devdocs/devel/coding_guide.html

### Problem

- In the first note, second bullet, after `Nevertheless,` and before `please try to follow the guidelines...`
    - Add the word `please`
- Change the PR in the following subtitles to say `pull request`. So that all the titles and subtitles on the page consistently use the full term `pull request(s)` and n

[2022-04-28 18:58] #22859 closed

[2022-04-28 19:11] Croadden commented on #22927
@greglucas Tried to reproduce on Python 3.8.3 with Matplotlib 3.5.1and latest Cartopy & Shapely versions. Can't reproduce it too. @664787022 could you please reinstall [related libs](https://stackoverflow.com/questions/70177062/cartopy-not-able-to-identify-geos-for-proj-install-on-windows)? I'm pretty sure you have some issues with them. Also be careful when reinstalling Cartopy, geos and Shapely

[2022-04-28 19:15] #22930 closed

[2022-04-28 19:44] Croadden commented on #22905
I think I can handle it

[2022-04-28 21:30] wannieman98 commented on #22803
Hi, I wanted to give this issue a try but wanted to clarify the tasks. My understanding with the comment @tacaswell has written. Is this simply a documentation issue or should the implementation of the simplification logic completed as well?

[2022-04-28 21:35] wannieman98 commented on #22893
Hi, can I try working on it if the issue is still open?

[2022-04-28 23:27] tacaswell opened #22934 "option+letter on OSX with tkagg give non-alpha numeric rather than alt-<letter>"
This issue is restricted to:
 - tk backend
 - on OSX

https://github.com/matplotlib/matplotlib/blob/1ab4a53d1cce6a8692d5439660f292683f4f7296/lib/matplotlib/backends/_backend_tk.py#L179

to

https://github.com/matplotlib/matplotlib/blob/1ab4a53d1cce6a8692d5439660f292683f4f7296/lib/matplotlib/backends/_backend_tk.py#L356-L358

to

https://github.com/matplotlib/matplotlib/blob/1ab4a53d1cce6a8692d5439

[2022-04-28 23:32] tacaswell commented on #22934
Per https://github.com/matplotlib/matplotlib/issues/22681#issuecomment-1111406783 we are getting the non-alpha numeric out of Tk before we can do anything about it.

Per https://github.com/matplotlib/matplotlib/issues/22681#issuecomment-1111419878 the underlying event from OSX has access to both, but tk is giving use the non-alpha numeric.  It is still unknown if we can get the tkinter module to c

[2022-04-28 23:34] tacaswell commented on #22934
I have labeled this as a medium difficulty good first issue because it involves no API design, but does require understanding enough about Tk on OSX to definitively answer if we can turn this behavior off or not.  If we can not. we probably should close this issue and open an issue with upstream CPython to add this feature.

[2022-04-28 23:36] tacaswell commented on #22803
@wannieman98 The first step is to sort out if we need to do any implementation or just document how to opt-into the optimizations.   If we already have the functionality, then it is just documentation.  If not, then it needs to be both implemented and documented.

[2022-04-28 23:48] #20490 closed

[2022-04-28 23:48] #22858 closed

[2022-04-29 01:23] greglucas commented on #22181
Interestingly, I can't reproduce this anymore. I did upgrade OS from Catalina to Monterey recently, so that could have something to do with the warnings appearing in an older OS. I'm going to close this, but we can reopen if anyone else runs into this.

[2022-04-29 01:23] #22181 closed

[2022-04-29 01:42] 664787022 commented on #22927
Thanks!  It works after I updated my Cartopy to latest version.

[2022-04-29 01:55] #22927 closed

[2022-04-29 02:14] moi15moi commented on #22859
Thanks !

[2022-04-29 04:56] lrtfm commented on #22901
@tacaswell thanks for your explanation. I agree with that. Could you explain the meaning of "the inversion of curvature is right"?

[2022-04-29 05:19] qzhang234 opened #22937 "[ENH]: Global setting to make `/mathdefault` the default math type"
### Problem

I am trying to generate scientific journal compatible figures in Matplotlib. Most of the journals have specific font requirements (e.g. Times New Roman) and I find myself typing something like `$\mathdefault{_x}$` instead of just `${_x}$` throughout the script, which reduces the readability of the scrpit.

### Proposed solution

Is it possible to have a global setting like `matplotlib

[2022-04-29 05:26] carlosgmartin commented on #22915
@greglucas Works for me. Thanks.

[2022-04-29 07:23] #22932 closed

[2022-04-29 07:24] #22915 closed

[2022-04-29 09:51] gaody9527 opened #22938 "[MNT]: External Library freetype need upgrade"
### Summary

I used the 3dparty inspection tool: SecBinaryCheck, after scanning, Matplotlib3.5.1 is dependent on a minimum version of freetype 2.6.1, and it related 10 CVE
[CVE-2017-7858](https://nvd.nist.gov/vuln/detail/CVE-2017-7858)
[CVE-2017-8287](https://nvd.nist.gov/vuln/detail/CVE-2017-8287)
[CVE-2016-10328](https://nvd.nist.gov/vuln/detail/CVE-2016-10328)
[CVE-2017-8105](https://nvd.nist.g

[2022-04-29 12:42] jklymak commented on #22938
Matplotlib is not susceptible to these vulnerabilities and our freetype is pinned for a good reason. If you identify security vulnerabilities please report privately to matplotlib@numfocus.org.  Thanks!

[2022-04-29 13:19] NickolasGiannatos commented on #22934
Hello, I would like to try this issue with my colleague but none of us have worked on the backend before.

[2022-04-29 16:42] tgrohens commented on #22803
Hi,

I've tried to investigate why the `Line2D` path gets simplified but not the `Patch` one, and I believe there's two different knobs that need to be turned in order to get the Patch path simplified.

First, the `_should_simplify` attribute of the `Path` object representing the patch is set to `False` during its construction, because the path ends with a `Path.CLOSEPOLY` command, which is greate

[2022-04-29 17:45] carlosgmartin opened #22939 "[MNT]: Pause should not raise window by default"
### Summary

As pointed out in https://github.com/matplotlib/matplotlib/issues/596#issuecomment-322996723 and https://github.com/matplotlib/matplotlib/issues/596#issuecomment-323651892, `pause` should not raise the window by default. There are many users who have trouble with that behavior:
- https://stackoverflow.com/questions/44278369/how-to-keep-matplotlib-python-window-in-background
- https://

[2022-04-29 20:26] tacaswell commented on #22939
An rcparam for controlling this behavior was added in mpl 3.3 to address this: https://matplotlib.org/stable/users/prev_whats_new/whats_new_3.3.0.html#rcparams-for-controlling-default-raise-window-behavior

Please remember that Matplotlib's user base is very wide and for ever user who definitely does not want the figure to come to the front, we have a user who definitely does!  It is my understand

[2022-04-29 20:44] tacaswell commented on #22803
Not entirely because at the next layer down a `LINETO` back to the origin strokes it as a line (which end caps) that just happen to be at the same point.  This means if you look closely you can which junction in in the path is the first one.  Where as if you use `CLOSEPOLY` it will be rendered as a contentious line like any other junction in the path.  I suspect if we were to relax this condition

[2022-04-29 21:00] NickolasGiannatos commented on #22934
This seems to be out of our league so we won't be able to help thank you though.

[2022-04-29 21:14] tacaswell commented on #22934
Reading code is a skill (that is as different skill than _writing_ code) that is worth practicing.  Digging into big libraries, their interfaces, and how they interact is a great way to practice (and can be sort of fun for its own sake).

There is no magic in any of these systems, "just" layers of abstraction and code that can (with effort and time) be understood!

[2022-04-30 00:02] #21901 closed

[2022-04-30 00:07] #22908 closed

[2022-04-30 02:56] QuLogic commented on #22938
This is in PNG code, which we don't enable.

This was introduced in 2.9, so irrelevant.

We only load TrueType, not Type 1 fonts (or OpenType with PostScript in them), so that should not be a problem.

These ones are new in that they were not listed in FreeType's change log. I will need to investigate them.

[2022-04-30 04:12] QuLogic commented on #22938
This is CFF which is Type 1 or OpenType, so we shouldn't hit it.

This is about Type 1 again.

[2022-04-30 09:16] oscargus commented on #22867
Closing this and at some stage hopefully introducing mpl-signal (or something).

[2022-04-30 09:16] #22867 closed

[2022-04-30 15:41] Cgadal opened #22947 "[Bug]: Can't use `plt.sca()` on axes created using subfigures"
### Bug summary

Using `plt.sca()` on an axes created using subfigures result in an error.

### Code for reproduction

[code]

### Actual outcome

[code]

### Expected outcome

It should set the given ax as the current axe, as done by the code below:
[code]

### Additional information

_No response_

### Operating system

UBuntu 20.04

### Matplotlib Version

3.5.1

### Matplotlib Backend

QtAgg

[2022-04-30 15:41] tfpf commented on #22937
It is possible to set a single font for the entire figure, but multiple `rcParams` have to be set. As a workaround to avoid having to type `mathdefault` over and over again, if it is specifically Times New Roman that is needed, consider using STIX, which is designed to blend with Times New Roman.

    import matplotlib.pyplot as plt
    plt.rc('mathtext', fontset='stix')
    plt.rc('font', family=

[2022-04-30 16:00] tacaswell commented on #22947
The fix for this is likely to relax the type checking in `plt.figure` to accept `FigureBase` and to make sure that top level `Figure` is still the one set as the current figure.

https://github.com/matplotlib/matplotlib/blob/89b21b517df0b2a9c378913bae8e1f184988b554/lib/matplotlib/pyplot.py#L755-L759 is the first place that needs to be updated to detect a `SubFigure` and try to make the top most `F

[2022-04-30 16:16] AnnaMastori commented on #22947
Me and my colleague are going to try it!

[2022-04-30 16:56] tacaswell commented on #22867
https://github.com/matplotlib/matplotlib-extension-cookiecutter may be helpful!

[2022-04-30 19:14] duburcqa opened #22948 "[Bug]: Segfault at exit when importing pytorch"
### Bug summary

I have a segfault if I import both `matplotlib` and `torch` in that exact order.

### Code for reproduction

[code]

### Actual outcome

Here is the backtrace with `gdb`. Nothing to see apparently...
[code]

### Expected outcome

Exit code 0

### Additional information

Building matplotlib from source fix the issue, so I assume `matplotlib` is causing the segfault rather than `tor

[2022-04-30 21:19] tacaswell commented on #22948
I can not reproduce this with a clean installation of torch + matplotlib from pypi

[code]

Do you see any other issues with Matplotlib usage if you do not import torch?  If not and the segfault is on importing torch, I strongly suggest the issue is on that side.

There is another issue where making plots during training will segfault torch where I am suspicious that there is a bug in their refere

[2022-04-30 22:09] tacaswell commented on #8246
There is at least an issue on the IPython side to track this https://github.com/ipython/ipython/issues/13617

[2022-04-30 22:13] tacaswell commented on #22939
also xref https://github.com/matplotlib/matplotlib/issues/8246

[2022-04-30 22:14] tacaswell commented on #8246
I am going to close this because:

1. the root cause of the recently discussed issue is how IPython manages the Qt event loop integration
2. we now have an rcparam to control if showing a figure takes focus or not
3. https://github.com/matplotlib/matplotlib/pull/22005 further defers when we do any GUI framework importing which should also help

[2022-04-30 22:14] #8246 closed

[2022-04-30 23:36] tacaswell commented on #22744
From a pure implementation point of view we the best case would be if we did not have the cache (as cache invalidation is hard) at all and any method that _needs_ a renderer is passed one in.  Anything that is going to know information about going all the way to the screen is going to need a renderer.  If any `get_window_extent` needs the renderer, they should _all_ take it or the signature instab

[2022-04-30 23:54] matthewfeickert opened #22949 "DEV: Decide if pre-commit should continue to be used"
_Originally posted by @tacaswell in https://github.com/matplotlib/matplotlib/issues/22777#issuecomment-1114065762_

@tacaswell turned on pre-commit.ci for PR #22777

[![pre-commit.ci status](https://results.pre-commit.ci/badge/github/matplotlib/matplotlib/main.svg)](https://results.pre-commit.ci/latest/github/matplotlib/matplotlib/main)

following discussions in PR #22809, PR #22777, and [on Gitte

[2022-05-01 06:40] duburcqa commented on #22948
I can confirm that there is something wrong with my setup. I don't have the same issue in a venv after installing a freeze of my native env (and removing packages installed using `apt get`). It is quite strange. May be related to the fact that I updated from 21.10 to 22.04. Anyway, thanks for your help !

[2022-05-01 07:04] duburcqa commented on #22948
OK I found the inconsistency between both setup. I will further investigate. In the `venv`, `/usr/lib/x86_64-linux-gnu/libLLVM-13.so.1` is NOT loaded, while it is natively.

[2022-05-01 07:18] duburcqa commented on #22948
Ok I manage to found it the difference between native and venv ! In the venv, the default backend is `TkAgg` while it is `GTK4Agg` for native. Manually switching to `TkAgg` using MPLBACKEND='TkAgg' did the trick ! So it looks like a bug with matplotlib ?

[2022-05-01 07:39] #22948 closed

[2022-05-01 10:53] #22921 closed

[2022-05-01 14:27] kkoutris commented on #22392
I would like to work on this issue. Can someone guide me (where to look at) except angle_annotation.py ??

[2022-05-01 15:29] kkoutris commented on #20841
I would like to work on this issue. Can someone guide me a bit?

[2022-05-01 18:09] greglucas commented on #16369
This is working as expected on main now and will be in the next release.

[2022-05-01 18:09] #16369 closed

[2022-05-01 18:59] greglucas commented on #22760
I'm going to close this issue as fixed on main and will be in the upcoming 3.6 release. There is also a reasonable workaround (using `draw_idle()` instead of `draw()`) on 3.5 since we aren't backporting the macos fixes to 3.5.x.

[2022-05-01 18:59] #22760 closed

[2022-05-01 19:40] tacaswell commented on #22948
If you are pulling compiled sources from multiple places, it would not surprise me if you accidentally ended up with some ABI incompatibility that the packaging tools can not track.  Entirely possible that this is none of the projects in particular, but down to compilation / linking details conflicting.

[2022-05-01 19:45] duburcqa commented on #22948
Yes, I get that, but the python bindings for GTK4 are distributed with Ubuntu 22.04 and not manually installed, so there is little the user can do about it. In this context, for me pytorch should take care of it, otherwise it will fail for everybody trying to use both matplotlib and pytorch without venv apparently.

[2022-05-01 21:29] timhoffm opened #22954 "[Doc]: v3.5.1 github stats are missing"
### Documentation Link

https://matplotlib.org/devdocs/users/prev_whats_new/github_stats_3.5.1.html

### Problem

It seems that https://matplotlib.org/devdocs/users/github_stats.html contains the correct data but is not mentioning the 3.5.1 version number neither in filename nor in title.

### Suggested improvement

_No response_

[2022-05-01 22:31] tacaswell commented on #22954
attn @QuLogic

[2022-05-02 03:29] tacaswell commented on #20841
In a number of places in the code base where we take in a way to format a string, particularly around formatting ticks where the user can pass format strings or a callable with a signature than looks like

[code]

The work here is to:
 - implement the logic in matplotlib.pyplot.bar_label to detect if the input is a string or a callable
 - add a test
 - add documentation

Bonus points if the API on

[2022-05-02 04:22] Obliman commented on #22861
@timhoffm Thanks for the response. Do you have any guess on when this bug will be addressed? I imagine if it hasn't come up until now it's not going to be a high priority.

[2022-05-02 07:20] kolibril13 opened #22956 "[MNT]: Idea to accelerate docs contributions with `Build changes only docs`."
### Summary

Contributing small docs changes has one bottleneck in my perception: CircleCI takes LONG to build new changes in examples.
When I execute the python script locally, it takes about 0.2 seconds.
The CircleCI docs build takes more than 30 minutes.
I know that the sphinx rendering must also take some seconds, but it would be amazing if there was a way to bring the build time down to e.g.

[2022-05-02 10:46] timhoffm commented on #22861
We have limited core developer resources and mpl_toolkits/mplot3d is only a secondary priority for the core team. Likely this needs someone in the community to pick up and provide a fix.

[2022-05-02 11:24] timhoffm commented on #22956
Speeding up doc builds is highly desirable. If this could be made to work this would be awesome.

You are very welcome to dig into the build process and try to make it faster. However, I suppose this is more complicated than one thinks. A very basic distinction could be made whether changes are in examples (generated via sphinx-gallery) or the api docs or other .rst pages. Then build only that par

[2022-05-02 14:48] andrew-fennell opened #22959 "[MNT]: macos-latest memory leak over threshold"
### Summary

`macos-latest` test is failing. Memory leakage is slightly over the threshold.

Failing test:
`lib/matplotlib/tests/test_backends_interactive.py:559: AssertionError`

Exact assertion error:
`assert growth <= acceptable_memory_leakage`
`assert 30457856 <= 30000000`

Example of test failing: [macos-latest failing](https://github.com/matplotlib/matplotlib/runs/6252442019?check_suite_focu

[2022-05-02 15:11] andrew-fennell commented on #22959
Threshold can be raised by 1000000 (double 457856) to account for fluctuation.

[2022-05-02 15:22] 664787022 opened #22960 "[ENH]: Cannot get colormaps registered by register_cmap() after restart python or IDE"
### Problem

I used register_cmap() to register a new colormap, but i am not able to get that colormap by using get_cmap **after I turned off IDE and restarted.**
It seems that register_cmap() does not register a colormap permanently?  When i turn off python and restart, i  can't get that colormap i registered from matplotlib because the memory is released.
**Is there any way to register a colorma

[2022-05-02 16:00] tgrohens commented on #22803
Following your suggestion, I've tried to split the work by first enabling paths that finish with a `CLOSEPOLY` to be simplified.

When doing this, the `imshow_clip`, `contour_colorbar` and `arc_ellipse` tests break.
For the first two tests, this the result of a Path being simplified that was not simplified before, and so I believe that the expected image could be updated in order to make the test

[2022-05-02 17:52] #22959 closed

[2022-05-02 17:54] Obliman commented on #22861
Small update: I found that disabling the alpha on the Path3DCollection to_rbga_array call fixes the behavior, (though things get weird if you turn depthshade back on). I haven't tested much to see why/what else this affects, but I thought it was interesting enough to comment.
[code]

[2022-05-02 21:13] QuLogic commented on #22954
They aren't missing; the stats for the latest release are always in `github_stats.html`. We can add the version into the title there, I suppose.

[2022-05-02 22:53] tacaswell commented on #22960
This is the expected behavior, `register_cmap` only makes changes to the running process.

I am very skeptical of this having a persistent effect.  While I do see why it would be useful it falls too much on the "application" side of the "application" vs "library" axis.   It would open up a huge amount of complexity to persist and automatically reload the colormaps on Matplotlib import.

That said,

[2022-05-02 23:36] #22954 closed

[2022-05-02 23:39] anntzer commented on #22960
Agreed with @tacaswell.

[2022-05-02 23:39] #22960 closed

[2022-05-02 23:44] timhoffm commented on #22960
I agree that `register_cmap()` should not make any persistent changes.

I could imagine a way to add cmaps via config in a declarative way. However that needs design considerations  a format specification, and separate implementation paths. Such an extension seems reasonable but low priority.

[2022-05-03 02:50] tacaswell commented on #22803
Are you running with the right style?  We set a bunch of rcparams to "old" values so we do not need to change the images!  That looks like auto-scaling going funny....

[2022-05-03 03:32] 664787022 commented on #22960
Thanks for giving advice!

[2022-05-03 03:33] 664787022 commented on #22960
Thanks!

[2022-05-03 10:23] maweigert opened #22965 "[Bug]: triplot duplicates label legend"
### Bug summary

Hi,

When using `triplot` with a `label` the resulting legend contains two duplicated entries (even though the markers is None):

[code]
<img width="500" alt="Screenshot 2022-05-03 at 12 17 10" src="https://user-images.githubusercontent.com/11042162/166437380-3c5a22bd-e404-4224-9907-288f97ff75c5.png">

I think expected behavior would be either

1) Remove the second legend entry if

[2022-05-03 17:06] naiborhujosua opened #22966 "[Bug]: importing Matplotlib failed on python 3.9"
### Bug summary

I am using a windows 10 machine and using Anaconda 2.1.1. I attempted to Import matplotlib.pyplot and got an error. It has been working fine until yesterday. However, it is not working at the moment
[code]

### Code for reproduction

[code]

### Actual outcome

It is just a simple importing of the library but it didn't work. I use python 3.9

### Expected outcome

It is simply imp

[2022-05-03 23:35] Obliman commented on #22861
Update: It is clear that the behavior in my original post is being caused by the current normalization method for the depthshading, in combination with the self._alpha value described in my previous post. What is strange is that the color_array in `return mcolors.to_rgba_array(color_array)` seems to already be adjusted with the right alpha values to match the colors being drawn, which self._alpha

[2022-05-04 02:15] Obliman commented on #22861
The depth shading can be configured in four ways, with the first representing the typically desired behavior:
[code]

[2022-05-04 05:00] lancelot1969 commented on #13139
Having the same issue but in my case:
`findfont: Font family ['Heiti TC'] not found. Falling back to DejaVu Sans.`

[2022-05-04 09:45] oscargus commented on #22966
Did you update any packages yesterday?

[2022-05-04 09:57] balaji-ch opened #22968 "[Bug]: plot crashes without any log"
### Bug summary

plot function doest plot any figure. Also freetype version  2.10.4  which is supposed to be a non problematic version of freetype.

Name                    Version                   Build  Channel
freetype                  2.10.4               h546665d_1    conda-forge

Issue is still there with backends like  Qt5Agg, TkAgg .

### Code for reproduction

[code]

### Actual outcome

[2022-05-04 10:48] tgrohens commented on #22803
I've sorted out the problem for the `arc_ellipse` test: without simplification, the topmost point on the ellipse path was at y=0.65+ε, leading to a tick at 0.7 at the top of the figure (ticks here have a step size of 0.05).
With simplification, this point is removed and the new topmost point is at y=0.65-ε, leading to a top tick at 0.65 that doesn't allow for the whole width of the line to be draw

[2022-05-04 11:32] naiborhujosua commented on #22966
@oscargus no, I didn't update any packages.
I searched in [stackoverflow](https://stackoverflow.com/questions/64209744/importerror-cannot-import-name-animation-matplotlib-python-3-8-5). However, no solutions worked for me.

[2022-05-04 11:35] Luluser opened #22969 "[ENH]: Voxels as mappable for colorbar"
### Problem

Hi;

I'm working with 3D plots and I use colored voxels to plots a 4th dimension.

When one wants to use a colorbar, one usually uses an image or a contourf in the colorbar creation method like so :

[code]

It is very handful to handle all the colormap arguments (such as vmin etc) directly from the image but doesn't work with voxels.

Currently I use this :

`

    palette=mpl.cm.get

[2022-05-04 12:33] jklymak commented on #22969
Voxels doesn't do colormapping so how are we to infer the colormap map from the artist?  Please provide a complete example, but this doesn't seem possible.

[2022-05-04 13:24] ortk95 opened #22970 "[Bug]: Colorbar extend patches do not have correct alpha"
### Bug summary

When a colorbar has `extend != 'neither'`, the triangles at the end of the colorbar always have `alpha=1`, even when the rest of the colorbar has a different alpha value.

### Code for reproduction

[code]

### Actual outcome

![image](https://user-images.githubusercontent.com/26504228/166689164-2e0f569b-7b5d-4bbd-becd-1e7b45a68cde.png)

### Expected outcome

The triangles at the

[2022-05-04 13:49] jklymak commented on #22803
Do we have enough dev feedback on whether we want path simplification here?   I tend to think path simplification is a bad idea, leading to aliasing and weird effects.  If the user cannot handle all the data in the plot then they should either simplify or rasterize.

[2022-05-04 13:50] jklymak commented on #22970
What happens if you do set_over and set_under?    I actually think the behaviour of the Colorbar alpha matching the alpha of the image is questionable behaviour.

[2022-05-04 14:01] naiborhujosua commented on #22966
[code]

@tacaswell, when I just did import matplotlib.pyplot as plt , it gave the same error

[2022-05-04 14:16] ortk95 commented on #22970
I've just tested this with an older conda environment and the colorbar and triangles have consistent alpha with matplotlib 3.4.3, so this appears to be an issue introduced in a recent update
<img width="511" alt="image" src="https://user-images.githubusercontent.com/26504228/166700225-cd3fffed-2ced-4b61-b069-1f76af5c644a.png">
Figure generated using code in https://github.com/matplotlib/matplotlib

[2022-05-04 14:17] tacaswell commented on #22803
We do simplification by default on Line2D, independent if that is a good idea or not, if we do it in one place it makes sense we should do it in the other.

The path simplification we are talking about here is done at a very low level in the backends to drop points that "have no effect" (with a knob for what "no effect" means).  We only know how to evaluate this at the last possible moment (the "r

[2022-05-04 14:20] paulgoulain opened #22971 "[Bug]: svg.fonttype = none and text.usetex = True not working together"
### Bug summary

When saving a figure in svg using the option text.usetex = True, the texts in the obtained svg picture are rendered as path.

### Code for reproduction

[code]

### Actual outcome

![image](https://user-images.githubusercontent.com/46636669/166700522-4f8af241-5bca-415c-a228-e2c3311bf46f.png)

As an example, the label here is a path svg object.

### Expected outcome

![image](https

[2022-05-04 14:22] greglucas commented on #22970
You can specify an RGBA fill in the over:
`cmap.set_over((1, 0, 0, 0.2))`
which does show a light fill, but I tend to agree that the old way was more consistent with what someone would expect. I think this is probably due to the previous versions drawing the extends as part of the primary mesh, while now it is a separate patch.

I think the fix here is to add `self.alpha` into the PathPatch creati